//============================================================================//
//                                Back Matter                                 //
//============================================================================//

.back-matter-title-wrap {
  margin-top: $back-matter-title-block-margin-top;
  margin-bottom: $back-matter-title-block-margin-bottom;

  .back-matter-number {
    display: none;
    visibility: hidden;
  }

  .back-matter-title {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $section-title-font-family;
    font-size: $section-title-font-size;
    font-style: $section-title-font-style;
    font-weight: $section-title-font-weight;
    hyphens: none;
    text-align: $back-matter-title-align;
    text-transform: $section-title-text-transform;
  }
}

// Bibliography
div.bibliography p {
  padding-left: 2em; // TODO
  font-size: .9em; // TODO
  text-indent: -2em; // TODO
}

// Index
div.index {
  .ugc {
    column-count: 2; // TODO
    column-gap: 2.5em; // TODO
  }

  div {
    margin-bottom: 4em; // TODO
  }

  p,
  .indent,
  .no-indent {
    padding-left: 2em; // TODO
    font-size: .9em; // TODO
    text-align: left;
    text-indent: -2em; // TODO
  }

  .sub-entry {
    padding-left: 4em; // TODO
  }
}
