//CHAPTER PAGE OPENING - GLOBAL


/* DIV WRAPPER AROUND CHAPTER NUMBER + TITLE (BUT NOT AUTHOR, SUBTITLE ETC) */

.chapter-title-wrap {
  margin-top: $section-title-margin-top;  
  margin-bottom: $section-title-margin-bottom;
}

/* CHAPTER NUMBER */ 

h3.chapter-number {
  font-family: $font-3;
  font-size: $chapter-number-font-size; 
  font-style: $chapter-number-font-style;
  font-weight: $chapter-number-font-weight; 
  text-transform: $chapter-number-text-transform;
  width: 15%;
  padding-bottom: 1em;
  line-height: 1;
  margin-top: $chapter-number-margin-top;
  display: $chapter-number-display;
}

/* NUMBERLESS CHAPTERS HAVE NO CHAPTER NUMBERS!! */

div.chapter.numberless h3.chapter-number {
  display: none;
}

/* CHAPTER TITLE */ 

h2.chapter-title {
  font-family: $font-2;
  font-size: $section-title-font-size;
  font-style: $section-title-font-style;
  font-weight: $section-title-font-weight;
  text-transform: $section-title-text-transform;
  display: block;
  margin-bottom: 0.5em; 
  padding-bottom: 1.5em;
  margin-top: $section-title-margin-top; 
  hyphens: none;
  -webkit-hyphens: none; 
}


/* CHAPTER SUBTITLE (NOTE: IT IS NOT WRAPPED IN THE CHAPTER-TITLE-WRAP DIV) */

h2.chapter-subtitle {
  font-family: $font-2;
  font-size: $section-subtitle-font-size;
  font-style: $section-subtitle-font-style;
  font-weight: $section-subtitle-font-weight;
  text-transform: $section-subtitle-text-transform;
  margin-left: 0;
  margin-right: 0;
  display: block;
  column-span: all;
  margin: -1.5cm 0 3em;
  padding-top: 0.2em;  
  hyphens: none;
  -webkit-hyphens: none; 
}


/* CHAPTER AUTHOR (NOTE: IT IS NOT WRAPPED IN THE CHAPTER-TITLE-WRAP DIV) */

h2.chapter-author {
  font-family: $font-1;
  font-size: $section-author-font-size;
  font-style: $section-author-font-style;
  font-weight: $section-author-font-weight;
  text-transform: $section-author-text-transform;
  margin-left: 0;
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 1.5cm;
  hyphens: none;
  -webkit-hyphens: none; 
}
h2.chapter-subtitle + h2.chapter-author {
  margin-top: -1cm;
}
h2.chapter-title + h2.chapter-author {
  margin-top: -2cm;
}

/* CHAPTER APHORISM (NOTE: IT IS NOT WRAPPED IN THE CHAPTER-TITLE-WRAP DIV) */

.aphorism {
  text-indent: 0;
  margin-bottom: 2em; 
}
.aphorism cite {
    display: block;
    font-size: 0.8em;  
}
.aphorism cite::before {
  content: "–";
}
