//============================================================================//
//                                   Chapter                                  //
//============================================================================//

.chapter-title-wrap {
  margin-top: $section-title-block-margin-top;
  margin-bottom: $section-title-block-margin-bottom;

  .chapter-number {
    display: $chapter-number-display;
    margin-top: $chapter-number-margin-top;
    margin-bottom: $chapter-number-margin-bottom;
    font-family: $chapter-number-font-family;
    font-size: $chapter-number-font-size;
    font-style: $chapter-number-font-style;
    font-weight: $chapter-number-font-weight;
    line-height: $chapter-number-line-height;
    text-align: $chapter-number-align;
    text-transform: $chapter-number-text-transform;
  }

  .chapter-title {
    display: block;
    margin-top: $section-title-margin-top;
    font-family: $section-title-font-family;
    font-size: $section-title-font-size;
    font-style: $section-title-font-style;
    font-weight: $section-title-font-weight;
    hyphens: none;
    text-align: $chapter-title-align;
    text-transform: $section-title-text-transform;
  }
}

// Subtitle (outside .chapter-title-wrap)
.chapter-subtitle {
  display: block;
  padding-top: $section-subtitle-padding-top;
  margin-top: $section-title-margin-bottom - $section-title-block-margin-bottom;
  margin-bottom: $section-title-block-margin-bottom;
  font-family: $font-2;
  font-size: $section-subtitle-font-size;
  font-style: $section-subtitle-font-style;
  font-weight: $section-subtitle-font-weight;
  hyphens: none;
  text-align: $chapter-subtitle-align;
  text-transform: $section-subtitle-text-transform;
  column-span: all;
}

// Author (outside .chapter-title-wrap)
.chapter-author {
  display: block;
  margin-bottom: $section-title-block-margin-bottom;
  font-family: $font-1;
  font-size: $section-author-font-size;
  font-style: $section-author-font-style;
  font-weight: $section-author-font-weight;
  hyphens: none;
  text-align: $chapter-author-align;
  text-transform: $section-author-text-transform;
}

.chapter-subtitle + .chapter-author {
  margin-top: $section-subtitle-margin-bottom - $section-title-block-margin-bottom;
}

.chapter-title-wrap + .chapter-author {
  margin-top: $section-title-margin-bottom - $section-title-block-margin-bottom;
}

// Aphorism (outside .chapter-title-wrap)
.aphorism {
  margin-bottom: 2em;
  text-align: $aphorism-align;
  text-indent: 0;

  cite {
    display: block;
    font-size: .8em;

    &::before {
      content: '–';
    }
  }
}

// Numberless Chapters
.numberless .chapter-number {
  display: none;
}
