//============================================================================//
//                                  Chapters                                  //
//============================================================================//

.before-title .front-matter-title-wrap {
  margin-top: 0;
  margin-bottom: .5em;
}

.front-matter-title-wrap {
  margin-top: $section-title-block-margin-top;
  margin-bottom: $section-title-block-margin-bottom;

  .front-matter-number {
    display: none;
    visibility: hidden;
  }

  .front-matter-title {
    display: block;
    font-family: $font-2; // TODO
    font-size: $section-title-font-size;
    font-style: $section-title-font-style;
    font-weight: $section-title-font-weight;
    hyphens: none;
    text-align: $front-matter-title-align;
    text-transform: $section-title-text-transform;
  }
}

// Copyright Page
#copyright-page {
  .ugc {
    margin-top: $section-title-block-margin-top;

    p {
      margin-bottom: 1em; // TODO
      font-family: $font-1; // TODO
      font-size: .8em; // TODO
      font-style: normal; // TODO
      font-weight: normal; // TODO
      line-height: 1.2em; // TODO
      text-align: $copyright-p-align;
      text-indent: 0;
    }
  }
}


// Dedication
.dedication {
  margin-right: 10%; // TODO
  margin-left: 10%; // TODO

  p {
    margin-bottom: 1em; // TODO
    font-family: $font-1; // TODO
    font-size: 1em; // TODO
    font-style: italic; // TODO
    font-weight: normal; // TODO
    text-align: $dedication-p-align;
  }
}

// Epigraph
.epigraph {
  margin-right: 10%; // TODO
  margin-left: 10%; // TODO

  p {
    margin-bottom: 1em; // TODO
    font-family: $font-1; // TODO
    font-size: 1em; // TODO
    font-style: italic; // TODO
    font-weight: normal; // TODO
    text-align: $epigraph-p-align;
  }
}
