@import '_font-stack-web'; // Dynamically generated

$serif-web: serif !default;
$sans-serif-web: sans-serif !default;

$font-1: "Tinos", $serif-web;
$font-2: "Galdeano", $sans-serif-web;

@import url("https://fonts.googleapis.com/css?family=Galdeano|Tinos:400,400italic,700,700italic");
