@import '_font-stack-prince';

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

$font-1: "Crimson Text", "Times New Roman", $serif-prince;
$font-2: "Roboto Condensed", $sans-serif-prince;