@import 'fonts', '_font-stack-web';

$serif-web: serif !default;
$sans-serif-web: sans-serif !default;

$font-1: "Crimson Text", "Times New Roman", $serif-web;
$font-2: "Roboto Condensed", $sans-serif-web;