@import '_font-stack-epub'; // Dynamically generated

$serif-epub: serif !default;
$sans-serif-epub: sans-serif !default;

$font-1: "Times New Roman", Times, Georgia, $serif-epub;
$font-2: "Arial Narrow", Arial, "Helvetica Neue", Helvetica, $sans-serif-epub;
