@import '_font-stack-prince'; // Dynamically generated

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

$font-1: "Linux Libertine", $serif-prince;
$font-2: "Linux Biolinum", $sans-serif-prince;

@import 'LinuxBiolinum';
@import 'LinuxLibertine';
