@import 'fonts', '_font-stack-prince';

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

$font-1: "Linux Libertine", $serif-prince;
$font-2: "Linux Biolinum", $sans-serif-prince;