//============================================================================//
//                                Back Matter                                 //
//============================================================================//

// Bibliography
div.bibliography p {
  padding-left: $bibliography-padding-left;
  font-size: $bibliography-font-size;
  text-indent: $bibliography-text-indent;
}

// Index
div.index {
  .ugc {
    column-count: $index-column-count;
    column-gap: $index-column-gap;
  }

  div {
    margin-bottom: $index-margin-bottom;
  }

  p,
  .indent,
  .no-indent {
    padding-left: $index-para-padding-left;
    font-size: $index-para-font-size;
    text-align: $index-para-align;
    text-indent: $index-para-indent;
  }

  .sub-entry {
    padding-left: $index-sub-entry-padding-left;
  }
}
