[submodule "symbionts/search-regex"]
	path = symbionts/search-regex
	url = https://github.com/pressbooks/search-regex.git
[submodule "symbionts/scssphp"]
	path = symbionts/scssphp
	url = https://github.com/leafo/scssphp.git
