/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpstorm.meta.php export-ignore
/.stylelintrc export-ignore
/.travis.yml export-ignore
/.tx export-ignore
/assets/src export-ignore
/bin export-ignore
/codecov.yml export-ignore
/phpcs.ruleset.xml export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/webpack.mix.js export-ignore
/yarn.lock export-ignore
