[submodule "symbionts/search-regex"]
	path = symbionts/search-regex
	url = https://github.com/pressbooks/search-regex.git
[submodule "symbionts/custom-metadata"]
	path = symbionts/custom-metadata
	url = https://github.com/pressbooks/custom-metadata.git
[submodule "symbionts/mce-table-buttons"]
	path = symbionts/mce-table-buttons
	url = https://github.com/pressbooks/mce-table-buttons.git
[submodule "symbionts/disable-comments"]
	path = symbionts/disable-comments
	url = https://github.com/pressbooks/disable-comments.git
