{
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": 2,
		"media-feature-name-no-unknown": [
			true,
			{
				ignoreMediaFeatureNames: ["min--moz-device-pixel-ratio"]
			}
		]
	}
}
