<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" cacheResult ="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./inc</directory>
    </include>
    <exclude>
      <directory suffix=".php">./inc/modules/export/epub/templates</directory>
      <directory suffix=".php">./inc/modules/export/indesign/templates</directory>
    </exclude>
  </coverage>
  <php>
    <const name="WP_TESTS_MULTISITE" value="1"/>
    <const name="WP_RUN_CORE_TESTS" value="0"/>
    <env name="PB_HEALTH_CHECK_TOKEN" value="health-check-token"/>
  </php>
  <testsuites>
    <testsuite name="Pressbooks">
      <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
