<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
	</php>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./inc</directory>
			<exclude>
				<directory suffix=".php">./inc/modules/export/epub/templates</directory>
				<directory suffix=".php">./inc/modules/export/indesign/templates</directory>
			</exclude>
		</whitelist>
	</filter>
	 <listeners>
        <listener class="\MyBuilder\PhpunitAccelerator\TestListener"/>
    </listeners>
</phpunit>
