<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
	</php>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./inc</directory>
			<exclude>
				<directory suffix=".php">./inc/modules/export/epub/templates</directory>
				<directory suffix=".php">./inc/modules/export/indesign/templates</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<ini name="memory_limit" value="-1" />
		<ini name="opcache.enable_cli" value="1" />
		<ini name="opcache.file_cache" value="/tmp/php-opcache" />
		<ini name="xdebug.default_enable" value="0" />
		<ini name="xdebug.remote_enable" value="0" />
	</php>
</phpunit>
