
/* PRESSBOOKS PDF FALL-BACK STYLESHEET FOR VARIOUS SPECIAL THINGS
in development
copyright 2013-2015 Book Oven Inc. */

@import 'tables', 'textboxes';

@mixin header-style {
	color: red;
}

/* DROPCAPS - (NOTE: WRAP FIRST CHAR IN A SPAN) */


/* Override hierarchy.
See: http://www.princexml.com/doc/8.1/pdf-bookmarks */
h1, h2, h3, h4, h5, h6 {
  prince-bookmark-level: 1;
}

div.ugc h1, div.ugc h2, div.ugc h3, div.ugc h4, div.ugc h5, div.ugc h6 {
  bookmark-level: none;
  page-break-after: avoid;
}


/* DEFAULT PAGE GROUPINGS & associated style
note: should all page groupings be put here? probably.
===================================================== */


/*  PAGE GROUPINGS */

div.front-matter.before-title {
  page: before-title;
  prince-page-group: start;
}
div#half-title-page {
  page: halftitle-page;
  prince-page-group: start;
}
div#title-page {
  page: title-page;
  prince-page-group: start;
}
#toc {
  page: toc;
  prince-page-group: start;
}
div.front-matter {
  page: front-matter;
  prince-page-group: start;
}
div#copyright-page {
  page: copyright-page;
  prince-page-group: start;
}
div.front-matter.dedication {
  page: dedication;
  prince-page-group: start;
}
div.front-matter.epigraph {
  page: epigraph;
  prince-page-group: start;
}
div.front-matter.introduction {
  page: introduction;
  prince-page-group: start;
}
div.chapter {
  page: chapter;
  prince-page-group: start;
}
div.chapter.standard {
  page: chapter;
  prince-page-group: start;
}
div.back-matter {
  page: back-matter;
  prince-page-group: start;
}
div.part {
  page: part;
  prince-page-group: start;
}
div.blank-page {
  page: blank-page;
  prince-page-group: start;
}

/* ALWAYS BLANK PAGES */


@page before-title {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page halftitle-page {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page title-page {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page epigraph {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page dedication {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page copyright-page {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page toc {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page front-matter:blank {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page introduction:blank {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page part:blank {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page chapter:blank {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page back-matter:blank {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page:blank {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}
@page blank-page {
    @top {
       content: "";
    }
    @top-right {
       content: "";
    }
    @top-right-corner {
      content: "";
    }
    @top-left {
       content: "";
    }
    @top-left-corner {
      content: "";
    }
    @bottom {
       content: "";
    }
    @bottom-right {
       content: "";
    }
    @bottom-right-corner {
       content: "";
    }
    @bottom-left {
       content: "";
    }
    @bottom-left-corner {
       content: "";
    }
}


/* ALWAYS START ON RIGHT HAND PAGE */

div.front-matter.introduction {
  page-break-before: right !important;
 }
#half-title-page {
  page-break-before: right;
}
#title-page {
  page-break-before: right;
 }
#toc {
  page-break-before: right;
}

/* DEFAULT STRING-SETS ...
enable you to call system-wide content using:
--
content: string(arbitrary-string-set-name);

--
*/

/* book-wide strings  */

meta[name="pb-title"] {
  string-set: book-title attr('content');
}

.short-book-title {
  visibility: hidden;
}

meta[name="pb-short-title"] {
  string-set: book-title attr('content');
}

meta[name="pb-subtitle"] {
  string-set: book-subtitle attr('content');
}

meta[name="pb-author"] {
  string-set: book-author attr('content');
}

meta[name="pb-publisher"] {
  string-set: book-publisher attr('content');
}

meta[name="pb-publisher-city"] {
  string-set: book-publisher-city attr('content');
}

/* PART & CHAPTER STRINGS */

.part-title-wrap h3.part-number {
	string-set: part-number content();
}

.part-title-wrap h1.part-title {
	string-set: part-title content();
}

h3.chapter-number {
    string-set: chapter-number content();
}

div.chapter.numberless h3.chapter-number {
	display: none;
}

/* chapter title */
div.front-matter .front-matter-title-wrap > h1:first-of-type,
div.chapter .chapter-title-wrap > h2:first-of-type,
div.back-matter .back-matter-title-wrap > h1:first-of-type  {
  string-set: section-title content();
}


/* "short title override" ... this sets short chapter title content (for running header) but does not display it.
it can cause problems with spacing of things, so be careful to design around it */

div.front-matter > div.ugc h6.short-title:first-of-type,
div.chapter > div.ugc h6.short-title:first-of-type,
div.back-matter > div.ugc h6.short-title:first-of-type {
  string-set: section-title content() !important; /* override running header */
  visibility: hidden; /* display:none breaks string-set: */
  font-size: 0;
  height: 0;
}

div.ugc h2.chapter-author {
	string-set: chapter-author content();
}

div.ugc h2.chapter-subtitle {
	string-set: chapter-subtitle content();
}

/*  TITLE PAGE */

#title-page > .subtitle,
#title-page > div.logo,
#title-page > .author,
#title-page > .publisher,
#title-page > .publisher-city {
  bookmark-level: none;
}

/* GENERAL STYLES */

body,
.front-matter,
.chapter,
.back-matter,
p,
p.no-indent {
   hyphenate-before: 3;
   hyphenate-after: 3;
   hyphenate-lines: 2;
   widows: 2;
   orphans: 1;
}

p.no-indent {
  text-indent: 0;
  margin-top: 1em;
}

/* SEPARATORS */

hr {
  margin: 10px auto;
  text-align: center;
  width: 20%;
}

hr.break-symbols {
  border: none;
  font-size: 1.1em;
  margin-bottom: 20px;
}

hr.break-symbols::after {
  display: block;
  content: "\066D";
  font-size: 18pt;
  text-align: center;
}

div.ugc h3.section-break,
.section-break {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.ugc h3.section-break-space,
.section-break-space {
   visibility: hidden;
   margin-top: 1em;
   line-height: 1em;
   margin-bottom: 0em;
}

div.ugc h3.section-break-page,
.section-break-page {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-after: always;
}

div.ugc h3.section-break-page-invisible,
.section-break-page-invisible {
  visibility: hidden;
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-after: always;
}

div.blank-page {
  page-break-before: always;
  visibility: hidden;
  font-size: 0;
}

/* ENDNOTES */
sup,
sup.endnote,
sup.footnote {
  font-size: 0.8em;
  line-height: 0.5em;
}

.endnotes {
  margin-left: 1.5em;
}

.endnotes h3 {
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-left: -1.5em;
}
.endnotes hr {
  border: none;
  margin-top: 1cm;
}

.endnotes ol {
  font-size: 0.85em;
  margin-top: 5px;
  margin-left: 0;
  list-style-position: outside;
}
.endnotes li {
   margin-top: 5px;
}

.endnotes p + p {
  text-indent: 0;
}

/* FOOTNOTE FORMATTING */

span.fn_p {
  display: block;
  text-indent: 1.5em;
}
span.fn_blockquote {
  display: block;
  font-size: 0.95em;
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* LIST STYLES */

ol.upper-alpha {
  list-style-type: upper-alpha;
}


/* ASIDES, PULLQUOTES & TEXTBOXES
================================== */

.aside {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 2em 10%;
  padding: 10px 0;
  text-indent: 0;
}
@include textboxes();
.pullquote {
  border: 1px solid;
  border-width: 1px 0;
  display: block;
  hyphens: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
  width: 65%;
}
.pullquote-left {
  border: 1px solid;
  border-width: 1px 0;
  float: left;
  hyphens: none;
  margin: 15px 15px 15px 0;
  padding: 5px 0;
  text-align: center;
  width: 45%;
}
.pullquote-right {
  border: 1px solid #000;
  border-width: 1px 0;
  float: right;
  hyphens: none;
  margin: 15px 0 15px 15px;
  padding: 5px 0;
  text-align: center;
  width: 45%;
}


/* SPECIAL PAGES */

#copyright-page {
  text-align: left;
  hyphens: none;
}
#copyright-page p {
  text-align: left;
  hyphens: none;
}
/* TOC
 =============== */

#toc .chapter.numberless a::before {
	content:'' ;
	counter-increment: none;
	margin-right: 0;
	left: 0;
	width: 0;
}

#toc .part.invisible {
	display: none;
}

#toc li {
  page-break-inside: avoid;
}

#toc .part {
  page-break-after: avoid;
}

#toc .chapter .section a::before {
	content:'';
	counter-increment: none;
}

/* TOC SECTIONS */

ul.sections {
  padding-top: 0.5em !important;
}

li.section {
  font-style: italic;
  margin-top: 0.75em;
  left: -1cm;
  right: -1cm;
  position: fixed;
}

li.section a::after {
 margin-right: -1cm;
}


/* INVISIBLE PARTS
 =============== */

div.part.invisible {
	display: none;
}

/* BIBLIOGRAPHY
 =============== */

.bibliography p  {
  font-size: 0.9em;
  padding-left: 14pt;
  text-indent: -14pt;
}

/* INDEX
================== */
.index .ugc  {
  column-count: 2;
  column-gap: 2.5em;
  text-align: left;
}
.index .ugc  div {
  margin-bottom: 4em;
}
.index .ugc  p {
  font-size: 0.9em;
  padding-left: 14pt;
  text-indent: -14pt;
  text-align: left;
}
.index .ugc  p.sub-entry {
  padding-left:30px;
}

/* SPECIAL PARAGRAPHS */

p.hanging-indent {
  padding-left: 1em;
  text-indent: -1em;
}

.hanging-indent {
  padding-left: 1em;
  text-indent: -1em;
}

.tight,
p.tight {
	letter-spacing: -0.25px;
	word-spacing: -0.075em;
}

.very-tight,
p.very-tight {
	letter-spacing: -0.5px;
	word-spacing: -0.09em;
}

.loose,
p.loose {
  letter-spacing: 0.25px;
  word-spacing: 0.075em;
}

.very-loose,
p.very-loose {
  letter-spacing: 0.5px;
  word-spacing: 0.09em;
}

/* PAGE-BREAKS */
.page-break-after,
.pdf-page-break-after {
  page-break-after: always;
}

.page-break-before,
.pdf-page-break-before {
  page-break-before: always;
}

.page-break-inside,
.pdf-page-break-inside {
  page-break-inside: auto !important;
}

/* THIS DOES NOT BELONG HERE DOES IT? */
.chapter-image {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  page-break-after: always;
}

/* NO HYPHENS */

.no-hyphens,
span.no-hyphens,
p.no-hyphens {
  hyphens: none;
}

/* NO WRAP */

.nowrap,
span.nowrap {
  white-space: nowrap;
}

/* DISPLAY NONE
IN VARIOUS CIRCUMSTANCES
========================= */

.display-none {
  display: none;
}

/* this ONLY works/is declared in PDF, ignored in MOBI & EPUB */

.pdf-display-none,
.not-pdf {
  display: none;
}
.web-only {
  display: none;
}
.epub-only {
  display: none;
}

/* PUBLISHER LOGO (FOR TITLE PAGE)
================================== */

img.logo {
  width: 35px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* FOOTNOTE COUNTER RESET */

div.front-matter,
div.part,
div.chapter,
div.chapter.introduction,
div.back-matter,
div.front-matter-title-wrap,
div.chapter-title-wrap,
div.back-matter-title-wrap {
  counter-reset: footnote !important;
}

/* PAGE 1: COUNTER RESET */

div.front-matter.introduction {
  counter-reset: page 1 !important;
}
div.part.introduction {
  counter-reset: page 1 !important;
}
div.chapter.introduction {
  counter-reset: page 1 !important;
}

/* FLOATS */

.float-top {
  float: top;
}
.float-top + p {
  margin-top: 0;
  text-indent: 1.5em;
}
.float-bottom {
  float: bottom;
}
.float-bottom + p {
  margin-top: 0;
  text-indent: 1.5em;
}
.float-none {
  float: none;
}

/* SPECIAL IMAGES */

.thin-image {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.thin-image-wrap  {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.wp-caption {
  page-break-inside: avoid;
}

img {
  prince-image-resolution: auto,normal;
}

/* TABLES */

@include tables();

table,
table tr,
table th {
  page-break-inside: avoid !important;
}

.no-border,
table.no-border,
table.no-border tbody,
table.no-border th,
table.no-border tr,
table.no-border td,
table.no-border tfoot,
table.no-border thead {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

/* SHADING ETC */

.shaded {
  background-color: #D8D8D8;
}

/* COLUMNS */

.twocolumn {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
  line-height: 1.2;
  column-count: 2;
  column-gap: 1.5em;
  column-fill: balance !important;
}
.twocolumn p,
.twocolumn p + p {
  line-height: 1.2;
  text-align: justify;
}

.threecolumn {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
  line-height: 1.2;
  column-count: 3;
  column-gap: 1em;
  column-fill: balance !important;
}
.threecolumn p,
.threecolumn p + p {
  text-align: left;
}

/* SIDEBAR */
div.sidebar {
  width: 35%;
  float: right;
  margin-left: 0.75em;
  margin-right: 0;
  padding: 0.75em;
  background-color: #E6E6E6;
  font-size: 0.8em;
  font-style: italic;
  text-align: left;
}
div.sidebar p,
div.sidebar p + p {
  text-align: left;
}

.clear {
  clear: both;
}
