// SASS MIXINS -- TABLE OF CONTENTS STYLING


//=====================
//SASS: TocLeft
//=====================

// scss-lint:disable NameFormat
@mixin TocLeft {
// scss-lint:enable NameFormat

 /* TOC general page structure */

  @page toc {
    @include blankheadandfoot;
  }

  #toc {
    counter-reset: part;
    page-break-before: right;
  }

 /* TOC Header */

  #toc h1 {
    @include frontmattertitle;
    display: block;
    padding-bottom: 1.5em;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    text-align: left;
  }

/* TOC general styling */

  #toc a {
    margin-left: 0;
    color: inherit;
    border: 0;
  }

  #toc ul,
  #toc li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #toc ul {
    margin-left: 1cm;
    line-height: 1.2;
    counter-reset: chapter;
  }

  #toc li {
    position: relative;
  }

  /* TOC FRONT-MATTER/BACK-MATTER & Margins */

  #toc li.front-matter {
    margin-top: .5em;
  }

  #toc li.back-matter {
    margin-top: .5em;
  }

  #toc li.chapter {
    margin-top: 1em;
  }

  #toc li.front-matter + li.chapter {
    margin-top: 1.5em;
  }

  #toc li.part.display-none + li.chapter {
    margin-top: 1.5em;
  }

  #toc li.front-matter + li.part {
    margin-top: 1.5em;
  }

  #toc li.chapter + li.back-matter {
    margin-top: 1.5em;
  }

  #toc li.part + li.back-matter {
    margin-top: 1.5em;
  }

  #toc .front-matter span.toc-chapter-title {
    position: relative;
    display: block;
  }

  #toc .front-matter span.toc-chapter-title {
    @include tocfrontmattertitle;
  }

  #toc .introduction span.toc-chapter-title {
    @include tocfrontmattertitle;
  }

  /* TOC PART STYLE */

  #toc .part {
    @include tocparttitle;
    width: 80%;
    margin: 1.5em 0;
    page-break-after: avoid;
  }

  #toc .part a::before {
    @include tocpartnumber;
    width: 80%;
    text-align: left;
    content: $part ' ' counter(part, upper-roman) '.\A0';
    counter-increment: part;
  }

  #toc .part a::after {
    content: '';
  }

  /* TOC CHAPTER STYLING */

  #toc .chapter {
    margin-top: .3em;
    margin-left: 0;
  }

  #toc span.toc-chapter-title {
    @include tocchaptertitle;
    position: relative;
    top: 0;
    display: inline-block;
    width: 80%;
    text-indent: 0;
    vertical-align: top;
  }

  #toc span.chapter-subtitle {
    @include tocchaptersubtitle;
  }

  #toc span.chapter-author {
    @include tocchapterauthor;
  }

  #toc span.chapter-author,
  #toc span.chapter-subtitle {
    display: inline-block;
    width: 75%;
    text-indent: 0;
  }

  /* TOC CHAPTER NUMBERS */

  #toc .chapter a::before {
    @include tocchapternumber;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    content: counter(chapter) '. ';
    counter-increment: chapter;
  }

  /* TOC BACK-MATTER STYLING */

  #toc .back-matter span.toc-chapter-title {
    @include tocbackmattertitle;
    position: relative;
    display: block;
  }

/* TOC PAGE NUMBERS */

  #toc a::after {
    @include tocpagenumber;
    position: absolute;
    top: .2em;
    right: 0;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: top;
    content: target-counter(attr(href), page);
  }

  #toc .front-matter a::after {
    @include tocfrontmatterpagenumber;
    content: leader(' ') target-counter(attr(href), page, lower-roman);
  }

  #toc .introduction a::after {
    content: leader(' ') target-counter(attr(href), page);
  }
}


//=====================
//SASS: TocLeftChimero
//=====================

// scss-lint:disable NameFormat
@mixin TocLeftChimero {
// scss-lint:enable NameFormat

 /* TOC general page structure */

  @page toc {
    @include blankheadandfoot;
  }

  #toc {
    counter-reset: part;
    page-break-before: right;
  }

 /* TOC Header */

  #toc h1 {
    @include frontmattertitle;
    display: block;
    padding-bottom: 1.5em;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    text-align: left;
  }

/* TOC general styling */

  #toc a {
    margin-left: 0;
    color: inherit;
    border: 0;
  }

  #toc ul,
  #toc li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #toc ul {
    margin-left: 1cm;
    line-height: 1.2;
    counter-reset: chapter;
  }

  #toc li {
    position: relative;
  }

  /* TOC FRONT-MATTER/BACK-MATTER & Margins */

  #toc li.front-matter {
    margin-top: .5em;
  }

  #toc li.back-matter {
    margin-top: .5em;
  }

  #toc li.chapter {
    margin-top: 1em;
  }

  #toc li.front-matter + li.chapter {
    margin-top: 1.5em;
  }

  #toc li.part.display-none + li.chapter {
    margin-top: 1.5em;
  }

  #toc li.front-matter + li.part {
    margin-top: 1.5em;
  }

  #toc li.chapter + li.back-matter {
    margin-top: 1.5em;
  }

  #toc li.part + li.back-matter {
    margin-top: 1.5em;
  }

  #toc .front-matter span.toc-chapter-title {
    @include tocfrontmattertitle;
    position: relative;
    top: 0;
    display: inline-block;
    width: 80%;
    text-indent: 0;
    vertical-align: top;
  }

  #toc .introduction span.toc-chapter-title {
    @include tocfrontmattertitle;
    position: relative;
    top: 0;
    display: inline-block;
    width: 80%;
    text-indent: 0;
    vertical-align: top;
  }

  /* TOC PART STYLE */

  #toc .part {
    @include tocparttitle;
    width: 80%;
    margin: 1.5em 0;
    page-break-after: avoid;
  }

  #toc .part a::before {
    @include tocpartnumber;
    width: 80%;
    text-align: left;
    content: $part ' ' counter(part, upper-roman) '.\A0';
    counter-increment: part;
  }

  #toc .part a::after {
    content: '';
  }

  /* TOC CHAPTER STYLING */

  #toc .chapter {
    margin-top: .3em;
    margin-left: 0;
  }

  #toc span.toc-chapter-title {
    @include tocchaptertitle;
    position: relative;
    top: 0;
    display: inline-block;
    width: 80%;
    text-indent: 0;
    vertical-align: top;
  }

  #toc span.chapter-subtitle {
    @include tocchaptersubtitle;
  }

  #toc span.chapter-author {
    @include tocchapterauthor;
  }

  #toc span.chapter-author,
  #toc span.chapter-subtitle {
    display: inline-block;
    width: 75%;
    text-indent: 0;
  }

  /* TOC CHAPTER NUMBERS */

  #toc .chapter a::before {
    @include tocpagenumber;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    content: target-counter(attr(href), page);
    visibility: visible;
  }

  /* TOC BACK-MATTER STYLING */

  #toc .back-matter span.toc-chapter-title {
    @include tocbackmattertitle;
    position: relative;
    top: 0;
    display: inline-block;
    width: 80%;
    text-indent: 0;
    vertical-align: top;
  }

/* TOC PAGE NUMBERS */

  #toc .front-matter a::before {
    @include tocfrontmatterpagenumber;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    text-align: right;
    vertical-align: top;
    content: target-counter(attr(href), page, lower-roman);
  }

  #toc .introduction a::before {
    @include tocfrontmatterpagenumber;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    line-height: 1.2em;
    text-align: right;
    vertical-align: top;
    content: target-counter(attr(href), page);
  }

  #toc .back-matter a::before {
    @include tocpagenumber;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    content: target-counter(attr(href), page);
  }
}


//=========================
//SASS: TocLeftBringhurst
//==========================

// scss-lint:disable NameFormat
@mixin TocLeftBringhurst {
// scss-lint:enable NameFormat

 /* TOC general page structure */

  @page toc {
    @include blankheadandfoot;
  }

  #toc {
    counter-reset: part;
    page-break-before: right;
  }

 /* TOC Header */

  #toc h1 {
    @include frontmattertitle;
    display: block;
    padding-bottom: 1.5em;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    text-align: center;
  }

/* TOC general styling */

  #toc a {
    margin-left: 0;
    color: inherit;
    border: 0;
  }

  #toc ul,
  #toc li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #toc ul {
    margin-left: 1cm;
    line-height: 1.2;
    counter-reset: chapter;
  }

  #toc li {
    position: relative;
  }

  /* TOC FRONT-MATTER/BACK-MATTER & Margins */

  #toc li.front-matter {
    margin-top: .5em;
  }

  #toc li.back-matter {
    margin-top: .5em;
  }

  #toc li.chapter {
    margin-top: 1em;
  }

  #toc li.front-matter + li.chapter {
    margin-top: 1.5em;
  }

  #toc li.part.display-none + li.chapter {
    margin-top: 1.5em;
  }

  #toc li.front-matter + li.part {
    margin-top: 1.5em;
  }

  #toc li.chapter + li.back-matter {
    margin-top: 1.5em;
  }

  #toc li.part + li.back-matter {
    margin-top: 1.5em;
  }

  #toc .front-matter span.toc-chapter-title {
    @include tocfrontmattertitle;
  }

  #toc .introduction span.toc-chapter-title {
    @include tocfrontmattertitle;
  }

  /* TOC PART STYLE */

  #toc .part {
    @include tocparttitle;
    width: 80%;
    margin: 1.5em 0;
    page-break-after: avoid;
  }

  #toc .part a::before {
    @include tocpartnumber;
    width: 80%;
    text-align: left;
    content: $part ' ' counter(part, upper-roman) '.\A0';
    counter-increment: part;
  }

  #toc .part a::after {
    content: '';
  }

  /* TOC CHAPTER STYLING */

  #toc .chapter {
    margin-top: .3em;
    margin-left: 0;
  }

  #toc span.toc-chapter-title {
    @include tocchaptertitle;
    position: relative;
    top: 0;
    display: inline-block;
    text-indent: 0;
    vertical-align: top;
  }

  #toc span.chapter-subtitle {
    @include tocchaptersubtitle;
    display: none;
  }

  #toc span.chapter-author {
    @include tocchapterauthor;
    display: none;
  }

  #toc span.chapter-author,
  #toc span.chapter-subtitle {
    display: none;
    width: 75%;
    text-indent: 0;
  }

  /* TOC CHAPTER NUMBERS */

  #toc .chapter a::before {
    @include tocchapternumber;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    content: counter(chapter) '. ';
    counter-increment: chapter;
  }

  /* TOC BACK-MATTER STYLING */

  #toc .back-matter span.toc-chapter-title {
    @include tocbackmattertitle;
  }

/* TOC PAGE NUMBERS */

  #toc a::after {
    @include tocpagenumber;
    display: inline;
    text-decoration: none;
    content: '\A0\A0\A0\A0' target-counter(attr(href), page);
  }

  #toc .front-matter a::after {
    @include tocfrontmatterpagenumber;
    content: '\A0\A0\A0\A0' target-counter(attr(href), page, lower-roman);
  }

  #toc .introduction a::after {
    content: '\A0\A0\A0\A0' target-counter(attr(href), page);
  }
}



//================
//SASS: TocCenter
//================

// scss-lint:disable NameFormat
@mixin TocCenter {
// scss-lint:enable NameFormat

  /* TOC general page structure */

  @page toc {
    @include blankheadandfoot;
  }

  #toc {
    margin-right: .5cm;
    margin-left: .5cm;
    font-size: .9em;
    counter-reset: part;
    page-break-before: right;
  }

 /* TOC Header */

  #toc h1 {
    @include frontmattertitle;
    display: block;
    padding-bottom: 2em;
    text-align: center;
  }

/* TOC general styling */

  #toc a {
    color: inherit;
    border: 0;
  }

  #toc ul,
  #toc li {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
  }

  #toc ul {
    line-height: 1;
    counter-reset: chapter;
  }

  #toc li {
    position: relative;
  }

 /* TOC FRONT-MATTER/BACK-MATTER & Margins */

  #toc li.front-matter {
    margin-top: .3em;
    text-align: center;
  }

  #toc li.back-matter {
    margin-top: .3em;
    text-align: center;
  }

  #toc li.chapter + li.back-matter {
    margin-top: 2em;
  }

  #toc li.part + li.back-matter {
    margin-top: 1.5em;
  }

  #toc .front-matter span.toc-chapter-title {
    @include tocfrontmattertitle;
    text-align: center;
  }

  #toc .introduction span.toc-chapter-title {
    @include tocfrontmattertitle;
    text-align: center;
  }

  #toc .back-matter span.toc-chapter-title {
    @include tocbackmattertitle;
    text-align: center;
  }

  /* TOC PART STYLE */

  #toc .part {
    @include tocparttitle;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    page-break-after: avoid;
  }

  #toc .part a::before {
    display: block;
    text-align: center;
    content: $part ' ' counter(part, upper-roman) '.\A0';
    counter-increment: part;
    page-break-after: avoid;
  }

  #toc .part a::after {
    content: '';
  }

  /* CHAPTER NUMBERS */

  #toc .chapter a::before {
    @include tocchapternumber;
    display: inline;
    content: counter(chapter) '.\A0\A0\A0';
    counter-increment: chapter;
    page-break-after: avoid;
  }

  /* TOC CHAPTER STYLING */

  #toc .chapter {
    margin-top: .75em;
  }

  #toc span.toc-chapter-title {
    @include tocchaptertitle;
    display: inline-block;
    text-align: center;
    page-break-after: avoid;
  }

  #toc span.chapter-author,
  #toc span.chapter-subtitle {
    display: none;
    text-align: center;
  }

  #toc span.chapter-subtitle {
    @include tocchaptersubtitle;
  }

  #toc span.chapter-author {
    @include tocchapterauthor;
  }

  /* PAGE NUMBERS */

  #toc .front-matter a::after {
    content: '\A0\A0\A0'  target-counter(attr(href), page, lower-roman);
  }

  #toc .introduction a::after {
    content: '\A0\A0\A0'  target-counter(attr(href), page);
  }

  #toc a::after {
    @include tocpagenumber;
    display: inline;
    text-decoration: none;
    content: '\A0\A0\A0' target-counter(attr(href), page);
  }

  /* END TOC */
}
