@mixin textboxes() {
	.textbox {
		border: 1px solid #000;
		margin: 10px 0;
		padding: 10px;
		p {
			margin-top: 0;
		}
		&.shaded { // Shaded
			background-color: #eee;
		}
		&.learning-objectives { // Learning Objectives
			
		}
		&.key-takeaways { // Key Takeaways
			
		}
		&.exercises { // Exercises
			
		}
		&.examples { // Examples
			
		}
	}
	.textbox-caption {
		display: block;
		font: bold 0.875em Helvetica, Arial;
		margin: 0;
	}
}