//============================================================================//
//                        Front Matter Section Titles                         //
//============================================================================//

@import '../utilities';

.front-matter-title-wrap {
  margin-top: if-map-get($section-title-block-margin-top, $type);
  margin-right: $section-title-block-margin-right;
  margin-bottom: if-map-get($section-title-block-margin-bottom, $type);
  margin-left: $section-title-block-margin-left;

  .front-matter-number {
    display: none;
    visibility: hidden;
  }

  .front-matter-title {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $front-matter-title-font-family;
    font-size: if-map-get($section-title-font-size, $type);
    font-style: $front-matter-title-font-style;
    font-weight: $front-matter-title-font-weight;
    hyphens: none;
    text-align: $front-matter-title-align;
    text-transform: $front-matter-title-text-transform;
  }
}

// Table of contents title should have same styling as front matter titles

#toc h1 {
  display: block;
  margin-top: if-map-get($section-title-block-margin-top, $type);
  margin-right: $section-title-block-margin-right;
  margin-bottom: if-map-get($section-title-block-margin-bottom, $type);
  margin-left: $section-title-block-margin-left;
  font-family: $front-matter-title-font-family;
  font-size: if-map-get($section-title-font-size, $type);
  font-style: $front-matter-title-font-style;
  font-weight: $front-matter-title-font-weight;
  hyphens: none;
  text-align: $front-matter-title-align;
  text-transform: $front-matter-title-text-transform;
}
