//============================================================================//
//                                Images (Web)                                //
//============================================================================//

.wp-caption-text {
  padding-bottom: .5em;
  font-size: $image-caption-font-size;
  font-style: $image-caption-font-style;
  font-weight: $image-caption-font-weight;
  hyphens: none;
  line-height: 1.2em;
  text-transform: $image-caption-text-transform;
}

#content {
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    margin: 0;
  }

  // Wrapper for captioned and uncaptioned images
  .wp-caption,
  .wp-nocaption {
    height: auto;
    max-width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
  }

  // Align (None)
  .alignnone {
    max-width: 100%;
    padding-left: 0;
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0;
  }

  // Align (Center)
  .aligncenter {
    width: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    img {
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }


  // Align (Left) – max-width is 50%
  .alignleft {
    float: left;
    max-width: 50%;
    margin-top: 0;
    margin-right: 2em;
    margin-left: 0;
  }

  // Align (Right) – max-width is 50%
  .alignright {
    float: right;
    max-width: 50%;
    padding-right: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 2em;
  }
}
