//============================================================================//
//                               Images (EPUB)                                //
//============================================================================//

// TODO

.wp-caption-text {
  padding-bottom: $image-caption-padding-bottom;
  font-family: $image-caption-font-family;
  font-size: $image-caption-font-size;
  font-style: $image-caption-font-style;
  font-weight: $image-caption-font-weight;
  hyphens: none;
  line-height: $image-caption-line-height;
  text-transform: $image-caption-text-transform;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 0;
  margin: 0;
  page-break-inside: avoid;
}

// Wrapper for captioned and uncaptioned images
.wp-caption,
.wp-nocaption {
  width: 80%;
  height: auto;
  margin-top: 1em;
  margin-right: 10%;
  margin-bottom: 1em;
  margin-left: 10%;
  text-align: center;
  page-break-inside: avoid;

  // Align (Center)
  &.aligncenter {
    width: auto;
    text-align: center;
    page-break-inside: avoid;

    img {
      width: auto;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }

  // Align (Left) – width is 50%
  &.alignleft {
    float: left;
    width: 50%;
    padding-left: 0;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 0;
    page-break-inside: avoid;

    img {
      width: 100%;
    }
  }

  // Align (Right) – width is 50%
  &.alignright {
    float: right;
    width: 50%;
    padding-left: 0;
    margin-top: 1em;
    margin-right: 0;
    margin-left: 1em;
    page-break-inside: avoid;

    img {
      width: 100%;
    }
  }
}

// Mobi

@media amzn-kf8 {
  .wp-caption,
  .wp-nocaption {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    page-break-inside: avoid;

    img {
      width: auto;
      page-break-inside: avoid;
    }
  }
}
