$white: #fff;
$black: #333;
$dark-grey: #777;
$medium-grey: #dedede;
$light-grey: #e9e9e9;
$lightest-grey: #efefef;
$dark-red: #b40026;
$red: #d4002d;
$bright-red: #fc091b;
$pale-red: #FFDEDD;
$pink: #fff8f9;
$orange: #ffbb00;
$green: #337800;
$pale-green: #E0EDC1;
$blue: #0077cc;