/* '#b40026', '#d4002d', '#e9e9e9', '#dfdfdf' */

$base-color: #dedede;
$icon-color: #333;
$highlight-color: #ececec;
$notification-color: #e9e9e9;
$button-color: #d20633;
$text-color: #333;
$body-background: #ececec;
$link: #c3042f;
$link-focus: #fc091b;
$form-checked: #c3042f;
$menu-background: #dedede;
$menu-text: #333;
$menu-icon: #333;
$menu-highlight-background: #ececec;
$menu-highlight-text: #d90030;
$menu-highlight-icon: #d90030;
$menu-current-background: #777;
$menu-current-text: #fff;
$menu-current-icon: #fff;
$menu-submenu-background: #fff;
$menu-submenu-text: #000000;
$menu-submenu-background-alt: #fff;
$menu-submenu-focus-text: #d90030;
$menu-submenu-current-text: #333;
$menu-bubble-background: #e9e9e9;
$menu-bubble-text: #333;
$menu-bubble-current-background: #fff;
$menu-bubble-current-text: #d4002d;
$menu-collapse-text: #333;
$menu-collapse-icon: #333;
$menu-collapse-focus-text: #d90030;
$menu-collapse-focus-icon: #d90030;
$adminbar-avatar-frame: #fff;
$adminbar-input-background: #fff;

@import "../../../../../../wp-admin/css/colors/_admin.scss";

/* Admin Menu */

#adminmenu li.current:hover div.wp-menu-image:before,
#adminmenu li.wp-menu-open:hover div.wp-menu-image:before {
	color: #fff;
}

/* Admin Bar */

#wpadminbar {
	color: #fff;
	background: #b40026;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
	color: #fff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
	color: #fff;
}

/* Themes */

.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
	background: #b40026;
}

.theme-browser .theme.active .theme-actions {
	background: transparent;
}