$tamarillo: #870d0d;
$monza: #c03;
$cardinal: #c12328;
$tuatara: #1f1f1d;
$desert-storm: #f4f4f3;
$mine-shaft: #222;
$tundora: #4a4a4a;
$alabaster: #f7f7f7;
$dove-gray: #666;
$white: #fff;
$alto: #ddd;
$mercury: #e1e1e1;
$dark-burgundy: #820808;
$tall-poppy: #a62c2c;
$cab-sav: #4d0a0a;
$contessa: #c77a7a;
$black: #000;
$rosewood: #5c0102;
$crown-of-thorns: #801e1e;
$silver-chalice: #aeaeae;
$gallery: #eee;
$ceramic: #fdfffa;
$dusty-gray: #999;
$boulder: #777;
$wild-sand: #f5f5f5;
$seashell: #f1f1f1;
$gray: #8d8d8d;
$silver: #ccc;
$polar: #f2f7fc;
