$oswald: 'Oswald', Arial, Helvetica, sans-serif;
$lucida: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif;
$open-sans: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
