@import 'font-stack-prince'; // Dynamically generated

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

$font-1: 'Tinos', Georgia, $serif-prince;
$font-2: 'Lato', Helvetica, Arial, $sans-serif-prince;
$font-3: $font-2;

@import 'LatoFont';
@import 'TinosFont';
