@import '_font-stack-web'; // Dynamically generated

$serif-web: serif !default;

$font-1: "Sorts Mill Goudy", "Times New Roman", $serif-web;
$font-2: "Sorts Mill Goudy", $serif-web;
$font-3: "Marcellus SC", "Times New Roman", $serif-web;

@import url("https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Marcellus+SC");
