$body-font-stack-epub: Georgia, $global-font-stack, serif;
$body-font-stack-mpdf: "Trebuchet MS", "Times", $global-font-stack, serif;
$body-font-stack-prince: "Cardo", "Times New Roman", $global-font-stack, serif;