$body-font-stack-epub: Georgia, $foreign-language-fonts, serif;
$body-font-stack-mpdf: "Trebuchet MS", "Times", $foreign-language-fonts, serif;
$body-font-stack-prince: "Cardo", "Times New Roman", $foreign-language-fonts, serif;