//============================================================================//
//                                    Colors                                  //
//============================================================================//

@import 'utilities';

// STANDARD TEXT COLORS

a {
  color: if-map-get($link-color, $type);
}

body,
.entry-content {
  color: if-map-get($body-color, $type);
}

blockquote {
  color: if-map-get($blockquote-color, $type);
}

// BODY HEADER COLOR

h1 {
  color: if-map-get($h1-color, $type);
}

h2 {
  color: if-map-get($h2-color, $type);
}

h3 {
  color: if-map-get($h3-color, $type);
}

h4 {
  color: if-map-get($h4-color, $type);
}

h5 {
  color: if-map-get($h5-color, $type);
}

h6 {
  color: if-map-get($h6-color, $type);
}

// TABLE COLOR
table {
  color: if-map-get($table-color, $type);
}

table p {
  color: if-map-get($table-para-color, $type);
}

// IMAGE CAPTIONS COLOR
p.wp-caption-text {
  color: if-map-get($image-caption-text-color, $type);
}

// INDEX COLOR
.index .ugc,
.index .ugc p {
  color: if-map-get($index-para-color, $type);
}

// TITLE PAGE(S) COLOR
#half-title-page > h1.title {
  color: if-map-get($half-title-title-color, $type);
}

#title-page > .title {
  color: if-map-get($title-page-title-color, $type);
}

#title-page > .subtitle {
  color: if-map-get($title-page-subtitle-color, $type);
}

#title-page > .author {
  color: if-map-get($title-page-author-color, $type);
}

#title-page > .publisher {
  color: if-map-get($title-page-publisher-color, $type);
}

#title-page > .publisher-city {
  color: if-map-get($title-page-publisher-city-color, $type);
}

// FRONT MATTER COLOR
h1.front-matter-title {
  color: if-map-get($front-matter-title-color, $type);
}

#copyright-page .ugc p {
  color: if-map-get($copyright-para-color, $type);
}

.dedication p {
  color: if-map-get($dedication-para-color, $type);
}

.epigraph p {
  color: if-map-get($epigraph-para-color, $type);
}

// PART TITLE COLOR
h3.part-number {
  color: if-map-get($part-number-color, $type);
}

h1.part-title {
  color: if-map-get($part-title-color, $type);
}

// CHAPTER TITLE COLOR
.chapter-number,
.entry-title span {
  color: if-map-get($chapter-number-color, $type);
  border-bottom-color: if-map-get($chapter-number-border-bottom-color, $type);
}

h2.chapter-title {
  color: if-map-get($chapter-title-color, $type);
}

h2.chapter-subtitle {
  color: if-map-get($chapter-subtitle-color, $type);
}

h2.chapter-author {
  color: if-map-get($chapter-author-color, $type);
}

.aphorism {
  color: if-map-get($chapter-aphorism-color, $type);
}

// BACK MATTER TITLE COLOR
h1.back-matter-title {
  color: if-map-get($back-matter-title-color, $type);
}

// DROPCAPS COLOR
.firstcharacter,
.first-character {
  color: if-map-get($first-character-color, $type);
}

// PULLQUOTES COLOR
.pullquote,
.pullquote-left,
.pullquote-right,
.pullquote-outside,
.pullquote-inside {
  color: if-map-get($pullquote-color, $type);
}

// SIDEBARS, TEXTBOXES COLOR
div.sidebar {
  background-color: if-map-get($sidebar-color, $type);}

div.textbox {
  background-color: if-map-get($textbox-background-color, $type);
  border-color: if-map-get($textbox-border-color, $type);
}

.textbox.shaded {
  background-color: if-map-get($shaded-color, $type);
}

// SHADED COLOR
.shaded {
  background-color: if-map-get($shaded-color, $type);
}
