@import 'partials/colors';

/* Admin Menu */

#adminmenu { transform: translateZ(0); } /* Fix for Chrome bug: https://code.google.com/p/chromium/issues/detail?id=509179#c51

/* Admin Bar */

@font-face {
		font-family: "PBFont";
		src:url("../fonts/PBFont.eot");
		src:url("../fonts/PBFont.eot?#iefix") format("embedded-opentype"),
			url("../fonts/PBFont.ttf") format("truetype"),
			url("../fonts/PBFont.woff") format("woff"),
			url("../fonts/PBFont.svg#PBFont") format("svg");
		font-weight: normal;
		font-style: normal;
}

#wpadminbar {
	.quicklinks li .blavatar:before {
		font: 14px/1 "PBFont" !important;
		-webkit-font-smoothing: antialiased;
		background: none;
		content: '\e600' !important;	
	}
	#wp-admin-bar-site-name>.ab-item:before {
		-webkit-font-smoothing: antialiased;
		background: none;
		content: '\f330' !important;
	}
	#wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
		font: 20px/1 "PBFont" !important;
		-webkit-font-smoothing: antialiased;
		background: none;
		content: '\e600' !important;
	}
	@media screen and (max-width: 782px) {
		#wp-admin-bar-my-books {
			display: block;
			a.ab-item {
				text-overflow: clip;
			}
			&> .ab-item { text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				width: 55px;
				padding: 0;
				color: #999;
				position: relative;
				&:before {
					font: 400 34px/1 dashicons;
					text-align: center;
					text-indent: 0px;
					top: 7px;
					width: 55px;
					-webkit-font-smoothing: antialiased;
					background: none;
					content: "\f318" !important;
				}
			}
		}
		.quicklinks li .blavatar:before {
			display: inline-block;
		}
		#wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
			font: 28px/1 "PBFont" !important;
		}
	}
}

/* Contextual Help */

#contextual-help-link-wrap {
	display: none;
}

/* Dashboard Widgets */

#dashboard-widgets { 
	#pb_dashboard_widget_book {
		h4 {
			font-weight: bold;
		}
		ul {
			li {
				&.front-matter, &.chapter, &.back-matter {
					margin-left: 10px;
				}
			}
		}
		.part-buttons {
			width: 200px;
			text-align: right;
			position: absolute;
			right: 8px;
			top: 0;
		}
	}
}

/* User Screen */

.network-admin-restricted {
	.user-super-admin-wrap {
		display: none;
	}
}

/* Custom Metadata Manager */

.custom-metadata-field.checkbox {
	div, label {
		display: inline-block;
		vertical-align: baseline;
	}
	input {
		margin: 0 1px 0 0;
	}
}