.catalog {
  @include make-row();
}

.book {
  @include make-md-column(4);
  margin-bottom: 2em;
}

.book img {
  height: auto;
  max-width: 100%;
}

.book h2 {
  margin-bottom: .5em;
}

.book .author {
  font-style: italic;
}
