.banner {
  padding-bottom: 4em;
  text-align: center;
  background: $header-bg;
}

.custom-logo-link img {
  width: auto;
  max-height: 100px;
  margin: 25px 0;
}

.brand {
  @extend h1;
  display: block;
  margin: 20px 0;
  font-size: 3.75em;
}

.link-wrap {
  margin-top: 20px;
  text-align: center;

  @media (min-width: $screen-md-min) {
    text-align: right;
  }
}

.intro-text {
  margin: 3em auto 0;
  line-height: 1.6;
  text-align: center;

  &.two-column {
    text-align: left;
    columns: 300px 2;

    @media (min-width: $screen-md-min) {
      max-width: 65%;
	  }
	}

  @media (min-width: $screen-md-min) {
    max-width: 50%;
  }
}

.login-block {
  margin-top: 2em;
  text-align: center;
}
