// FONTS 
// These fonts are available for use in Pressbooks Themes.


// 'Abril Fatface', @mixin AbrilFatfaceFont
// 'Alegreya Sans SC', @mixin AlegreyaSansSCFont
// 'Alegreya', @mixin AlegreyaFont
// 'Alegreya Sans', @mixin AlegreyaSansFont
// 'Amarante', @mixin AmaranteFont
// 'Amiri', @mixin AmiriFont
// 'Antinoou', @mixin AntinoouFont,
// 'Arapey', @mixin ArapeyFont
// 'Arvo', @mixin ArvoFont
// 'Audiowide', @mixin AudiowideFont
// 'Belleza', @mixin BellezaFont
// 'BenchNine', @mixin BenchNineFont
// 'Bergamot Ornaments', @mixin BergamotOrnamentsFont
// 'Bevan', @mixin BevanFont
// 'Butcherman', @mixin ButchermanFont
// 'Cardo', @mixin CardoFont
// 'Cherry Swash', @mixin CherrySwashFont
// 'Cinzel', @mixin CinzelFont
// 'Covered By Your Grace', @mixin CoveredByYourGraceFont
// 'Crimson Text', @mixin CrimsonTextFont
// 'Droid Arabic Kufi', @mixin DroidArabicKufiFont
// 'Droid Arabic Naskh', @mixin DroidArabicNaskhFont
// 'Droid Sans', @mixin DroidSansFont
// 'Droid Sans Tamil', @mixin DroidSansTamilFont
// 'Droid Serif', @mixin DroidSerifFont
// 'Ekatra', @mixin EkatraFont
// 'Exo', @mixin ExoFont
// 'Exo 2', @mixin Exo2Font
// 'Gentium Basic', @mixin GentiumBasicFont
// 'GFS Didot', @mixin GFSDidotFont
// 'Gilda Display', @mixin GildaDisplayFont
// 'Great Vibes', @mixin GreatVibesFont
// 'Griffy', @mixin GriffyFont
// 'Gruppo', @mixin GruppoFont
// 'Julius Sans One', @mixin JuliusSansOneFont
// 'IM Fell English', @mixin IMFellEnglishFont
// 'IM Fell French Canon', @mixin IMFellFrenchCanonFont
// 'IM Fell French Canon SC', @mixin IMFellFrenchCanonSCFont
// 'Lato', @mixin LatoFont
// 'Libre Baskerville', @mixin LibreBaskervilleFont
// 'Linux Biolinum', @mixin LinuxBiolinum
// 'Linux Libertine', @mixin LinuxLibertine
// 'Marcellus', @mixin MarcellusFont
// 'Marcellus SC', @mixin MarcellusSCFont
// 'Medula One', @mixin MedulaOneFont
// 'Noticia Text', @mixin NoticiaTextFont
// 'Noto Kufi Arabic', @mixin NotoKufiArabicFont
// 'Noto Naskh Arabic', @mixin NotoNaskhArabicFont
// 'Noto Sans CJK JP', @mixin NotoSansCJKJPFont
// 'Noto Sans CJK KR', @mixin NotoSansCJKKRFont
// 'Noto Sans CJK SC', @mixin NotoSansCJKSCFont
// 'Noto Sans CJK TC', @mixin NotoSansCJKTCFont
// 'Noto Sans Coptic', @mixin NotoSansCopticFont
// 'Noto Sans Gujarati', @mixin NotoSansGujaratiFont
// 'Noto Sans Syriac', @mixin NotoSansSyriacFont
// 'Noto Sans Tamil', @mixin NotoSansTamilFont
// 'Noto Sans Tibetan', @mixin NotoSansTibetanFont
// 'Noto Serif', @mixin NotoSerifFont
// 'Old Standard', @mixin OldStandardFont
// 'Open Sans', @mixin OpenSansFont
// 'Open Sans Condensed', @mixin OpenSansCondensedFont
// 'Orbitron', @mixin OrbitronFont
// 'Oswald', @mixin OswaldFont
// 'Poiret One', @mixin PoiretOneFont 
// 'PT Serif', @mixin PTSerifFont
// 'Quantico', @mixin QuanticoFont
// 'Roboto', @mixin RobotoFont
// 'Roboto Condensed', @mixin RobotoCondensedFont
// 'SBL Greek', @mixin SBLGreekFont
// 'SBL Hebrew', @mixin SBLHebrewFont
// 'Sorts Mill Goudy', @mixin SortsMillGoudyFont
// 'Special Elite', @mixin SpecialEliteFont
// 'Teko', @mixin TekoFont
// 'Tinos', @mixin TinosFont
// 'WWDesigns', @mixin WWDesignsFont

// ABRIL FATFACE 
// CURSIVE, SLAB

@mixin AbrilFatfaceFont {
  @font-face {
      font-family: 'Abril Fatface';
      src: url(themes-book/pressbooks-book/fonts/AbrilFatface-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//ALEGREYA 
//SERIF

@mixin AlegreyaFont {
  @font-face {
      font-family: 'Alegreya';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'Alegreya';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-BoldItalic.ttf) format('truetype');
      font-weight: bold;
      font-style: italic;
  }
  @font-face {
      font-family: 'Alegreya';
      src: url(themes-book/pressbooks-book/fonts/Alegreya-Italic.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  @font-face {
      font-family: 'Alegreya';
      src: url(themes-book/pressbooks-book/fonts/Alegreya-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//ALEGREYA SANS 
//SANS-SERIF

@mixin AlegreyaSansFont {
  @font-face {
      font-family: 'Alegreya Sans';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'Alegreya Sans';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Alegreya Sans';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-Italic.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  @font-face {
      font-family: 'Alegreya Sans';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-Light.ttf) format('truetype');
      font-weight: lighter;
      font-style: normal;
  }
  @font-face {
      font-family: 'Alegreya Sans';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSans-LightItalic.ttf) format('truetype');
      font-weight: lighter;
      font-style: italic;
  }
}

//ALEGREYA SANS SC
//SANS-SERIF, SMALL-CAPS

@mixin AlegreyaSansSCFont {

  @font-face {
      font-family: 'Alegreya Sans SC';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSansSC-Medium.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Alegreya Sans SC';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSansSC-Light.ttf) format('truetype');
      font-weight: lighter;
      font-style: normal;
  }
  @font-face {
      font-family: 'Alegreya Sans SC';
      src: url(themes-book/pressbooks-book/fonts/AlegreyaSansSC-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
}

//ALFA SLAB ONE 
//CURSIVE, SLAB

@mixin AlfaSlabOneFont {
  @font-face {
      font-family: 'Alfa Slab One';
      src: url(themes-book/pressbooks-book/fonts/AlfaSlabOne-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//Amarante
//CURSIVE

@mixin AmaranteFont {
  @font-face {
      font-family: 'Amarante';
      src: url(themes-book/pressbooks-book/fonts/Amarante-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//Amiri Arabic
//ARABIC

@mixin AmiriFont {
  @font-face {
      font-family: 'Amiri';
      src: url(themes-book/pressbooks-book/fonts/Amiri-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'Amiri';
      src: url(themes-book/pressbooks-book/fonts/Amiri-BoldSlanted.ttf) format('truetype');
      font-weight: bold;
      font-style: italic;
  }
  @font-face {
      font-family: 'Amiri';
      src: url(themes-book/pressbooks-book/fonts/Amiri-Slanted.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  @font-face {
      font-family: 'Amiri';
      src: url(themes-book/pressbooks-book/fonts/Amiri-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}


//ANTINOOU
//COPTIC FONT

@mixin AntinoouFont {
   @font-face {
      font-family: 'Antinoou';
      src: url(themes-book/pressbooks-book/fonts/Antinoou.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Antinoou';
      src: url(themes-book/pressbooks-book/fonts/AntinoouItalic.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
  }
}

//ARAPEY
//SERIF

@mixin ArapeyFont {
   @font-face {
      font-family: 'Arapey';
      src: url(themes-book/pressbooks-book/fonts/Arapey-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Arapey';
      src: url(themes-book/pressbooks-book/fonts/Arapey-Italic.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
  }
}


//ARVO
//DISPLAY, SLAB

@mixin ArvoFont {
  
  @font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/Arvo-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/Arvo-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/Arvo-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Arvo';
    font-style: italic;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/Arvo-BoldItalic.ttf) format('truetype');
  }
}


//AUDIOWIDE
//SANS-SERIF, DISPLAY

@mixin AudiowideFont {
  @font-face {
      font-family: 'Audiowide';
      src: url(themes-book/pressbooks-book/fonts/Audiowide-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//Belleza
//SEMI-SERIF
@mixin BellezaFont {
  @font-face {
      font-family: 'Belleza';
      src: url(themes-book/pressbooks-book/fonts/Belleza-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

// BENCHNINE 
// SANS-SERIF

@mixin BenchNineFont {
  @font-face {
      font-family: 'BenchNine';
      src: url(themes-book/pressbooks-book/fonts/BenchNine-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'BenchNine';
      src: url(themes-book/pressbooks-book/fonts/BenchNine-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'BenchNine';
      src: url(themes-book/pressbooks-book/fonts/BenchNine-Light.ttf) format('truetype');
      font-weight: lighter;
      font-style: normal;
  }
}

//BERGAMOT ORNAMENTS 
//ORNAMENTS

@mixin BergamotOrnamentsFont {
  @font-face {
      font-family: "Bergamot Ornaments";
      src: url(themes-book/pressbooks-book/fonts/Bergamot-Ornaments.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//BEVAN 
//DISPLAY, SLAB

@mixin BevanFont {
  @font-face {
      font-family: 'Bevan';
      src: url(themes-book/pressbooks-book/fonts/Bevan.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//BUTCHERMAN
//CURSIVE

@mixin ButchermanFont {
  @font-face {
      font-family: 'Butcherman';
      src: url(themes-book/pressbooks-book/fonts/Butcherman-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//CARDO: A CONSERVATIVE SERIF
//SERIF

@mixin CardoFont {
  @font-face {
    font-family: 'Cardo';
    font-weight: bold;
    font-style: normal;
    src: url(themes-book/pressbooks-book/fonts/Cardob101.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Cardo';
    font-weight: normal;
    font-style: italic;
    src: url(themes-book/pressbooks-book/fonts/Cardoi99.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Cardo';
    font-weight: normal;
    font-style: normal;
    src: url(themes-book/pressbooks-book/fonts/Cardo104s.ttf) format('truetype');
  }
}

//CHERRY SWASH 
//CURSIVE

@mixin CherrySwashFont {
  @font-face {
      font-family: 'Cherry Swash';
      src: url(themes-book/pressbooks-book/fonts/CherrySwash-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Cherry Swash';
      src: url(themes-book/pressbooks-book/fonts/CherrySwash-Bold.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
}


//CINZEL
//SERIF

@mixin CinzelFont {
	@font-face {
	  font-family: "Cinzel";
	  font-weight: normal;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/Cinzel-Regular.ttf) format("truetype");
	}
	
	@font-face {
	  font-family: "Cinzel";
	  font-weight: bold;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/Cinzel-Bold.ttf) format("truetype");
	}
	
	@font-face {
	  font-family: "Cinzel";
	  font-weight: 600;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/Cinzel-Black.ttf) format("truetype");
	}
}


//COVERED BY YOUR GRACE 
//CURSIVE

@mixin CoveredByYourGraceFont {
  @font-face {
      font-family: 'Covered By Your Grace';
      src: url(themes-book/pressbooks-book/fonts/CoveredByYourGrace.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}


//CRIMSON
//SERIF, CLASSIC

@mixin CrimsonTextFont {
  @font-face {
      font-family: 'Crimson Text';
      src: url(themes-book/pressbooks-book/fonts/crimson-bold-webfont.ttf) format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'Crimson Text';
      src: url(themes-book/pressbooks-book/fonts/crimson-bolditalic-webfont.ttf) format('truetype');
      font-weight: bold;
      font-style: italic;
  }
  @font-face {
      font-family: 'Crimson Text';
      src: url(themes-book/pressbooks-book/fonts/crimson-italic-webfont.ttf) format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  @font-face {
      font-family: 'Crimson Text';
      src: url(themes-book/pressbooks-book/fonts/crimson-roman-webfont.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Crimson Text';
      src: url(themes-book/pressbooks-book/fonts/crimson-semibold-webfont.ttf) format('truetype');
      font-weight: 600;
      font-style: normal;
  }
  @font-face {
      font-family: 'Crimson Text';
      src: url(themes-book/pressbooks-book/fonts/crimson-semibolditalic-webfont.ttf) format('truetype');
      font-weight: 600;
      font-style: italic;
  }
}

//DROID ARABIC KUFI 
//SANS-SERIF, ARABIC

@mixin DroidArabicKufiFont {
  @font-face {
    font-family: 'Droid Arabic Kufi';
    src: url(themes-book/pressbooks-book/fonts/DroidKufi-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Droid Arabic Kufi';
    src: url(themes-book/pressbooks-book/fonts/DroidKufi-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}

//DROID ARABIC NASKH 
//SERIF, ARABIC

@mixin DroidArabicNaskhFont {
  @font-face {
    font-family: 'Droid Arabic Naskh';
    src: url(themes-book/pressbooks-book/fonts/DroidNaskh-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Droid Arabic Naskh';
    src: url(themes-book/pressbooks-book/fonts/DroidNaskh-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}


//DROID SANS
//SANS-SERIF 

@mixin DroidSansFont {
  @font-face {
    font-family: 'Droid Sans';
    src: url(themes-book/pressbooks-book/fonts/DroidSans.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Droid Sans';
    src: url(themes-book/pressbooks-book/fonts/DroidSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}

//DROID SANS TAMIL
//SANS-SERIF 

@mixin DroidSansTamilFont {
  @font-face {
    font-family: 'Droid Sans Tamil';
    src: url(themes-book/pressbooks-book/fonts/DroidSansTamil-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Droid Sans Tamil';
    src: url(themes-book/pressbooks-book/fonts/DroidSansTamil-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}

//DROID SERIF
//SERIF 

@mixin DroidSerifFont {
  @font-face {
    font-family: 'Droid Serif';
    src: url(themes-book/pressbooks-book/fonts/DroidSerif.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Droid Serif';
    src: url(themes-book/pressbooks-book/fonts/DroidSerif-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
    @font-face {
    font-family: 'Droid Serif';
    src: url(themes-book/pressbooks-book/fonts/DroidSerif-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Droid Serif';
    src: url(themes-book/pressbooks-book/fonts/DroidSerif-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
  }
}


//EKATRA 
// A font for the Gujarati language


@mixin EkatraFont {
  @font-face {
    font-family: 'Ekatra';
    src: url(themes-book/pressbooks-book/fonts/EkatraUnicode.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Ekatra';
    src: url(themes-book/pressbooks-book/fonts/EkatraUnicode-NormalItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Ekatra';
    src: url(themes-book/pressbooks-book/fonts/EkatraUnicode-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}


//EUPHORIA SCRIPT 
//CURSIVE

@mixin EuphoriaScriptFont {
  @font-face {
      font-family: 'Euphoria Script';
      src: url(themes-book/pressbooks-book/fonts/EuphoriaScript-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}


//EXO 
//SANS-SERIF

@mixin ExoFont {
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Exo-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Exo-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/Exo-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/Exo-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/Exo-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/Exo-BoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: url(themes-book/pressbooks-book/fonts/Exo-ExtraBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 800;
    src: url(themes-book/pressbooks-book/fonts/Exo-ExtraBoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Exo-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Exo-BlackItalic.ttf) format('truetype');
  }
}


//EXO 2
//SANS-SERIF
//NOTE: breaks in Kindle eink ... use Exo Instead. Maybe don't use it at all? 

@mixin Exo2Font {
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Exo2-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Exo2-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/Exo2-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/Exo2-RegularItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/Exo2-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/Exo2-BoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 800;
    src: url(themes-book/pressbooks-book/fonts/Exo2-ExtraBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 800;
    src: url(themes-book/pressbooks-book/fonts/Exo2-ExtraBoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Exo2-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Exo2-BlackItalic.ttf) format('truetype');
  }
}

//FJALLA ONE
//SANS-SERIF

@mixin FjallaOneFont {
  @font-face {
    font-family: 'Fjalla One';
    src: url(themes-book/pressbooks-book/fonts/FjallaOne-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//FEDERO 
//SANS-SERIF 

@mixin FederoFont {
  @font-face {
    font-family: 'Federo';
    src: url(themes-book/pressbooks-book/fonts/Federo-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}


//GENTIUM BASIC
//SERIF 

@mixin GentiumBasicFont {
  @font-face {
    font-family: 'Gentium Basic';
    src: url(themes-book/pressbooks-book/fonts/GenBasR.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Gentium Basic';
    src: url(themes-book/pressbooks-book/fonts/GenBasI.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
    @font-face {
    font-family: 'Gentium Basic';
    src: url(themes-book/pressbooks-book/fonts/GenBasB.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Gentium Basic';
    src: url(themes-book/pressbooks-book/fonts/GenBasBI.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
  }
}

//GFSDIDOT
//SERIF, ANCIENT GREEK

@mixin GFSDidotFont {
  @font-face {
    font-family: 'GFS Didot';
    src: url(themes-book/pressbooks-book/fonts/GFSDidot-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//GILDA DISPLAY
//SERIF

@mixin GildaDisplayFont {
	@font-face {
		font-family: "Gilda Display";
		font-weight: normal;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/GildaDisplay-Regular.ttf) format("truetype");
	}
}

//GREATVIBES
//

@mixin GreatVibesFont {
	@font-face {
		font-family: "Great Vibes";
		font-weight: normal;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/GreatVibes-Regular.ttf) format("truetype");
	}
}
//GRIFFY
//DISPLAY

@mixin GriffyFont {
  @font-face {
    font-family: 'Griffy';
    src: url(themes-book/pressbooks-book/fonts/Griffy-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//GRUPPO 
//SANS-SERIF

@mixin GruppoFont {
  @font-face {
    font-family: 'Gruppo';
    src: url(themes-book/pressbooks-book/fonts/Gruppo-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//IM FELL ENGLISH 
//DISPLAY

@mixin IMFellEnglishFont {
  @font-face {
    font-family: 'IM Fell English';
    src: url(themes-book/pressbooks-book/fonts/IMFeENrm28P.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'IM Fell English';
    src: url(themes-book/pressbooks-book/fonts/IMFeENit28P.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
}

//IM FELL FRENCH CANON 
//DISPLAY, SERIF

@mixin IMFellFrenchCanonFont {
  @font-face {
    font-family: 'IM Fell French Canon';
    src: url(themes-book/pressbooks-book/fonts/IMFeFCrm28P.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'IM Fell French Canon';
    src: url(themes-book/pressbooks-book/fonts/IMFeFCit28P.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
}

//IM FELL FRENCH CANON SC 
//DISPLAY, SERIF, SMALL CAPS


@mixin IMFellFrenchCanonSCFont {
  @font-face {
    font-family: 'IM Fell French Canon SC';
    src: url(themes-book/pressbooks-book/fonts/IMFeFCsc28P.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//JULIUSSANSONE 
//DISPLAY

@mixin JuliusSansOneFont {
  @font-face {
    font-family: 'Julius Sans One';
    src: url(themes-book/pressbooks-book/fonts/JuliusSansOne-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//LATO
//VERY CLEAN SANS-SERIF

@mixin LatoFont {
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 200;
    src: url(themes-book/pressbooks-book/fonts/Lato-Hairline.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 200;
    src: url(themes-book/pressbooks-book/fonts/Lato-HairlineItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Lato-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/Lato-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(themes-book/pressbooks-book/fonts/Lato-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Lato-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Lato-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/Lato-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url(themes-book/pressbooks-book/fonts/Lato-BoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Lato-BlackItalic.ttf) format('truetype');
  }
}

//LIBRE BASKERVILLE 
//SERIF, ON THE FAT SIDE

@mixin LibreBaskervilleFont {
  @font-face {
    font-family: 'Libre Baskerville';
    src: url(themes-book/pressbooks-book/fonts/LibreBaskerville-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Libre Baskerville';
    src: url(themes-book/pressbooks-book/fonts/LibreBaskerville-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Libre Baskerville';
    src: url(themes-book/pressbooks-book/fonts/LibreBaskerville-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
}

@mixin LinuxBiolinum {
	@font-face {
	  font-family: "Linux Biolinum";
	  font-weight: normal;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/LinBiolinum_Rah.ttf) format("truetype");
	}
	@font-face {
	  font-family: "Linux Biolinum";
	  font-weight: bold;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/LinBiolinum_RBah.ttf) format("truetype");
	}
	@font-face {
	  font-family: "Linux Biolinum";
	  font-weight: normal;
	  font-style: italic;
	  src: url(themes-book/pressbooks-book/fonts/LinBiolinum_RIah.ttf) format("truetype");
	}
}


//LINUX LIBERTINE
//SERIF

@mixin LinuxLibertine {
	@font-face {
	  font-family: "Linux Libertine";
	  font-weight: bold;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/LinLibertine_RBah.ttf) format("truetype");
	}
	
	@font-face {
	  font-family: "Linux Libertine";
	  font-weight: bold;
	  font-style: italic;
	  src: url(themes-book/pressbooks-book/fonts/LinLibertine_RBIah.ttf) format("truetype");
	}
	@font-face {
	  font-family: "Linux Libertine";
	  font-weight: normal;
	  font-style: italic;
	  src: url(themes-book/pressbooks-book/fonts/LinLibertine_RIah.ttf) format("truetype");
	}
	@font-face {
	  font-family: "Linux Libertine";
	  font-weight: normal;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/LinLibertine_Rah.ttf) format("truetype");
	}
}

//LORA
//SERIF

@mixin LoraFont {
  @font-face {
    font-family: 'Lora';
    src: url(themes-book/pressbooks-book/fonts/Lora-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Lora';
    src: url(themes-book/pressbooks-book/fonts/Lora-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Lora';
    src: url(themes-book/pressbooks-book/fonts/Lora-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Lora';
    src: url(themes-book/pressbooks-book/fonts/Lora-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
}

//MARCELLUS 
//SERIF 

@mixin MarcellusFont {
  @font-face {
      font-family: 'Marcellus';
      src: url(themes-book/pressbooks-book/fonts/Marcellus-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//MARCELLUS SC
//SERIF, SMALL-CAPS

@mixin MarcellusSCFont {
  @font-face {
      font-family: 'Marcellus SC';
      src: url(themes-book/pressbooks-book/fonts/MarcellusSC-Regular.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }
}

//MEDULAONE
//

@mixin MedulaOneFont {
	@font-face {
		font-family: "Medula One";
		font-weight: normal;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/MedulaOne-Regular.ttf) format("truetype");
	}
}

//NOTICIA TEXT
//DISPLAY, SERIF

@mixin NoticiaTextFont {
  
  @font-face {
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NoticiaText-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NoticiaText-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NoticiaText-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NoticiaText-BoldItalic.ttf) format('truetype');
  }
}

// NOTO KUFI ARABIC
// ARABIC FONT SANS 

@mixin NotoKufiArabicFont {
  @font-face {
    font-family: 'Noto Kufi Arabic';
    src: url(themes-book/pressbooks-book/fonts/NotoKufiArabic-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Noto Kufi Arabic';
    src: url(themes-book/pressbooks-book/fonts/NotoKufiArabic-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}

// NOTO NASKH ARABIC
// ARABIC FONT SERIF 

@mixin NotoNaskhArabicFont {
 @font-face {
    font-family: 'Noto Naskh Arabic';
    src: url(themes-book/pressbooks-book/fonts/NotoNaskhArabic-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Noto Naskh Arabic';
    src: url(themes-book/pressbooks-book/fonts/NotoNaskhArabic-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}

// NOTO SANS CJK JP
// JAPANESE FONT 


@mixin NotoSansCJKJPFont {

 @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 200;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKjp-Light.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKjp-Regular.otf) format('truetype');
  }
  @font-face {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKjp-Bold.otf) format('truetype');
  }
}

// NOTO SANS CJK KR
// KOREAN FONT 

@mixin NotoSansCJKKRFont {
  @font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKkr-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKkr-Bold.otf) format('opentype');
  }
}

// NOTO SANS CJK SC
// SIMPLIFIED CHINESE FONT 

@mixin NotoSansCJKSCFont {

  @font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKsc-Regular.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKsc-Bold.otf) format('truetype');
  }
}


// NOTO SANS CJK TC
// TRADITIONAL CHINESE FONT 

@mixin NotoSansCJKTCFont {

 @font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    font-weight: 200;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKtc-Light.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKtc-Regular.otf) format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCJKtc-Bold.otf) format('truetype');
  }
}

@mixin NotoSansCopticFont {

  @font-face {
    font-family: 'Noto Sans Coptic';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NotoSansCoptic-Regular.ttf) format('truetype');
  }
  
}


@mixin NotoSansGujaratiFont {

  @font-face {
    font-family: 'Noto Sans Gujarati';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/NotoSansGujarati-Regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans Gujarati';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NotoSansGujarati-Bold.ttf) format('truetype');
  }
}

@mixin NotoSansSyriacFont {
	  @font-face {
    font-family: 'Noto Sans Syriac';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/NotoSansSyriacEstrangela-Regular.ttf) format('truetype');
  }
}

@mixin NotoSansTamilFont {
	 @font-face {
    font-family: 'Noto Sans Tamil';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/NotoSansTamil-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Noto Sans Tamil';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/NotoSansTamil-Bold.ttf) format('truetype');
  }
}

@mixin NotoSansTibetanFont {
	 @font-face {
    font-family: 'Noto Sans Tibetan';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/NotoSansTibetan-Regular.ttf) format('truetype');
  }	
}


//NOTOSERIF
//SERIF

@mixin NotoSerifFont {
	@font-face {
		font-family: 'Noto Serif';
		font-weight: normal;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/NotoSerif-Regular.ttf) format("truetype");
	}
	@font-face {
		font-family: 'Noto Serif';
		font-weight: normal;
		font-style: italic;
		src: url(themes-book/pressbooks-book/fonts/NotoSerif-Italic.ttf) format("truetype");
	}
}

//OLD Standard
//DISPLAY, SERIF

@mixin OldStandardFont {
  
  @font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/OldStandard-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/OldStandard-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Old Standard TT';
    font-style: italic;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/OldStandard-Italic.ttf) format('truetype');
  }
}


//OPEN SANS
//SANS-SERIF, CLEAN

@mixin OpenSansFont {
  @font-face {
    font-family: 'Open Sans';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
    @font-face {
    font-family: 'Open Sans';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Open Sans';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300; 
  } 
  @font-face {
    font-family: 'Open Sans';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: 300;
  }
}

//OPEN SANS CONDENSED
//SANS-SERIF, CLEAN

@mixin OpenSansCondensedFont {
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-CondLight.ttf) format('truetype');
    font-style: normal; 
    font-weight:  lighter;
  }
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url(themes-book/pressbooks-book/fonts/OpenSans-CondBold.ttf) format('truetype');
    font-style: normal;
    font-weight:  bold;
  }
  @font-face {
    font-family: 'Open Sans Condensed';
    font-style: italic;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/OpenSans-CondLightItalic.ttf) format('truetype');
  }
}





//ORBITRON 
//SANS-SERIF, DISPLAY

@mixin OrbitronFont {
  @font-face {
    font-family: 'Orbitron';
    src: url(themes-book/pressbooks-book/fonts/Orbitron-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Orbitron';
    src: url(themes-book/pressbooks-book/fonts/Orbitron-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Orbitron';
    src: url(themes-book/pressbooks-book/fonts/Orbitron-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight:  700;
  }
  @font-face {
    font-family: 'Orbitron';
    src: url(themes-book/pressbooks-book/fonts/Orbitron-Black.ttf) format('truetype');
    font-style: normal;
    font-weight: 900;
  }
}

//OSWALD 
//SANS-SERIF, BLOCK

@mixin OswaldFont {
  @font-face {
    font-family: 'Oswald';
    src: url(themes-book/pressbooks-book/fonts/Oswald-Regular.ttf) format('truetype');
    font-style: normal; 
    font-weight: normal;
  }
  @font-face {
    font-family: 'Oswald';
    src: url(themes-book/pressbooks-book/fonts/Oswald-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Oswald-Light.ttf) format('truetype');
  }
}

//POIRETONE 
//SANS-SERIF

@mixin PoiretOneFont {
  @font-face {
    font-family: 'Poiret One';
    src: url(themes-book/pressbooks-book/fonts/PoiretOne-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
}

//PT SERIF
//SERIF


@mixin PTSerifFont {
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/PT_Serif-Web-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/PT_Serif-Web-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: normal;
    src: url(themes-book/pressbooks-book/fonts/PT_Serif-Web-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: url(themes-book/pressbooks-book/fonts/PT_Serif-Web-BoldItalic.ttf) format('truetype');
  }
}


//QUANTICO
//SERIF

@mixin QuanticoFont {
	@font-face {
		font-family: "Quantico";
		font-weight: normal;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/Quantico-Regular.ttf) format("truetype");
	}
	@font-face {
		font-family: "Quantico";
		font-weight: normal;
		font-style: italic;
		src: url(themes-book/pressbooks-book/fonts/Quantico-Italic.ttf) format("truetype");
	}
	@font-face {
		font-family: "Quantico";
		font-weight: bold;
		font-style: italic;
		src: url(themes-book/pressbooks-book/fonts/Quantico-BoldItalic.ttf) format("truetype");
	}
	@font-face {
		font-family: "Quantico";
		font-weight: bold;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/Quantico-Bold.ttf) format("truetype");
	}
}


//ROBOTO 
//SANS-SERIF

@mixin RobotoFont {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Thin.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url(themes-book/pressbooks-book/fonts/Roboto-ThinItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(themes-book/pressbooks-book/fonts/Roboto-LightItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(themes-book/pressbooks-book/fonts/Roboto-Italic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(themes-book/pressbooks-book/fonts/Roboto-MediumItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(themes-book/pressbooks-book/fonts/Roboto-BoldItalic.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(themes-book/pressbooks-book/fonts/Roboto-BlackItalic.ttf) format('truetype');
  }
}

//ROBOTO CONDENSED

@mixin RobotoCondensedFont {
@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/RobotoCondensed-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/RobotoCondensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/RobotoCondensed-LightItalic.ttf) format("truetype");
}
}

//SBL GREEK
//GREEK FONTS (INCLUDING ANCIENT GREEK DIACRITICS)

@mixin SBLGreekFont {
  @font-face {
    font-family: 'SBL Greek';
    src: url(themes-book/pressbooks-book/fonts/SBL-grk.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

//SBL HEBREW
//HEBREW FONT, INCLUDING BIBLICAL DIACRITICS

@mixin SBLHebrewFont {
  @font-face {
    font-family: 'SBL Hebrew';
    src: url(themes-book/pressbooks-book/fonts/SBL_Hbrw.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}


//SORTS MILL GOUDY 
//SERIF, A LITTLE BIT ROUNDED 

@mixin SortsMillGoudyFont {
  @font-face {
    font-family: 'Sorts Mill Goudy';
    font-weight: normal;
    font-style: normal;
    src: url(themes-book/pressbooks-book/fonts/SortsMillGoudy-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Sorts Mill Goudy';
    font-weight: normal;
    font-style: italic;
    src: url(themes-book/pressbooks-book/fonts/SortsMillGoudy-Italic.ttf) format('truetype');
  }
}


//SPECIALELITE

@mixin SpecialEliteFont {
	@font-face {
		font-family: "Special Elite";
		font-weight: normal;
		font-style: normal;
		src: url(themes-book/pressbooks-book/fonts/SpecialElite.ttf) format("truetype");
	}
}

//TEKO
//SANS-SERIF, DISPLAY

@mixin TekoFont {
  @font-face {
    font-family: 'Teko';
    src: url(themes-book/pressbooks-book/fonts/Teko-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'Teko';
    src: url(themes-book/pressbooks-book/fonts/Teko-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Teko';
    src: url(themes-book/pressbooks-book/fonts/Teko-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
  }
   @font-face {
    font-family: 'Teko';
    src: url(themes-book/pressbooks-book/fonts/Teko-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
  }
   @font-face {
    font-family: 'Teko';
    src: url(themes-book/pressbooks-book/fonts/Teko-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
}

//TINOS
//SERIF

@mixin TinosFont {
  @font-face {
    font-family: 'Tinos';
    src: url(themes-book/pressbooks-book/fonts/Tinos-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Tinos';
    src: url(themes-book/pressbooks-book/fonts/Tinos-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Tinos';
    src: url(themes-book/pressbooks-book/fonts/Tinos-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
   @font-face {
    font-family: 'Tinos';
    src: url(themes-book/pressbooks-book/fonts/Tinos-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
  }
}

//TINOS NGH
//SERIF, No greek, No Hebrew

@mixin TinosNGHFont {
  @font-face {
    font-family: 'Tinos NGH';
    src: url(themes-book/pressbooks-book/fonts/TinosNGH-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Tinos NGH';
    src: url(themes-book/pressbooks-book/fonts/TinosNGH-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: 'Tinos NGH';
    src: url(themes-book/pressbooks-book/fonts/TinosNGH-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
  }
   @font-face {
    font-family: 'Tinos NGH';
    src: url(themes-book/pressbooks-book/fonts/TinosNGH-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
  }
}

//WWDESIGNS
//FANTASY

@mixin WWDesignsFont {
	@font-face {
	  font-family: "WWDesigns";
	  font-weight: normal;
	  font-style: normal;
	  src: url(themes-book/pressbooks-book/fonts/WWDesigns.ttf) format("truetype");
	}
}
