//VARS - ALIGNMENT - GLOBAL

//INDEX ALIGNMENT
$index-align: left !default;

//TITLE PAGE
$half-title-align: center !default;
$title-title-align: center !default;
$title-subtitle-align: center !default;
$title-author-align: center !default;
$title-publisher-align: center !default;
$title-publisher-city-align: center !default;

//SECTION TITLE ALIGNMENT
$front-matter-title-align: center !default;
$copyright-p-align: left !default;
$dedication-p-align: center !default;
$epigraph-p-align: center !default;

$part-number-align: center !default;
$part-title-align: center !default;

$chapter-number-align: center !default;
$chapter-title-align: center !default;
$chapter-subtitle-align: center !default;
$chapter-author-align: center !default;
$aphorism-align: left !default;

$back-matter-title-align: center !default;
