// VARS - HTML ELEMENTS - GLOBAL

// Links
$link-text-decoration: none !default;

// Body
@if $type == 'epub' {
  $body-font-size: medium !default;
} @else if $type == 'prince' {
  $body-font-size: 11pt !default;
}  @else if $type == 'web' {
  $body-font-size: medium !default;
}
$body-font-style: normal !default;
$body-font-weight: normal !default;
$body-line-height: 1.4em !default;

// Blockquotes
$blockquote-font-size: .9em !default;
$blockquote-font-style: normal !default;
$blockquote-font-weight: normal !default;
$blockquote-line-height: 1.2em !default;
$blockquote-margin: 1em !default;
$blockquote-align: justify !default;

// Headings (all)
$hx-margin-top: 1.5em !default;
$hx-margin-bottom: 1em !default;
$hx-line-height: 1.5em !default;

// Heading 1
$h1-font-size: 1em !default;
$h1-font-style: normal !default;
$h1-font-weight: bold !default;
$h1-text-transform: uppercase !default;
$h1-align: center !default;

// Heading 2
$h2-font-size: 1em !default;
$h2-font-style: normal !default;
$h2-font-weight: normal !default;
$h2-text-transform: uppercase !default;
$h2-align: center !default;

// Heading 3
$h3-font-size: 1em !default;
$h3-font-style: normal !default;
$h3-font-weight: bold !default;
$h3-text-transform: none !default;
$h3-align: center !default;

// Heading 4
$h4-font-size: 1em !default;
$h4-font-style: normal !default;
$h4-font-weight: bold !default;
$h4-text-transform: none !default;
$h4-align: center !default;

// Heading 5
$h5-font-size: 1em !default;
$h5-font-style: italic !default;
$h5-font-weight: normal !default;
$h5-text-transform: none !default;
$h5-align: left !default;

// Heading 6
$h6-font-size: 1em !default;
$h6-font-style: normal !default;
$h6-font-weight: normal !default;
$h6-text-transform: none !default;
$h6-align: left !default;

// Lists
$ol-margin-top: 1em !default;
$ol-margin-bottom: 1em !default;
$ol-margin-left: 2em !default;
$ul-margin-top: 1em !default;
$ul-margin-bottom: 1em !default;
$ul-margin-left: 2em !default;
$li-li-margin-top: .5m !default;

// Definition Lists
$dt-font-style: normal !default;
$dt-font-weight: bold !default;
$dd-font-style: italic !default;
$dd-font-weight: normal !default;

// Cite
$cite-font-size: .9em !default;
$cite-font-style: normal !default;
$cite-font-weight: normal !default;
$cite-text-transform: uppercase !default;
$cite-font-variant: small-caps !default;

// Superscript & Subscript
$sup-sub-font-size: .8em !default;
$sup-sub-line-height: .5em !default;

// Paragraphs
$widows: 2 !default;
$orphans: 1 !default;
$para-hyphenation: auto !default;
$para-indent: 1em !default;
$para-margin-top: 0 !default;
@if $type == 'epub' {
    $para-align: initial !default;
} @else if $type == 'prince' {
    $para-align: justify !default;
} @else if $type == 'web' {
    $para-align: initial !default;
}

// Tables
$table-font-size: .9em !default;
$table-align: left !default;
