// VARS - GLOBAL MEDIA

$image-caption-font-size: 0.8em !default;
$image-caption-font-style: normal !default;
$image-caption-font-weight: normal !default;
$image-caption-text-transform: none !default;

$prince-image-resolution: 300dpi !default;


