//============================================================================//
//                               Variables || Media                           //
//============================================================================//

$image-caption-padding-bottom: .5em !default;
$image-caption-font-family: $font-1 !default;
$image-caption-font-size: .8em !default;
$image-caption-font-style: normal !default;
$image-caption-font-weight: normal !default;
$image-caption-line-height: 1.2em !default;
$image-caption-text-align: left !default;
$image-caption-text-transform: none !default;
$image-wrapper-margin-top: .5em !default;
$image-wrapper-margin-bottom: .5em !default;
$image-alignleft-margin-right: 1em !default;
$image-alignright-margin-left: 1em !default;
$prince-image-resolution: 300dpi !default;
