// Specials

// Dropcaps

$first-character-font-size: 3em !default;
$first-character-font-style: normal !default;
$first-character-font-weight: bold !default;

// Footnotes

$pdf-footnote-font-size: .8em !default;
$epub-footnote-font-size: .9em !default;
$footnote-font-style: normal !default;
$footnote-font-weight: normal !default;

// Pullquotes

$pullquote-font-size: 1.25em !default;
$pullquote-font-style: normal !default;
$pullquote-font-weight: bold !default;
$pullquote-text-transform: none !default;

// Textboxes

$textbox-font-size: .9em !default;
$textbox-font-style: normal !default;
$textbox-font-weight: normal !default;
$textbox-line-height: 1.2em;
$textbox-padding-top: 10px !default;
$textbox-padding-right: 10px !default;
$textbox-padding-bottom: 10px !default;
$textbox-padding-left: 10px !default;
$textbox-margin-top: 10px !default;
$textbox-margin-right: 0 !default;
$textbox-margin-bottom: 10px !default;
$textbox-margin-left: 0 !default;
$textbox-border-style: solid !default;
$textbox-border-color: #000 !default;
$textbox-border-width: 1px !default;
$textbox-border-radius: 0 !default;
$textbox-shaded-background-color: #eee !default;
$textbox-caption-font-family: $font-2 !default;
$textbox-caption-font-size: .875em !default;
$textbox-caption-font-style: normal !default;
$textbox-caption-font-weight: bold !default;

// Educational Textboxes

$edu-header-text-color: #fff !default;
$learning-objectives-background: #f7f7f9 !default;
$learning-objectives-header-background: #111 !default;
$key-takeaways-background: #eaf5ea !default;
$key-takeaways-header-background: #3a7a33 !default;
$exercises-background: #e3eff6 !default;
$exercises-header-background: #0b6396 !default;
$examples-background: #f3e1e3 !default;
$examples-header-background: #7a333a !default;

// Sidebars

$sidebar-font-size: .9em !default;
$sidebar-font-style: italic !default;
$sidebar-font-weight: normal !default;
