// VARS - GLOBAL PAGE STRUCTURE

// Page Numbers

$front-matter-page-number-font-family: $font-2 !default;
$front-matter-page-number-font-size: .8em !default;
$front-matter-page-number-font-style: normal !default;
$front-matter-page-number-font-weight: normal !default;
$front-matter-page-number-text-transform: none !default;
$page-number-font-family: $font-2 !default;
$page-number-font-size: .9em !default;
$page-number-font-style: normal !default;
$page-number-font-weight: normal !default;
$page-number-text-transform: none !default;

// Running Heads

$runninghead-separator: '\A0\A0|\A0\A0' !default;
$runninghead-left-font-family: $font-3 !default;
$runninghead-left-font-size: .7em !default;
$runninghead-left-font-style: normal !default;
$runninghead-left-font-weight: normal !default;
$runninghead-left-text-transform: uppercase !default;
$runninghead-left-letter-spacing: 1px !default;
$runninghead-left-word-spacing: 2px !default;
$runninghead-right-font-family: $font-3 !default;
$runninghead-right-font-size: .7em !default;
$runninghead-right-font-style: normal !default;
$runninghead-right-font-weight: normal !default;
$runninghead-right-text-transform: uppercase !default;
$runninghead-right-letter-spacing: 1px !default;
$runninghead-right-word-spacing: 2px !default;

// Running Feet

$runningfoot-separator: '\A0\A0|\A0\A0' !default;
$runningfoot-left-font-family: $font-2 !default;
$runningfoot-left-font-size: .7em !default;
$runningfoot-left-font-style: normal !default;
$runningfoot-left-font-weight: normal !default;
$runningfoot-left-text-transform: uppercase !default;
$runningfoot-left-letter-spacing: normal !default;
$runningfoot-left-word-spacing: normal !default;
$runningfoot-right-font-family: $font-2 !default;
$runningfoot-right-font-size: .7em !default;
$runningfoot-right-font-style: normal !default;
$runningfoot-right-font-weight: normal !default;
$runningfoot-right-text-transform: uppercase !default;
$runningfoot-right-letter-spacing: normal !default;
$runningfoot-right-word-spacing: normal !default;

// Running Head & Foot Content
// Strings options are:
// - book-title
// - book-subtitle
// - book-author
// - book-publisher
// - book-publisher-city
// - part-number
// - part-title
// - chapter-number
// - section-title (this corresponds to front matter/chapter/back matter title
// OR short-chapter-title if present)
// - chapter-author
// - chapter-subtitle

$front-matter-running-content-left: string(book-title) !default;
$front-matter-running-content-right: string(section-title) !default;
$introduction-running-content-left: string(book-title) !default;
$introduction-running-content-right: string(section-title) !default;
$part-running-content-left: string(book-title) !default;
$part-running-content-right: string(part-title) !default;
$chapter-running-content-left: string(book-title) !default;
$chapter-running-content-right: string(section-title) !default;
$back-matter-running-content-left: string(book-title) !default;
$back-matter-running-content-right: string(section-title) !default;

// Crop Marks (none | crop | cross)

$page-cropmarks: none !default;

// Page Size (in | cm)

$page-width: 5.5in !default;
$page-height: 8.5in !default;

// Page Margins (in | cm | % | px | &c)

$page-margin-left-top: 2cm !default;
$page-margin-left-right: 2cm !default;
$page-margin-left-bottom: 2cm !default;
$page-margin-left-left: 2cm !default;
$page-margin-right-top: 2cm !default;
$page-margin-right-right: 2cm !default;
$page-margin-right-bottom: 2cm !default;
$page-margin-right-left: 2cm !default;

// Recto-Verso Openings (right | auto)

$recto-verso-standard-opening: right !default;
$recto-verso-first-section-opening: right !default;
$recto-verso-section-opening: auto !default;

// Index
$index-align: left !default;
