$white: #fff;
$mine-shaft: #333;
$boulder: #777;
$alto: #dedede;
$mercury: #e9e9e9;
$gallery: #efefef;
$monza: #d4002d;
$torch-red: #fc091b;
$pippin: #ffdedd;
$chablis: #fff8f9;
$selective-yellow: #fb0;
$verdun-green: #337800;
$fall-green: #e0edc1;
$lochmara: #07c;
