/* '#b40026', '#d4002d', '#e9e9e9', '#dfdfdf' */

html {
  background: #ececec; }

/* Login */

.login h1 a {
	background-image: url('../images/logo-login.png');
	background-size: 189px 37px;
	width: 189px;
	height: 37px;
	padding-bottom: 0px !important;
	margin-left: 65.5px;
}

/* Links */
a {
  color: #c5002a; }
  a:hover, a:active, a:focus {
    color: #000000; }

#rightnow a:hover,
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover,
.ui-tabs-nav a:hover {
  color: #000000; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #d4002d; }

input[type=radio]:checked:before {
  background: #d4002d; }

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #0099d5; }

/* Core UI */

.wp-core-ui .button-primary {
	background: #d4002d;
	border-color: #b40026;
	color: white;
	-webkit-box-shadow: inset 0 1px 0 rgba(230,200,200,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(230,200,200,.5),0 1px 0 rgba(0,0,0,.15); }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #c5002a;
    border-color: #b40026;
    color: white;
	-webkit-box-shadow: inset 0 1px 0 rgba(230,200,200,.5);
	box-shadow: inset 0 1px 0 rgba(230,200,200,.5); }
.wp-core-ui .button-primary:active {
    background: #d4002d;
    border-color: #b40026;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
    color: white !important;
    background: #d5d5d5 !important;
    border-color: #c3c3c3 !important;
    text-shadow: none !important; }
.wp-core-ui .wp-ui-primary {
  color: white;
  background-color: #b40026; }
.wp-core-ui .wp-ui-text-primary {
  color: #b40026; }
.wp-core-ui .wp-ui-highlight {
  color: white;
  background-color: #d4002d; }
.wp-core-ui .wp-ui-text-highlight {
  color: #d4002d; }
.wp-core-ui .wp-ui-notification {
  color: white;
  background-color: #e9e9e9; }
.wp-core-ui .wp-ui-text-notification {
  color: #e9e9e9; }
.wp-core-ui .wp-ui-text-icon {
  color: #f3f1f2; }

/* List tables */

.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  background: #c5002a;
  color: white; }
  
.view-switch a.current:before {
  color: #b40026; }

.view-switch a:hover:before {
  color: #e9e9e9; }

.post-com-count:hover:after {
  border-top-color: #b40026; }

.post-com-count:hover span {
  color: white;
  background-color: #b40026; }

strong .post-com-count:after {
  border-top-color: #e9e9e9; }

strong .post-com-count span {
  background-color: #e9e9e9; }

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #dedede; }

#adminmenu a {
  color: #333; }

#adminmenu div.wp-menu-image:before {
  color: #333; }

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #d4002d;
  background-color: #ececec; }

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #d4002d; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  border-bottom-color: #f3f3f3; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: white; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: white; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: black; }

#adminmenu .wp-submenu .wp-submenu-head:hover {
  color: #d4002d;
  background: #ffeef1; }

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: black; }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #d4002d;
    background: #ffeef1; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: black; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #d4002d;
    background: #ffeef1; }

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f3f3f3; }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: white;
  background: #777777; }

#adminmenu li.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: white; }
  
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
  color: white; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: white;
  background: #e9e9e9; }

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: white;
  background: #90001e; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #333; }

#collapse-menu:hover {
  color: #d4002d;
  background: #e4e4e4; }

#collapse-button div:after {
  color: #333; }

#collapse-menu:hover #collapse-button div:after {
  color: #d4002d; }

/* Admin Bar */
#wpadminbar {
  color: white;
  background: #b40026; }

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: white; }

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: white; }

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #d4002d;
  background: white; }

#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #d4002d; }

#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #d4002d; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: white; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #ececec; }

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: black; }

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: black; }

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #d4002d; }
  
#wpadminbar #wp-admin-bar-menu-toggle a {
  border: none; }

#wpadminbar li#wp-admin-bar-menu-toggle:hover {
  background: white; }
  
.wp-responsive-open #wpadminbar li#wp-admin-bar-menu-toggle a:hover {
  background: white !important; }

  
#wpadminbar ul.ab-submenu li:hover {
	background: #ffeef1; }

#wpadminbar ul.ab-sub-secondary li:hover {
  background: #e4e4e4; }

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #d4002d; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #f3f1f2; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: white;
  background: #d8002e; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: white;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: white;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: white;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: white;
  opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: white;
  background-color: white; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: black; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #d4002d; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: black; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #d4002d; }

.wp-pointer .wp-pointer-content h3:before {
  color: #d4002d; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #d4002d; }

.widget-top, .menu-item-handle, .menu-item-settings, .widget-inside, .postbox, #menu-settings-column .accordion-container, #menu-management .menu-edit, .manage-menus, table.widefat, .stuffbox, p.popular-tags, .widgets-holder-wrap, .welcome-panel, .wp-editor-container, #post-status-info, .popular-tags, .feature-filter, .imgedit-group {
border: 1px solid #dedede;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

/* Media Uploader */
.media-item .bar,
.media-progress-bar div {
  background-color: #d4002d; }

.details.attachment {
  box-shadow: 0 0 0 1px white, 0 0 0 5px #d4002d; }

.attachment.details .check {
  background-color: #d4002d;
  box-shadow: 0 0 0 1px white, 0 0 0 2px #d4002d; }

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme:hover:after {
  background: #c5002a; }

.theme-browser .theme.active .theme-actions,
.theme-browser .theme.active:focus .theme-actions {
	display: none;
}

.theme-browser .theme.add-new-theme:hover span:after {
  color: #c5002a; }

.theme-overlay .theme-header .close:hover,
.theme-overlay .theme-header .right:hover,
.theme-overlay .theme-header .left:hover {
  background: #c5002a; }

/* Export Page Themes */

/**
 * Main theme element
 * (has flexible margins)
 */
.export-right .theme {
	margin-top: 13px;
	cursor: pointer;
	float: left;
	position: relative;
	border: 1px solid #dedede;
	width: 325px;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow:         0 1px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.export-right .theme:hover,
.export-right .theme:focus {
	cursor: pointer;
}

.export-right .theme .theme-name {
	font-size: 15px;
	font-weight: 600;
	margin: 0;
	padding: 15px;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow:         inset 0 1px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #fff;
	background: rgba(255,255,255,0.65);
}

/* Activate and Customize buttons, shown on hover */
.export-right .theme .theme-actions {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 0.1s ease-in-out;
	transition:         opacity 0.1s ease-in-out;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 38px;
	padding: 9px 10px 0 10px;
	background: rgba(244, 244, 244, 0.7);
	border-left: 1px solid rgba(0,0,0,0.05);
}

.export-right .theme:hover .theme-actions {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

.export-right .theme .theme-actions .button-primary {
	margin-right: 3px;
}

.export-right .theme .theme-actions .button-secondary {
	float: none;
	margin-left: 3px;
}

/**
 * Theme Screenshot
 *
 * Has a fixed aspect ratio of 1.5 to 1 regardless of screenshot size
 * It is also responsive.
 */
.export-right .theme .theme-screenshot {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition:         opacity 0.2s ease-in-out;
}

.export-right .theme .theme-screenshot:after {
	content: '';
	display: block;
	padding-top: 66.66666%; /* using a 3/2 aspect ratio */
}

.export-right .theme .theme-screenshot img {
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transform: translateZ( 0 ); /* Prevents rendering bugs in Chrome */
	-webkit-transition: opacity 0.2s ease-in-out;
	transition:         opacity 0.2s ease-in-out;
}

.export-right .theme:hover .theme-screenshot {
	background: #fff;
}

.export-right.rendered .theme:hover .theme-screenshot img {
	opacity: 0.4;
}

.export-right .theme .more-details {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	position: absolute;
		top: 35%;
		right: 25%;
		left: 25%;
	background: #222;
	background: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	padding: 15px 12px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: opacity 0.1s ease-in-out;
	transition:         opacity 0.1s ease-in-out;
}
.export-right .theme:focus {
	outline: 1px dotted #222;
}
/* Hide shortcut actions and hover feedback when using tab navigation */
.export-right .theme:focus .theme-actions {
	display: none;
}
/* Restore display of theme controls if you hover a focused theme */
.export-right .theme:focus:hover .theme-actions {
	display: block;
}
.export-right .theme:focus .more-details {
	opacity: 1;
}
/* Current theme needs to have its action always on view */
.export-right .theme.active:focus .theme-actions {
	display: block;
}

.export-right.rendered .theme:hover .more-details {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}


/* jQuery UI Slider */
.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
  background: #e9e9e9;
  border-color: #d0d0d0;
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 white, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #f3f1f2; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #d4002d; }

.star-rating .star {
  color: #d4002d; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #90001e; }
