/* Admin Menu */
#adminmenu {
  transform: translateZ(0); }

                                         /* Fix for Chrome bug: https://code.google.com/p/chromium/issues/detail?id=509179#c51

/* Admin Bar */
@font-face {
  font-family: "PBFont";
  src: url("../fonts/PBFont.eot");
  src: url("../fonts/PBFont.eot?#iefix") format("embedded-opentype"), url("../fonts/PBFont.ttf") format("truetype"), url("../fonts/PBFont.woff") format("woff"), url("../fonts/PBFont.svg#PBFont") format("svg");
  font-weight: normal;
  font-style: normal; }
#wpadminbar .quicklinks li .blavatar:before {
  font: 14px/1 "PBFont" !important;
  -webkit-font-smoothing: antialiased;
  background: none;
  content: '\e600' !important; }
#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  -webkit-font-smoothing: antialiased;
  background: none;
  content: '\f330' !important; }
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
  font: 20px/1 "PBFont" !important;
  -webkit-font-smoothing: antialiased;
  background: none;
  content: '\e600' !important; }
@media screen and (max-width: 782px) {
  #wpadminbar #wp-admin-bar-my-books {
    display: block; }
    #wpadminbar #wp-admin-bar-my-books a.ab-item {
      text-overflow: clip; }
    #wpadminbar #wp-admin-bar-my-books > .ab-item {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 55px;
      padding: 0;
      color: #999;
      position: relative; }
      #wpadminbar #wp-admin-bar-my-books > .ab-item:before {
        font: 400 34px/1 dashicons;
        text-align: center;
        text-indent: 0px;
        top: 7px;
        width: 55px;
        -webkit-font-smoothing: antialiased;
        background: none;
        content: "\f318" !important; }
  #wpadminbar .quicklinks li .blavatar:before {
    display: inline-block; }
  #wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
    font: 28px/1 "PBFont" !important; } }

/* Contextual Help */
#contextual-help-link-wrap {
  display: none; }

/* Dashboard Widgets */
#dashboard-widgets #pb_dashboard_widget_book h4 {
  font-weight: bold; }
#dashboard-widgets #pb_dashboard_widget_book ul li.front-matter, #dashboard-widgets #pb_dashboard_widget_book ul li.chapter, #dashboard-widgets #pb_dashboard_widget_book ul li.back-matter {
  margin-left: 10px; }
#dashboard-widgets #pb_dashboard_widget_book .part-buttons {
  width: 200px;
  text-align: right;
  position: absolute;
  right: 8px;
  top: 0; }

/* User Screen */
.network-admin-restricted .user-super-admin-wrap {
  display: none; }

/* Custom Metadata Manager */
.custom-metadata-field.checkbox div, .custom-metadata-field.checkbox label {
  display: inline-block;
  vertical-align: baseline; }
.custom-metadata-field.checkbox input {
  margin: 0 1px 0 0; }
