/* Admin Bar */
@font-face {
  font-family: "PBFont";
  src: url("../fonts/PBFont.eot");
  src: url("../fonts/PBFont.eot?#iefix") format("embedded-opentype"), url("../fonts/PBFont.ttf") format("truetype"), url("../fonts/PBFont.woff") format("woff"), url("../fonts/PBFont.svg#PBFont") format("svg");
  font-weight: normal;
  font-style: normal; }
#wpadminbar .quicklinks li .blavatar:before {
  font: 14px/1 "PBFont" !important;
  -webkit-font-smoothing: antialiased;
  background: none;
  content: '\e600' !important; }
#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  -webkit-font-smoothing: antialiased;
  background: none;
  content: '\f330' !important; }
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
  font: 20px/1 "PBFont" !important;
  -webkit-font-smoothing: antialiased;
  background: none;
  content: '\e600' !important; }
@media screen and (max-width: 782px) {
  #wpadminbar #wp-admin-bar-my-books {
    display: block; }
    #wpadminbar #wp-admin-bar-my-books a.ab-item {
      text-overflow: clip; }
    #wpadminbar #wp-admin-bar-my-books > .ab-item {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 55px;
      padding: 0;
      color: #999;
      position: relative; }
      #wpadminbar #wp-admin-bar-my-books > .ab-item:before {
        font: 400 34px/1 dashicons;
        text-align: center;
        text-indent: 0px;
        top: 7px;
        width: 55px;
        -webkit-font-smoothing: antialiased;
        background: none;
        content: "\f318" !important; }
  #wpadminbar .quicklinks li .blavatar:before {
    display: inline-block; }
  #wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
    font: 28px/1 "PBFont" !important; } }

/* Contextual Help */
#contextual-help-link-wrap {
  display: none; }

/* Dashboard Widgets */
#dashboard-widgets #pb_dashboard_widget_book h4 {
  font-weight: bold; }
#dashboard-widgets #pb_dashboard_widget_book ul li.front-matter, #dashboard-widgets #pb_dashboard_widget_book ul li.chapter, #dashboard-widgets #pb_dashboard_widget_book ul li.back-matter {
  margin-left: 10px; }
#dashboard-widgets #pb_dashboard_widget_book .part-buttons {
  width: 200px;
  text-align: right;
  position: absolute;
  right: 8px;
  top: 0; }

/* Custom Metadata Manager */
.custom-metadata-field.checkbox div, .custom-metadata-field.checkbox label {
  display: inline-block;
  vertical-align: baseline; }
.custom-metadata-field.checkbox input {
  margin: 0 1px 0 0; }

/* Custom CSS Editor */
.custom-css-page form #my_custom_css {
  width: 100%;
  margin-top: 1em;
  font-family: "Lucida Console", Monaco, monospace; }

/* Organize Page */
body.chapter_page_pressbooks #publicize-panel h4 {
  font-size: 15px;
  font-weight: normal; }
  body.chapter_page_pressbooks #publicize-panel h4 span {
    font-weight: bold;
    padding: 2px 3px;
    margin: 15px 0 5px;
    text-transform: uppercase; }
  body.chapter_page_pressbooks #publicize-panel h4.private span {
    background-color: #FFDEDD; }
  body.chapter_page_pressbooks #publicize-panel h4.public span {
    background-color: #E0EDC1; }
body.chapter_page_pressbooks #publicize-panel .publicize-form label {
  display: block; }
  body.chapter_page_pressbooks #publicize-panel .publicize-form label:first-child {
    margin-bottom: 10px; }
  body.chapter_page_pressbooks #publicize-panel .publicize-form label span.active {
    font-weight: bold; }
body.chapter_page_pressbooks .widefat {
  margin-top: 10px; }
  body.chapter_page_pressbooks .widefat .delete-link {
    color: #fc091b; }
  body.chapter_page_pressbooks .widefat thead tr th {
    font-weight: bold; }
  body.chapter_page_pressbooks .widefat tbody tr td {
    vertical-align: middle; }
    body.chapter_page_pressbooks .widefat tbody tr td span.comment-count {
      width: auto !important;
      float: none; }
  body.chapter_page_pressbooks .widefat tbody tr.ui-state-highlight {
    background: #e9e9e9;
    color: #333;
    height: 1.5em;
    line-height: 1.2em; }
body.chapter_page_pressbooks #loader {
  display: none; }

/* Export Page */
.toplevel_page_pb_export legend {
  color: #676767;
  font-weight: bold;
  margin-bottom: 10px; }
.toplevel_page_pb_export label {
  margin-right: 25px; }
  .toplevel_page_pb_export label span {
    font-size: 10px;
    font-weight: bold; }
.toplevel_page_pb_export .postbox .inside {
  margin-bottom: 0; }
  .toplevel_page_pb_export .postbox .inside .fully-upgraded {
    color: #337800; }
.toplevel_page_pb_export input {
  margin-right: 7px; }
  .toplevel_page_pb_export input.generate {
    text-transform: uppercase; }
.toplevel_page_pb_export .export-left {
  float: left;
  margin-right: 3%;
  width: 47%; }
  .toplevel_page_pb_export .export-left h2 {
    background-color: #fff;
    border: 1px solid #eee;
    border-width: 0 1px;
    padding-left: 10px; }
  .toplevel_page_pb_export .export-left h3 {
    font-weight: normal;
    margin-bottom: 0;
    padding: 10px 0 0 10px; }
    .toplevel_page_pb_export .export-left h3:nth-of-type(even) {
      background-color: #eee; }
  .toplevel_page_pb_export .export-left #loader {
    display: none;
    margin-bottom: 4em; }
  .toplevel_page_pb_export .export-left .export-file-container {
    padding-right: 1.5em; }
    .toplevel_page_pb_export .export-left .export-file-container .file-actions {
      visibility: hidden; }
      .toplevel_page_pb_export .export-left .export-file-container .file-actions a, .toplevel_page_pb_export .export-left .export-file-container .file-actions button {
        color: black;
        text-decoration: none;
        display: inline-block;
        width: 20px;
        height: 20px; }
        .toplevel_page_pb_export .export-left .export-file-container .file-actions a:hover, .toplevel_page_pb_export .export-left .export-file-container .file-actions button:hover {
          color: #c5002a; }
      .toplevel_page_pb_export .export-left .export-file-container .file-actions button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0; }
  .toplevel_page_pb_export .export-left .export-files {
    padding: 10px;
    margin-bottom: 1.25em; }
    .toplevel_page_pb_export .export-left .export-files:nth-of-type(odd) {
      background-color: #eee; }
    .toplevel_page_pb_export .export-left .export-files:nth-of-type(1) {
      background: #fff;
      border: 1px solid #eee;
      border-width: 0 1px 1px; }
    .toplevel_page_pb_export .export-left .export-files form.export-file {
      display: inline-block;
      text-align: center;
      padding: 0 10px 0 0; }
      .toplevel_page_pb_export .export-left .export-files form.export-file a {
        text-align: center; }
      .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon {
        display: block;
        margin: 0 auto 8px; }
        .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small {
          width: 36px;
          height: 36px;
          background-size: 36px 36px; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.epub {
            background: url(../images/epub-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.epub3 {
            background: url(../images/epub3-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.icml {
            background: url(../images/icml-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.mobi {
            background: url(../images/mobi-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.pdf {
            background: url(../images/pdf-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.wxr {
            background: url(../images/wxr-36-red.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.vanillawxr {
            background: url(../images/vanillawxr-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.xhtml {
            background: url(../images/xhtml-36.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.small.odt {
            background: url(../images/odt-36.png) 0 0 no-repeat; }
        .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large {
          width: 48px;
          height: 48px;
          background-size: 48px 48px; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.epub {
            background: url(../images/epub-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.epub3 {
            background: url(../images/epub3-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.icml {
            background: url(../images/icml-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.mobi {
            background: url(../images/mobi-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.pdf {
            background: url(../images/pdf-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.wxr {
            background: url(../images/wxr-48-red.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.vanillawxr {
            background: url(../images/vanillawxr-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.xhtml {
            background: url(../images/xhtml-48.png) 0 0 no-repeat; }
          .toplevel_page_pb_export .export-left .export-files form.export-file span.export-file-icon.large.odt {
            background: url(../images/odt-48.png) 0 0 no-repeat; }
.toplevel_page_pb_export .export-right {
  width: 40%;
  float: left; }
  .toplevel_page_pb_export .export-right form {
    background: none;
    margin-bottom: 0;
    padding: 0 0 20px;
    width: auto;
    clear: both; }
    .toplevel_page_pb_export .export-right form fieldset, .toplevel_page_pb_export .export-right form p {
      float: left;
      width: 50%; }
    .toplevel_page_pb_export .export-right form fieldset {
      margin-bottom: 15px; }
    .toplevel_page_pb_export .export-right form p {
      padding-right: 15px;
      text-align: right; }
  .toplevel_page_pb_export .export-right h3 {
    margin-bottom: 0; }
  .toplevel_page_pb_export .export-right .theme {
    margin-top: 13px;
    cursor: pointer;
    float: left;
    position: relative;
    border: 1px solid #dedede;
    width: 325px;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Has a fixed aspect ratio of 1.5 to 1 regardless of screenshot size */ }
    .toplevel_page_pb_export .export-right .theme:hover, .toplevel_page_pb_export .export-right .theme:focus {
      cursor: pointer; }
    .toplevel_page_pb_export .export-right .theme .theme-screenshot {
      display: block;
      overflow: hidden;
      position: relative;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out; }
      .toplevel_page_pb_export .export-right .theme .theme-screenshot:after {
        content: '';
        display: block;
        padding-top: 66.66666%; }
      .toplevel_page_pb_export .export-right .theme .theme-screenshot img {
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        -webkit-transform: translateZ(0);
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out; }
    .toplevel_page_pb_export .export-right .theme .theme-name {
      font-size: 15px;
      font-weight: 600;
      margin: 0;
      padding: 15px;
      -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #fff;
      background: rgba(255, 255, 255, 0.65); }
    .toplevel_page_pb_export .export-right .theme .theme-actions {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0;
      -webkit-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 38px;
      padding: 9px 10px 0 10px;
      background: rgba(244, 244, 244, 0.7);
      border-left: 1px solid rgba(0, 0, 0, 0.05); }
      .toplevel_page_pb_export .export-right .theme .theme-actions .button-primary {
        margin-right: 3px; }
      .toplevel_page_pb_export .export-right .theme .theme-actions .button-secondary {
        float: none;
        margin-left: 3px; }
    .toplevel_page_pb_export .export-right .theme:focus {
      outline: 1px dotted #222;
      /* Hide shortcut actions and hover feedback when using tab navigation */
      /* Restore display of theme controls if you hover a focused theme */ }
      .toplevel_page_pb_export .export-right .theme:focus .theme-actions {
        display: none; }
      .toplevel_page_pb_export .export-right .theme:focus:hover .theme-actions {
        display: block; }
    .toplevel_page_pb_export .export-right .theme:hover .theme-actions {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1; }
    .toplevel_page_pb_export .export-right .theme:hover .theme-screenshot {
      background: #fff; }
