@import '_font-stack-prince';

$serif-prince: serif !default;
$sans-serif-prince: sans-serif !default;

$font-1: "Tinos", Georgia, $serif-prince;
$font-2: 'Lato', Helvetica, Arial, $sans-serif-prince;

// Theme specific fonts for Prince export:

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: url(themes-book/pressbooks-book/fonts/Lato-Hairline.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 200;
  src: url(themes-book/pressbooks-book/fonts/Lato-HairlineItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(themes-book/pressbooks-book/fonts/Lato-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(themes-book/pressbooks-book/fonts/Lato-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(themes-book/pressbooks-book/fonts/Lato-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(themes-book/pressbooks-book/fonts/Lato-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/Lato-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(themes-book/pressbooks-book/fonts/Lato-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(themes-book/pressbooks-book/fonts/Lato-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Tinos';
  src: url(themes-book/pressbooks-book/fonts/Tinos-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Tinos';
  src: url(themes-book/pressbooks-book/fonts/Tinos-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Tinos';
  src: url(themes-book/pressbooks-book/fonts/Tinos-Italic.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Tinos';
  src: url(themes-book/pressbooks-book/fonts/Tinos-BoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: bold;
}