/*
Theme Name: Pressbooks Custom CSS
Theme URI: http://pressbooks.com/
Description: Roll your own CSS using this custom theme.
Author: Pressbooks (Book Oven Inc.)
Author URI: http://pressbooks.com
Version: 0.1
Template: pressbooks-book
*/

/*
 Dummy file, this does absolutely nothing.
 Did you forget to make and save a custom CSS?
 @see: \Pressbooks\CustomCss
 */
