// Elements


$body-font-family: $font-1 !default;
$body-font-size: (
  epub: medium,
  prince: 12pt,
  web: 14pt
) !default;
$body-font-style: normal !default;
$body-font-weight: normal !default;
$body-line-height: (
  epub: 1.4em,
  prince: 1.2em,
  web: 1.8em,
) !default;


// Headings
$hx-margin-bottom: 1.25em !default;
$hx-line-height: 1.4em !default;

// Heading 1
$h1-font-family: $font-2 !default;
$h1-font-size: 1.2em !default;
$h1-text-transform: none !default;
$h1-align: left !default;

// Heading 2
$h2-font-family: $font-2 !default;
$h2-text-transform: none !default;
$h2-align: left !default;

// Heading 3
$h3-font-family: $font-2 !default;
$h3-font-size: .83 !default;
$h3-font-weight: normal !default;
$h3-text-transform: none !default;

// Heading 4
$h4-font-family: $font-2 !default;
$h4-font-size: .75em !default;
$h4-font-weight: normal !default;

// Heading 5
$h5-font-family: $font-2 !default;
$h5-font-size: .75em !default;

// Heading 6
$h6-font-family: $font-2 !default;

// Paragraphs
$para-indent: 2em !default;

// Lists
$ol-margin-left: (
  epub: 2em,
  prince: 2em,
  web: -1em
) !default;

// Cite
$cite-font-style: italic;
$cite-text-transform: none !default;
$cite-font-variant: normal !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/elements';

// Add custom SCSS below these imports and includes.
@import 'components/elements/links';
@import 'components/elements/blockquotes';
@import 'components/elements/body';
@import 'components/elements/headings';
@import 'components/elements/lists';
@import 'components/elements/miscellaneous';
@import 'components/elements/paragraphs';
@import 'components/elements/tables';

ul ul,
ul ul ul {
  list-style-type: none;
}

@if $type == 'epub' {
  ul li li {
    list-style-image: url('../../images/epub/em-dash.png');
  }
} @else if $type == 'prince' {
  ul li li {
    list-style-image: none;
  }

  ul li li::before {
    content: '\2013\00A0\00A0';
  }
}

@if $type == 'epub' {
  ul li li li {
    list-style-image: url('../../images/epub/asterisk.png');
  }
} @else if $type == 'prince' {
  ul li li li {
    list-style-image: none;
  }

  ul li li li::before {
    content: '\002A\00A0\00A0\00A0\00A0';
    font-size: .5em;
  }
}

ol {
  @extend ol.legal;
}
