// Elements

$body-font-size: 12pt !default;
$body-line-height: 1.6em !default;
$hx-line-height: 1.4em !default;
$h1-font-weight: normal !default;
$h3-font-weight: normal !default;
$h4-font-weight: normal !default;
$blockquote-font-size: .8em !default;
$blockquote-line-height: 1.5em !default;
$widows: 3 !default;
$orphans: 3 !default;
$para-indent: 2em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/elements';

// Add custom SCSS below these imports and includes.
@import 'components/elements/links';
@import 'components/elements/blockquotes';
@import 'components/elements/body';
@import 'components/elements/headings';
@import 'components/elements/lists';
@import 'components/elements/miscellaneous';
@import 'components/elements/paragraphs';
@import 'components/elements/tables';
@include tables();

h1,
h2,
h3,
h4,
h5,
h6 {
  prince-bookmark-level: 1;
}

blockquote {
  font-family: $font-2;
}

dt {
  float: left;
  margin-right: 5px;
}
