// Media

$image-caption-font-size: .875em !default;
$image-caption-font-style: italic !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/media';

// Add custom SCSS below these imports and includes.
@import 'components/media/images';
@import 'components/media/audio';
@import 'components/media/video';
@import 'components/media/scripts';

.wp-caption-text {
  float: prince-top-if-necessary;
  margin-top: 5px;
  text-align: left;
}

.wp-caption,
.wp-nocaption {
  margin: 1em 0;
}

.aligncenter {
  margin: 1em auto;
}

.alignleft {
  margin: 1em 1em 1em 0;
}

.alignright {
  margin: 1em 0 1em 1em;
}
