// Special Elements

$pdf-footnote-font-size: .75em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/specials';

// Add custom SCSS below these imports and includes.
@import 'components/specials/columns';
@import 'components/specials/dropcaps';
@import 'components/specials/floats';
@import 'components/specials/footnotes';
@import 'components/specials/miscellaneous';
@import 'components/specials/pullquotes';
@import 'components/specials/separators';
@import 'components/specials/textboxes';

@if $type == 'prince' {
  .footnote {
    padding-left: 1em;
    line-height: 1.4em;
    text-indent: 1em;
    footnote-style-position: inside;
  }
}

.endnote {
  line-height: 1em;
}

.endnotes {
  h3 {
    margin-bottom: 0;
  }
}

.aside,
aside {
  font-style: italic;
}

.pullquote,
.pullquote-left,
.pullquote-right {
  padding: 5px 0;
  border: 1px solid initial;
  border-width: 1px 0;
}

.pullquote {
  margin: 20px auto;
}

.pullquote-left {
  margin: .8em 15px .8em 0;
}

.pullquote-right {
  margin: .8em 0 .8em 15px;
}
