/**************************************************************
* General styles
**************************************************************/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Paul Irish's box model http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body.home {
	background: #fdfdfd;
}
/**************************************************************
* Cover Page/ Book info page
**************************************************************/
.book-info-container {
	background-color: #fdfdfd;
	font: 16px/1.5 'Droid Serif', serif;
	position: relative;
}
.book-info-container a {
	text-decoration: none;
}
.book-info-container h1,
.book-info-container h2,
.book-info-container h3,
.book-info-container h4,
.book-info-container h5 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: left;
}
.book-info-container h1 {
	font-size: 2.25em;
	font-weight: bold;
}
.book-info-container h2 {
	font-size: 1.5em; /* 24/16 */
}
.book-info-container h3 {
	font-size: 1.25em; /* 20/16 */
}
.book-info-container h4 {
	font-size: 1.125em; /* 18/16 */
}
.book-info-container h4 a {
	font-weight: normal;
}
.book-info-container h3,
.book-info-container h4 {
	text-transform: none;
}
.book-info-container blockquote {
	background: none;
	color: #fbfbfb;
	line-height: 1.7;
	margin: 0 auto 40px;
	padding-left: 0;
	width: 90%;
}
.book-info-container blockquote p {
	padding-left: 40px;
}
.book-info-container blockquote p + p {
	margin-top: 0;
	padding-top: 0;
    padding-left: 40px;
}
.book-info-container blockquote:before {
	display: block;
	float: left;
	font-size: 100px; /* let's make it a big quote! */
	content: "\201C";
}
.book-info-container ul, .book-info-container ol {
    list-style: disc outside none;
    padding-left: 30px;
}
.book-info-container ol {
	list-style: decimal;
}
.book-info-container ol li:before {
	content: "";
}
.book-info-container h5 {
	font-size: 1em;
}
.pressbooks-brand img {
	background-color: transparent;
	border: none;
	padding: 0;
}
.top-block,
.private-block {
	margin: auto;
	max-width: 960px;
	padding-bottom: 3em;
}
.book-info,
.call-to-action-wrap {
	float: left;
	margin-right: 5%;
	max-width: 540px;
	margin-top: 130px;
	width: 56.25%;
}
.book-info h1 {
	text-align: center;
}
.book-info h1 a {
	color: #333;
	text-decoration: none;
}
.book-info .book-author {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: lighter;
	margin-top: 5px;
    margin-bottom: 15px;
	text-align: center;
}
.book-cover {
	float: right;
    height: auto;
    max-width: 350px;
    position: relative;
    width: 36.5%;
}
.stroke {
	background: url(../images/book-info-stroke.png) 0 0 repeat-x;
    display: block;
    height: 1px;
    margin: 0 auto 20px;
    width: 30%;
}
.detail {
	background: url(../images/book-info-detail.png) 0 0 no-repeat;
    display: block;
	height: 11px;
    margin: 0 auto 20px;
    width: 24px;
}
.sub-title {
	font: 1.25em/1.4 'Oswald', sans-serif; /* 20/16 */
	margin: 0 auto 20px;
	text-align: center;
	width: 85%;
}
.call-to-action-wrap {
	margin-top: 0;
}
.call-to-action {
	margin: 40px auto 0;
	max-width: 285px;
    text-align: center;
}
.downloads {
    float: right;
    max-width: 350px;
    width: 36.5%;
    margin-top: 20px;
    text-align: center;
    clear: right;
}
.downloads h4 {
    text-align: center;
    color: #1f1f1d;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    width: 100%;
}
.btn {
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	margin: 0 10px;
	padding: 7px 20px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}
.btn.red {
	background-color: #a51b1b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(179, 56, 56)), to(rgb(165, 27, 27)));
	background-image: -webkit-linear-gradient(top, rgb(179, 56, 56), rgb(165, 27, 27));
	background-image: -moz-linear-gradient(top, rgb(179, 56, 56), rgb(165, 27, 27));
	background-image: -o-linear-gradient(top, rgb(179, 56, 56), rgb(165, 27, 27));
	background-image: -ms-linear-gradient(top, rgb(179, 56, 56), rgb(165, 27, 27));
	background-image: linear-gradient(top, rgb(179, 56, 56), rgb(165, 27, 27));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b33838', EndColorStr='#a51b1b');
}
a:hover.btn.red {
	background-color: #961616;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(171, 51, 51)), to(rgb(150, 22, 22)));
	background-image: -webkit-linear-gradient(top, rgb(171, 51, 51), rgb(150, 22, 22));
	background-image: -moz-linear-gradient(top, rgb(171, 51, 51), rgb(150, 22, 22));
	background-image: -o-linear-gradient(top, rgb(171, 51, 51), rgb(150, 22, 22));
	background-image: -ms-linear-gradient(top, rgb(171, 51, 51), rgb(150, 22, 22));
	background-image: linear-gradient(top, rgb(171, 51, 51), rgb(150, 22, 22));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ab3333', EndColorStr='#961616');
}
a:active.btn.red {
	background-color: #841212;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(144, 42, 42)), to(rgb(132, 18, 18)));
	background-image: -webkit-linear-gradient(top, rgb(144, 42, 42), rgb(132, 18, 18));
	background-image: -moz-linear-gradient(top, rgb(144, 42, 42), rgb(132, 18, 18));
	background-image: -o-linear-gradient(top, rgb(144, 42, 42), rgb(132, 18, 18));
	background-image: -ms-linear-gradient(top, rgb(144, 42, 42), rgb(132, 18, 18));
	background-image: linear-gradient(top, rgb(144, 42, 42), rgb(132, 18, 18));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#902a2a', EndColorStr='#841212');
}
.btn.black {
	background-color: #282828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(73, 73, 73)), to(rgb(40, 40, 40)));
	background-image: -webkit-linear-gradient(top, rgb(73, 73, 73), rgb(40, 40, 40));
	background-image: -moz-linear-gradient(top, rgb(73, 73, 73), rgb(40, 40, 40));
	background-image: -o-linear-gradient(top, rgb(73, 73, 73), rgb(40, 40, 40));
	background-image: -ms-linear-gradient(top, rgb(73, 73, 73), rgb(40, 40, 40));
	background-image: linear-gradient(top, rgb(73, 73, 73), rgb(40, 40, 40));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#494949', EndColorStr='#282828');
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
a:hover.btn.black {
	background-color: #222222;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(62, 62, 62)), to(rgb(34, 34, 34)));
	background-image: -webkit-linear-gradient(top, rgb(62, 62, 62), rgb(34, 34, 34));
	background-image: -moz-linear-gradient(top, rgb(62, 62, 62), rgb(34, 34, 34));
	background-image: -o-linear-gradient(top, rgb(62, 62, 62), rgb(34, 34, 34));
	background-image: -ms-linear-gradient(top, rgb(62, 62, 62), rgb(34, 34, 34));
	background-image: linear-gradient(top, rgb(62, 62, 62), rgb(34, 34, 34));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3e3e3e', EndColorStr='#222222');
}
a:active.btn.black {
	background-color: #222222;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(49, 49, 49)), to(rgb(34, 34, 34)));
	background-image: -webkit-linear-gradient(top, rgb(49, 49, 49), rgb(34, 34, 34));
	background-image: -moz-linear-gradient(top, rgb(49, 49, 49), rgb(34, 34, 34));
	background-image: -o-linear-gradient(top, rgb(49, 49, 49), rgb(34, 34, 34));
	background-image: -ms-linear-gradient(top, rgb(49, 49, 49), rgb(34, 34, 34));
	background-image: linear-gradient(top, rgb(49, 49, 49), rgb(34, 34, 34));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#313131', EndColorStr='#222222');
}
.buy-icon {
	background: url(../images/sprite-book-info.png) -200px -200px no-repeat;
	display: inline-block;
	margin-right: 10px;
	width: 16px;
	height: 16px;
}
.read-icon {
	background: url(../images/sprite-book-info.png) -400px -198px no-repeat;
	display: inline-block;
	margin-right: 10px;
	width: 16px;
	height: 16px;
}
.right-block {
	height: auto;
  float: right;
  max-width: 350px;
  width: 36.5%;
  position: relative;
}
.right-block .spacer {
		height: 65px;
}
.pressbooks-brand {
	display: block;
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
}
.pressbooks-brand span {
	display: none;
}
.book-cover img {
	background-color: transparent;
	box-shadow: 0 10px 7px #aeaeae;
	border: 0;
	max-width: 100%;
    padding: 0px;
}
.second-block-wrap,
.home .push {
	background-color: #3a3a3a;
}
.second-block-wrap,
.third-block-wrap,
.fourth-block-wrap {
	padding: 3em 0;
}
.second-block,
.third-block,
.fourth-block {
	color: #fff;
	margin: auto;
	max-width: 960px;
}
.log-wrap {
	position: absolute;
	top: 4px;
	right: 2%;
	z-index: 1000;
}
.log-wrap a{
	background: #E4E6E8;
	border-radius: 2px;
	color: #333;
	display: inline;
	font: 0.75em 'Oswald',sans-serif;
	padding: 4px 10px;
	text-transform: uppercase;
	text-align: center;
}
.log-wrap a:hover {
	background-color: #8D8D8D;
	color: #fff;
}
.home-post h3 {
	font-size: 1.1em;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 1.2em;
}
.description-book-info {
	float: left;
	margin-right: 3%;
	max-width: 590px;
	width: 62%;
}
.description-book-info a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.description-book-info a:hover {
	background-color: #fff;
	color: #333;
}
.author-book-info {
	float: left;
	max-width: 340px;
	width: 35%;
}
.author-book-info h4 {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	width: 100%;
}
.author-book-info h4 a {
	color: #fff;
	border-bottom: none;
}
.more-tag {
	border-bottom: none;
	color: #fff;
	display: block;
	font-style: italic;
	margin: 5px 0 20px;
}
.author-book-info h4 a:hover,
a:hover.more-tag {
	color: #bbb;
}
.start-reading {
	margin: 40px 0 10px;
	text-align: center;
}
a.button-black {
  background-color: #222;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  font: 1em 'Oswald', Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #000;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  padding: 5px 15px;
  text-decoration: none;
}
a.button-black:hover {
  background-color: #333;
}
a.button-black:active {
  background-color: #434343;
}
.third-block-wrap {
	background-color: #e4e6e8;
}
.third-block {
	color: #333;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;

}
.third-block h2 {
	color: #333;
}
.third-block a {
	color: #333;
	font-weight: lighter;
}
.book-info-container ul.table-of-content  {
	font-size: 0.875em;
	list-style: none;
	padding-left: 0;
}
.table-of-content h4 {
	color: #333;
   	line-height: 1.3;
	margin-bottom: 5px;
	margin-top: 20px;
	page-break-after: avoid;
}
.table-of-content ul {
	margin-left: 10px;
	list-style: none;
	padding-left: 0;
}
.table-of-content .front-matter,
.table-of-content .back-matter {
	font-weight: bold;
    margin-left: 0;
}
.fourth-block-wrap {
	background-color: #3a3a3a;
	min-height: 100px;
}

/**************************************************************
* Share buttons
**************************************************************/
#share{
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.sharer {
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	height: 30px;
	line-height: 32px;
	margin: 25px 0 0 50px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 90px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.sharer:before {
	background-repeat: no-repeat;
	content: "";
  display: block;
  height: 30px;
  line-height: 0;
  position: absolute;
  width: 25px;
}

#twitter.sharer {
	background-color: #00acee;
  padding-left: 15px;
}

#twitter.sharer:before {
	background-image: url(../images/twitter-icon.png);
	background-position: 0 9px;
}

#facebook.sharer {
	background-color: #34609d;
  padding-left: 10px;
}
#facebook.sharer:before {
	background-image: url(../images/facebook-icon.png);
	background-position: 7px 7px;
}
#googleplus.sharer {
	background-color: #c73719;
}

.private-block {
	margin: auto;
	padding-top: 15%;
	width: 40%;
}
.private-block h2 {
	color: #333;
	font-size: 1.8em;
	text-align: center;
}


@media screen and (max-width: 1260px) {
	.log-wrap a {
		display: block;
		margin-bottom: 3px;
	}
}
@media screen and (max-width: 990px) {
	.right-block {
		float: none;
		margin: auto;
	}
	.book-info,
	.call-to-action-wrap {
		float: none;
		margin: 10px auto 0;
	}
	.call-to-action-wrap {
		width: 100%;
	}
	.downloads {
		float: none;
		margin-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		max-width: 80%;
		overflow-x: hidden;
		overflow-y: hidden;
		width: auto;
	}

	.book-cover {
		float: none;
		margin: 30px auto 0;
		width: 90%;
	}
	.description-book-info,
	.author-book-info {
		float: none;
		margin: 2em auto;
		max-width: 80%;
		overflow: hidden;
		width: auto;
	}
	.second-block-wrap,
	.third-block-wrap,
	.fourth-block-wrap {
		padding: 1em 0;
	}
	#share {
	    margin: 30px auto;
		overflow: hidden;
		width: 350px;
	}
	.sharer {
		margin: 0 20px;
	}
	.sharer:first-child {
		margin-left: 0;
	}
	.sharer:last-child {
		margin-right: 0;
	}
	.third-block {
		width: 80%;
	}
	.log-wrap a {
		display: inline;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 780px) {
	.right-block {
		width: 95%;
	}
	.book-info,
	.description-book-info,
	.author-book-info,
	.third-block {
	    margin: 10px auto 0;
		max-width: 75%;
		width: auto;
	}
	.downloads {
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: 10px;
			max-width: 75%;
			width: auto;
	}

	.second-block-wrap,
	.third-block-wrap,
	.fourth-block-wrap {
		padding: 1em 0;
	}
}
@media screen and (max-width: 620px) {
	.book-info,
	.description-book-info,
	.author-book-info,
	.third-block {
		max-width: 95%;
	}
	.downloads {
		max-width: 95%;
	}
}
@media screen and (max-width: 550px) {
	.right-block {
		background-color: #414042;
		border-bottom: 5px solid #E5E7E8;
		display: block;
		margin-top:0;
		max-width: 100%;
		min-height: 75px;
		width: 100%;
	}
	.right-block:after,
	.right-block:before {
		top: 100%; border: solid transparent;
		content: " "; height: 0; width: 0;
		position: absolute;
		pointer-events: none;
	}
	.right-block:after {
		border-color: rgba(65, 64, 66, 0);
		border-top-color: #414042;
		border-width: 20px;
		left: 50%;
		margin-left: -20px;
	}
	.right-block:before {
		border-color: rgba(229, 231, 232, 0);
		border-top-color: #E5E7E8;
		border-width: 27px;
		left: 50%;
		margin-left: -27px;
	}
	.pressbooks-brand {
		display: block;
		max-width: 100%;
	}
	.pressbooks-brand img {
		display: none;
	}
	.pressbooks-brand span {
		color: #fff;
		display: block;
		font: 1.2em/1.3 'Oswald', sans-serif;
		padding: 30px 0 12px 10px;
		text-align: center;
	}
	.book-info {
		margin-top: 0;
		padding-top: 40px;
	}
	.log-wrap {
		top: -2px;
	}
	.log-wrap a {
		font-size: 0.65em;
		margin-right: 5px;
		top: 8px;
	}
	.book-info-container blockquote {
		width: 100%;
	}
}
@media screen and (max-width: 390px) {
	.btn.red {
		margin-bottom: 1em;
	}
	#share {
		width: 270px;
	}
	.sharrre .count,
	.sharrre .share {
		width: 60px;
	}
	#twitter .share:before,
	#facebook .share:before{
		background: none;
	}
	#twitter .share,
	#facebook .share {
		padding-left: 0;
		text-align: center;
	}
}


span.export-file-icon {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
		background-repeat: no-repeat;
		background-position: center;
    display: inline-block;
    margin: 0 5px 0 0;
}

span.small.epub {
    background-image: url(../../../assets/dist/images/epub-36.png);
}

span.small.epub3 {
    background-image: url(../../../assets/dist/images/epub3-36.png);
}

span.small.icml {
    background-image: url(../../../assets/dist/images/icml-36.png);
}

span.small.mobi {
    background-image: url(../../../assets/dist/images/mobi-36.png);
}

span.small.pdf, span.small.mpdf {
    background-image: url(../../../assets/dist/images/pdf-36.png);
}

span.small.print-pdf {
    background-image: url(../../../assets/dist/images/print-pdf-36.png);
}

span.small.wxr {
	background-image: url(../../../assets/dist/images/wxr-36.png);
}

span.small.vanillawxr {
    background-image: url(../../../assets/dist/images/vanillawxr-36.png);
}

span.small.xhtml {
    background-image: url(../../../assets/dist/images/xhtml-36.png);
}

span.small.odf {
    background-image: url(../../../assets/dist/images/odt-36.png);
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (-webkit-min-device-pixel-ratio:1.3020833333333333), only screen and (min--moz-device-pixel-ratio:1.3), only screen and (min-resolution:1.3dppx), only screen and (min-resolution:125dpi) {
	span.small.epub {
	    background-image: url(../../../assets/dist/images/epub-72.png);
	}

	span.small.epub3 {
	    background-image: url(../../../assets/dist/images/epub3-72.png);
	}

	span.small.icml {
	    background-image: url(../../../assets/dist/images/icml-72.png);
	}

	span.small.mobi {
	    background-image: url(../../../assets/dist/images/mobi-72.png);
	}

	span.small.pdf, span.small.mpdf {
	    background-image: url(../../../assets/dist/images/pdf-72.png);
	}

	span.small.print-pdf {
	    background-image: url(../../../assets/dist/images/print-pdf-72.png);
	}

	span.small.wxr {
		background-image: url(../../../assets/dist/images/wxr-72.png);
	}

	span.small.vanillawxr {
	    background-image: url(../../../assets/dist/images/vanillawxr-72.png);
	}

	span.small.xhtml {
	    background-image: url(../../../assets/dist/images/xhtml-72.png);
	}

	span.small.odf {
	    background-image: url(../../../assets/dist/images/odt-72.png);
	}
}
