@import "menus/sidebar";
@import "partials/colors";

$svg-md: 24px;
$svg-lg: 48px;

#wpcontent #wpadminbar {
  height: 70px;

  .quicklinks {
    display: flex;
    justify-content: space-between;
    height: 100%;

    > ul {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 20px;

      & > li:not(#wp-admin-bar-menu-toggle) {
        > .ab-item::before {
          top: 0;
        }
      }
    }

    li .blavatar {
      margin: 0 .25rem .25rem;

      &::before {
        font: 14px/1 PBFont, sans-serif;
        content: '\e600';
      }
    }

    #wp-admin-bar-my-account.with-avatar > a svg {
      height: $svg-lg;
      width: $svg-lg;
    }

    #wp-admin-bar-top-secondary li.btn.action a {
      border: 1px solid $white;
      border-radius: 8px;
      margin: 0;
      padding: 5px 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        height: $svg-md;
        width: $svg-md;
      }

      span {
        font-family: "Karla", sans-serif;
        font-size: 1.125rem;
        font-weight: bold;
        margin-left: 6px;
      }

      &:hover {
        background-color: $white;
        color: $monza;
      }
    }
  }

  #wp-admin-bar-my-account {
    margin-left: 10px;
    // TODO: figure out how to vertically center this element better and make sure the SVG is visible on mobile devices
  }

  ul:not(.ab-submenu) > li:not(.btn.action) {
    & > .ab-item {
      display: inline-flex;
      align-items: center;
      height: 100%;

      svg {
        height: $svg-md;
        width: $svg-md;
      }

      span {
        font-family: "Karla", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 6px;
      }
    }
  }

  ul.ab-submenu > li a:hover {
    box-shadow: inset .25rem 0 0 0 currentColor;
    transition: box-shadow .1s linear;
  }

  #wp-admin-bar-site-name > .ab-item::before {
    content: none;
  }

  #wp-admin-bar-updates .ab-icon:before {
    top: 0;
  }

  @media screen and (max-width: 1024px) {
    .quicklinks li .blavatar::before {
      display: inline-block;
    }

    .quicklinks > ul > li:not(#wp-admin-bar-menu-toggle, #wp-admin-bar-my-account) {
      display: block;

      > .ab-item {
        width: 48px;
        padding: 0;

        svg {
          height: $svg-lg;
          width: $svg-lg;
        }

        span {
          display: none;
        }
      }
    }

    .quicklinks > ul > li.btn > .ab-item {
      height: 32px !important;
      width: 32px !important;

      span {
        display: none;
      }
    }
  }

  @media screen and (max-width: 782px) {

    .quicklinks > ul > li:not(#wp-admin-bar-menu-toggle) > .ab-item {
      color: $white;

      svg {
        height: $svg-lg;
        width: $svg-lg;
      }
    }

    .quicklinks > ul > li#wp-admin-bar-my-account > .ab-item svg {
      height: $svg-lg;
      width: $svg-lg;
    }
  }
}

@media screen and (max-width: 600px) {
  #wpcontent #wpbody {
   padding-top: 70px;
  }
}

@media screen and (min-width: 600px) {
  #wpwrap {
    top: 24px;
  }
}

@media screen and (min-width: 783px) {
  #wpwrap {
    top: 38px;
  }
}
