@import 'https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Spectral:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap';

.pb-cloner {
  font-family: Karla, sans-serif;

  .pb-cloner-section {
    max-width: 950px;
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;

    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      margin: 0 0 1rem;
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
      margin: 1.5rem 0 .5rem;
    }

    p {
      max-width: 625px;
    }

    .section-title {
      margin: 0 0 1.5rem;
    }

    p, input, li, .book-description {
      font-size: 1rem;
    }

    .url-input {
      display: block;
      overflow: hidden;
      padding: 0 5px;
    }

    .subdir-target-url {
      float: left;
    }

    .subdomain-target-url {
      float: right;
    }

    .subdir-target-url, .subdomain-target-url {
      padding: 11px 0;
      font-size: 1rem;
    }

    .subdir-target-url input {
      width: 100%;
    }

    input[type="url"], input[type="text"], input[type="search"] {
      font-weight: normal;
      width: 100%;
      min-height: 40px;
    }

    #pb-cloner-button, .select-book {
      margin: 1rem 0 0;
      font-size: 1.125rem;
      font-weight: 700;
      text-align: center;
      border-radius: 10px;
      display: block;
      width: 100%;
      max-width: 350px;
      height: 65px;
    }

    .description {
        font-size: 0.75rem;
    }

    .pb-directory-search {
      margin: 0.5rem 0;
      width: 100%;
      font-weight: bold;
    }

    .pb-directory-logo {
      display: block;
      margin-bottom: 1rem;
    }

    .book-cards {
      .ais-Hits-list {
        margin: 1.5rem 0 0;
      }

      .ais-Hits-item {
        margin-bottom: 1rem;
        list-style: none;

        .book-card {
          display: flex;
          border-bottom: 1px solid #CCC;
          margin-bottom: 1.5rem;
          padding-bottom: 1.5em;

          .book-cover {
            margin-right: 1.5rem;
            width: 30%;
            max-width: 300px;

            img {
              width: 100%;
            }
          }

          .book-info {
            width: 70%;

            h2 {
              margin: 0;
              line-height: 1.3;
            }

           .book-details {
              margin-top: .25rem;
            }

            p {
              margin: 0 0 1rem;
            }
          }

          .line-clamp {
            display: -webkit-box; /* stylelint-disable-line */
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        @media screen and (max-width: 768px) {
          .book-card {
            display: block;

            .book-cover {
              width: 250px;
              margin: 0 auto 1rem;
            }

            .book-info {
              width: 100%;
            }
          }
        }
      }
    }

    .ais-SearchBox-reset {
      display: none;
    }
  }
}
