.pb-cloner{
  margin-top: 1.5rem;
}

.pb-dashboard-panel {
  #source-book-url{
    width: 80%;
  }

  .pb-directory-logo {
    margin-bottom: 1rem;
  }

  .pb-label {
    font-size: 1.11rem;
    font-weight: 700;
    margin-bottom: 1rem;

    + span {
      font-size: 0.6rem;
      font-weight: 400;
    }
  }

  .pb-directory-search {
    margin: 0.5rem 0;
    width: 100%;
    font-weight: bold;

    input {
      width: 100%;
      font-weight: normal;
    }
  }

  .book-cards {
    .ais-Hits-item {
      margin-bottom: 1rem;
      list-style: none;

      .book-card {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 0.5px solid;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        .book-cover {
          margin-right: 1rem;

          img {
            aspect-ratio: 3/4;
            max-width: 140px;
          }
        }

        .book-info {
          width: 100%;
        }

        .line-clamp {
          display: box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .book-select-book {
          width: 100%;
          flex: 1;
          justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;
          display: flex;
          margin-top: 1rem;
        }
      }
    }
  }

  .ais-SearchBox-reset {
    display: none;
  }
}
