@import 'https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Spectral:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap';

.pb-cloner {
  font-family: Karla, sans-serif;

  .pb-cloner-section {
    max-width: 1220px;
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;

    .wrapper {
      max-width: 850px;
    }

    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      margin: 0 0 1rem;
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
      margin: 1.5rem 0 .5rem;
    }

    .section-title {
      margin: 0 0 1.5rem;
    }

    p, input {
      font-size: 1rem;
    }

    .url-input {
      display: block;
      overflow: hidden;
      padding: 0 5px;
    }

    .subdir-target-url {
      float: left;
    }

    .subdomain-target-url {
      float: right;
    }

    .subdir-target-url, .subdomain-target-url {
      padding: 11px 0;
      font-size: 1rem;
    }

    .subdir-target-url input {
      width: 100%;
    }

    input[type="url"], input[type="text"], input[type="search"] {
      font-weight: normal;
      width: 100%;
      min-height: 40px;
    }

    #pb-cloner-button {
      margin: 1.5rem 0 0;
      font-size: 1.125rem;
      font-weight: 700;
      text-align: center;
      border-radius: 10px;
      display: block;
      width: 100%;
    }

    .description {
        font-size: 0.9rem;
    }

    .pb-directory-logo {
      float: right;
      margin-left: 1rem;
    }

    .pb-directory-search {
      margin: 0.5rem 0;
      width: 100%;
      font-weight: bold;
    }

    .book-cards {
      .ais-Hits-item {
        margin-bottom: 1rem;
        list-style: none;

        .book-card {
          width: 100%;
          display: flex;
          align-items: center;
          border-bottom: 0.5px solid;
          margin-bottom: 1rem;
          padding-bottom: 1rem;

          .book-cover {
            margin-right: 1rem;

            img {
              aspect-ratio: 3/4;
              max-width: 140px;
            }
          }

          .book-info {
            width: 100%;
          }

          .line-clamp {
            display: box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .book-select-book {
            width: 100%;
            flex: 1;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            display: flex;
            margin-top: 1rem;
          }
        }
      }
    }

    .ais-SearchBox-reset {
      display: none;
    }
  }
}
