@use "partials/colors" as *;
@use "sass:color";

// Local variables for this theme
$mine-shaft2: color.adjust($mine-shaft, $lightness: -5%);
$monza2: #3a3a3a;
$highlight: #AD0000;
$boulder2: color.adjust($boulder, $lightness: -5%);

@use "wp-admin-colors/dist/admin" with (
  $base-color: $alto,
  $icon-color: $mine-shaft2,
  $highlight-color: $highlight,
  $notification-color: $mercury,
  $button-color: $monza2,
  $text-color: $mine-shaft2,
  $body-background: $gallery,
  $link: color.adjust($monza2, $lightness: -5%),
  $link-focus: $highlight,
  $form-checked: $monza2,
  $menu-highlight-background: $gallery,
  $menu-highlight-text: $highlight,
  $menu-highlight-icon: $highlight,
  $menu-submenu-background: $white,
  $menu-submenu-text: $mine-shaft2,
  $menu-submenu-focus-text: $highlight,
  $menu-bubble-text: $mine-shaft2,
  $menu-collapse-text: $mine-shaft2,
  $menu-collapse-focus-icon: $monza2
);

// Local variables for use in this file
$link: color.adjust($monza2, $lightness: -5%);
$link-focus: $highlight;
$text-color: $mine-shaft2;
$button-color: $monza2; // Added this line

// Global a11y improvements
a {
  text-decoration: underline !important;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline !important;
  }
}

// Core UI

.notice-success,
div.updated {
  border-color: $verdun-green;
}

.notice-warning {
  border-color: $selective-yellow;
}

.notice-error,
div.error {
  border-color: $torch-red;
}

.notice-info {
  border-color: $lochmara;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
  border-color: $monza2;
}

.plugins .active td,
.plugins .active th {
  background: $chablis;
}

// Admin Menu

#adminmenu li.current:hover div.wp-menu-image::before,
#adminmenu li.wp-menu-open:hover div.wp-menu-image::before {
  color: $white;
}

#adminmenu li > a.menu-top:focus .wp-menu-image::before {
  color: $monza2;
}

// Admin Bar

#wpadminbar {
  color: $white;
  background: color.adjust($monza2, $lightness: -5%);

  .ab-icon,
  .ab-icon::before,
  .ab-item::before,
  .ab-item::after {
    color: $white;
  }

  &.mobile {
    .quicklinks .ab-icon::before,
    .quicklinks .ab-item::before {
      color: $white;
    }
  }

  .ab-item,
  a.ab-item,
  & > #wp-toolbar span.ab-label,
  & > #wp-toolbar span.noticon {
    color: $white;
  }

  #wp-admin-bar-menu-toggle .ab-item {
    background: color.adjust($monza2, $lightness: -5%);

    .ab-icon,
    .ab-icon::before {
      color: $white;
    }

    &:hover,
    &:active {
      background: $white;

      .ab-icon,
      .ab-icon::before {
        color: $monza2;
      }
    }

    &[aria-expanded="true"] {
      background: $white;

      .ab-icon,
      .ab-icon::before {
        color: color.adjust($monza2, $lightness: -5%);
      }

      &:hover,
      &:active {
        .ab-icon,
        .ab-icon::before {
          color: $monza2;
        }
      }
    }
  }

  .you-are-here {
    background: color.adjust($monza2, $lightness: 7%);

    a.ab-item {
      color: white;
    }
  }
}

// Themes

.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover::after,
.theme-browser .theme.add-new-theme a:focus::after {
  background: color.adjust($monza2, $lightness: -5%);
}

.theme-browser .theme.active .theme-actions {
  background: transparent;
}

// Page Title Actions

.page-title-action {
  color: $link-focus;
  border-color: $monza2 !important; // Changed to use $monza2 directly

  &:focus {
    color: $link-focus;
  }
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  color: $link;
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  color: $white;
  background-color: $link-focus;
  border-color: $link;
}

// TinyMCE

.mce-menu-item:hover .mce-text,
.mce-menu-item:focus .mce-text,
.mce-menu-item:hover .mce-ico,
.mce-menu-item:focus .mce-ico {
  color: $white !important; // Ugh.
}

.mce-menu-item:hover .mce-menu-shortcut,
.mce-menu-item.mce-selected .mce-menu-shortcut,
.mce-menu-item:focus .mce-menu-shortcut {
  color: $white !important; // Ugh.
}

.mce-btn.mce-active button,
.mce-btn.mce-active:hover button,
.mce-btn.mce-active i,
.mce-btn.mce-active:hover i {
  color: $mine-shaft2 !important; // Ugh
}

// Accessibility Fixes

button.move-up,
button.move-down,
button.editinline,
button.button-link {
  text-decoration: underline !important;
}

a.submitdelete.deletion,
span.delete a,
span.spam a,
span.trash a,
span#delete-link a.delete,
span.approve a,
span.unapprove a,
button.move-up,
button.move-down,
button.editinline,
button.button-link {
  color: color.adjust($monza2, $lightness: -5%) !important;

  &:hover {
    color: $highlight !important;
  }
}

.wp-admin select {
  color: $text-color !important;
}
