@import "partials/colors";
$mine-shaft2: darken($mine-shaft, 5%);
$monza2: #3a3a3a;
$highlight: #AD0000;
$boulder: darken($boulder, 5%);

a {
  text-decoration: underline !important;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline !important;
  }
}

$base-color: $alto;
$icon-color: $mine-shaft2;
$highlight-color: $highlight;
$notification-color: $mercury;
$button-color: $monza2;
$text-color: $mine-shaft2;
$body-background: $gallery;
$link: darken($monza2, 5%);
$link-focus: $highlight;
$form-checked: $monza2;
$menu-background: $alto;
$menu-text: $mine-shaft2;
$menu-icon: $mine-shaft2;
$menu-highlight-background: $white;
$menu-highlight-text: $highlight;
$menu-highlight-icon: $highlight;
$menu-current-background: $boulder;
$menu-current-text: $white;
$menu-current-icon: $white;
$menu-submenu-background: $white;
$menu-submenu-text: $mine-shaft2;
$menu-submenu-background-alt: $white;
$menu-submenu-focus-text: $highlight;
$menu-submenu-current-text: $highlight;
$menu-bubble-background: $mercury;
$menu-bubble-text: $mine-shaft2;
$menu-bubble-current-background: $white;
$menu-bubble-current-text: $monza2;
$menu-collapse-text: $mine-shaft2;
$menu-collapse-icon: $mine-shaft2;
$menu-collapse-focus-text: $monza2;
$menu-collapse-focus-icon: $monza2;
$adminbar-avatar-frame: $white;
$adminbar-input-background: $white;

@import "~wp-admin-colors/dist/admin";

// Core UI

.notice-success,
div.updated {
  border-color: $verdun-green;
}

.notice-warning {
  border-color: $selective-yellow;
}

.notice-error,
div.error {
  border-color: $torch-red;
}

.notice-info {
  border-color: $lochmara;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
  border-color: $monza2;
}

.plugins .active td,
.plugins .active th {
  background: $chablis;
}

// Admin Menu

#adminmenu li.current:hover div.wp-menu-image::before,
#adminmenu li.wp-menu-open:hover div.wp-menu-image::before {
  color: $white;
}

#adminmenu li > a.menu-top:focus .wp-menu-image::before {
  color: $monza2;
}

// Admin Bar

#wpadminbar {
  color: $white;
  background: darken($monza2, 5%);

  .ab-icon,
  .ab-icon::before,
  .ab-item::before,
  .ab-item::after {
    color: $white;
  }

  &.mobile {
    .quicklinks .ab-icon::before,
    .quicklinks .ab-item::before {
      color: $white;
    }
  }

  .ab-item,
  a.ab-item,
  & > #wp-toolbar span.ab-label,
  & > #wp-toolbar span.noticon {
    color: $white;
  }

  #wp-admin-bar-menu-toggle .ab-item {
    background: darken($monza2, 5%);

    .ab-icon,
    .ab-icon::before {
      color: $white;
    }

    &:hover,
    &:active {
      background: $white;

      .ab-icon,
      .ab-icon::before {
        color: $monza2;
      }
    }

    &[aria-expanded="true"] {
      background: $white;

      .ab-icon,
      .ab-icon::before {
        color: darken($monza2, 5%);
      }

      &:hover,
      &:active {
        .ab-icon,
        .ab-icon::before {
          color: $monza2;
        }
      }
    }
  }
  .you-are-here {
    background: lighten($monza2, 7%);
    a.ab-item {
      color: white;
    }
  }
}

// Themes

.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover::after,
.theme-browser .theme.add-new-theme a:focus::after {
  background: darken($monza2, 5%);
}

.theme-browser .theme.active .theme-actions {
  background: transparent;
}

// Page Title Actions

.page-title-action:focus {
  color: $link-focus;
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  color: $link;
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  color: $white;
  background-color: $link-focus;
  border-color: $link;
}

// TinyMCE

.mce-menu-item:hover .mce-text,
.mce-menu-item:focus .mce-text,
.mce-menu-item:hover .mce-ico,
.mce-menu-item:focus .mce-ico {
  color: $white !important; // Ugh.
}

.mce-menu-item:hover .mce-menu-shortcut,
.mce-menu-item.mce-selected .mce-menu-shortcut,
.mce-menu-item:focus .mce-menu-shortcut {
  color: $white !important; // Ugh.
}

.mce-btn.mce-active button,
.mce-btn.mce-active:hover button,
.mce-btn.mce-active i,
.mce-btn.mce-active:hover i {
  color: $mine-shaft2 !important; // Ugh
}

// Accessibility Fixes

button.move-up,
button.move-down,
button.editinline {
  text-decoration: underline !important;
}

a.submitdelete.deletion,
span.delete a,
span.spam a,
span.trash a.submitdelete,
span#delete-link a.delete,
button.move-up,
button.move-down,
button.editinline {
  color: darken($monza2, 5%) !important;
  &:hover {
    color: $highlight !important;
  }
}
