@use "sass:list";

textarea {
  width: 500px;
}

input[type="text"] {
  width: 250px;
}

.front-background-image-preview-wrap,
.front-background-image-upload-button,
.front-background-image-description {
  &.hidden {
    display: none;
  }
}

.delete-back-background-image,
.delete-front-background-image {
  margin-top: 0.5em;
}

img.front-background-image {
  margin-top: 0.5em;
  max-width: 300px;
}

form,
input#generate-pdf,
input#generate-jpg {
  display: inline-block;
  margin: 1em 0;
}

.theme {
  margin: 1.5em 0;
  cursor: pointer;
  position: relative;
  border: 1px solid #dedede;
  width: 325px;
  box-shadow: 0 1px 1px -1px rgb(0 0 0 / 10%);
  box-sizing: border-box;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  /* Has a fixed aspect ratio of 1.5 to 1 regardless of screenshot size */
  .theme-screenshot {
    display: block;
    overflow: hidden;
    position: relative;
    transition: opacity 0.2s ease-in-out;

    &::after {
      content: '';
      display: block;
      padding-top: 66.6666%; // using a 3/2 aspect ratio
    }

    img {
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      transform: translateZ(0); // Prevents rendering bugs in Chrome
      transition: opacity 0.2s ease-in-out;
    }
  }

  .theme-name {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 15px;
    box-shadow: inset 0 1px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgb(255 255 255 / 65%);
  }

  .theme-actions {
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 38px;
    padding: 9px 10px 0;
    background: rgb(244 244 244 / 70%);
    border-left: 1px solid rgb(0 0 0 / 5%);

    .button-primary {
      margin-right: 3px;
    }

    .button-secondary {
      float: none;
      margin-left: 3px;
    }
  }

  &:focus {
    outline: 1px dotted #222;

    /* Hide shortcut actions and hover feedback when using tab navigation */
    .theme-actions {
      display: none;
    }

    /* Restore display of theme controls if you hover a focused theme */
    &:hover {
      .theme-actions {
        display: block;
      }
    }
  }

  &:hover {
    .theme-actions {
      filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1;
    }

    .theme-screenshot {
      background: #fff;
    }
  }
}

/* stylelint-disable */
// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)
@mixin hidpi($ratio: 1.3) {
  @media only screen and (min-device-pixel-ratio: $ratio),
  only screen and (min--moz-device-pixel-ratio: $ratio),
  only screen and (-o-min-device-pixel-ratio: list.slash($ratio, 1)),
  only screen and (min-resolution: round($ratio * 96dpi)),
  only screen and (min-resolution: $ratio * 1dppx) {
    @content;
  }
}
/* stylelint-enable */

.cover-files {
  padding: 10px;
  margin-bottom: 1.25em;

  form.cover-file {
    display: inline-block;
    text-align: center;
    padding: 0 10px 0 0;

    a {
      text-align: center;
    }

    span.cover-file-icon {
      display: block;
      margin: 0 auto 8px;
      width: 48px;
      height: 48px;
      background-size: 48px 48px;
      background-position: -0 0;
      background-repeat: no-repeat;

      &.pdf {
        background-image: url("../images/pdf-48.png");

        @include hidpi {
          background-image: url("../images/pdf-96.png");
        }
      }

      &.jpg {
        background-image: url("../images/jpg-48.png");

        @include hidpi {
          background-image: url("../images/jpg-96.png");
        }
      }
    }

    .cover-file-container {
      padding-right: 1.5em;

      .file-actions {
        visibility: hidden;

        a,
        button {
          color: black;
          text-decoration: none;
          display: inline-block;
          width: 20px;
          height: 20px;

          &:hover {
            color: #c5002a;
          }
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
        }
      }

      &:hover {
        .file-actions {
          visibility: visible;
        }
      }
    }
  }
}
