:root {
  --duet-color-primary: #d4002d;
  --duet-color-text: #333;
  --duet-color-text-active: #fff;
  --duet-color-placeholder: #777;
  --duet-color-button: #efefef;
  --duet-color-surface: #fff;
  --duet-color-overlay: rgb(0 0 0 / 80%);
  --duet-color-border: #8c8f94;
  --duet-font: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif;
  --duet-font-normal: 400;
  --duet-font-bold: 600;
  --duet-radius: 4px;
  --duet-z-index: 600;
}
