@import 'partials/colors', 'partials/mixins';

/* Export Page */

.toplevel_page_pb_export {
  legend {
    color: #676767;
    font-weight: bold;
    margin-bottom: 10px;
  }

  label {
    margin-right: 25px;

    span {
      font-size: 10px;
      font-weight: bold;
    }
  }

  .postbox {
    h2:first-child {
      border-bottom: 1px solid #eee;
      font-size: 14px;
      padding: 8px 12px;
      margin: 0;
      line-height: 1.4;
      text-align: right;
    }

    .inside {
      margin-bottom: 0;

      .fully-upgraded {
        color: $verdun-green;
      }
    }
  }

  input {
    margin-right: 7px;

    &.generate {
      text-transform: uppercase;
    }
  }

  #loader {
    display: none;
    margin-bottom: 4em;
  }

  .grid {
    display: grid;
    grid-column-gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .column {
    padding: 1em;
  }

  .column img {
    width: 100%;
    height: auto;
  }

  div.export-file {
    display: flex;
  }

  div.export-file-name {
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
  }

  div.export-file-icon {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: top;
    margin: 0 10px 0 0;

    &.small {
      width: 36px;
      height: 36px;
      background-size: 36px 36px;
      background-position: -0 0;
      background-repeat: no-repeat;

      &.epub {
        background-image: url(../images/epub-36.png);

        @include hidpi {
          background-image: url(../images/epub-72.png);
        }
      }

      &.epub3 {
        background-image: url(../images/epub3-36.png);

        @include hidpi {
          background-image: url(../images/epub3-72.png);
        }
      }

      &.icml {
        background-image: url(../images/icml-36.png);

        @include hidpi {
          background-image: url(../images/icml-72.png);
        }
      }

      &.mobi {
        background-image: url(../images/mobi-36.png);

        @include hidpi {
          background-image: url(../images/mobi-72.png);
        }
      }

      &.print-pdf {
        background-image: url('../images/print-pdf-36.png');

        @include hidpi {
          background-image: url('../images/print-pdf-72.png');
        }
      }

      &.pdf {
        background-image: url(../images/pdf-36.png);

        @include hidpi {
          background-image: url(../images/pdf-72.png);
        }
      }

      &.wxr {
        background-image: url(../images/wxr-36.png);

        @include hidpi {
          background-image: url(../images/wxr-72.png);
        }
      }

      &.vanillawxr {
        background-image: url(../images/vanillawxr-36.png);

        @include hidpi {
          background-image: url(../images/vanillawxr-72.png);
        }
      }

      &.xhtml {
        background-image: url(../images/xhtml-36.png);

        @include hidpi {
          background-image: url(../images/xhtml-72.png);
        }
      }

      &.htmlbook {
        background-image: url(../images/html5-36.png);

        @include hidpi {
          background-image: url(../images/html5-72.png);
        }
      }

      &.odt {
        background-image: url(../images/odt-36.png);

        @include hidpi {
          background-image: url(../images/odt-72.png);
        }
      }
    }

    &.large {
      width: 48px;
      height: 48px;
      background-size: 48px 48px;
      background-position: -0 0;
      background-repeat: no-repeat;

      &.epub {
        background-image: url(../images/epub-48.png);

        @include hidpi {
          background-image: url(../images/epub-96.png);
        }
      }

      &.epub3 {
        background-image: url(../images/epub3-48.png);

        @include hidpi {
          background-image: url(../images/epub3-96.png);
        }
      }

      &.icml {
        background-image: url(../images/icml-48.png);

        @include hidpi {
          background-image: url(../images/icml-96.png);
        }
      }

      &.mobi {
        background-image: url(../images/mobi-48.png);

        @include hidpi {
          background-image: url(../images/mobi-96.png);
        }
      }

      &.print-pdf {
        background-image: url('../images/print-pdf-48.png');

        @include hidpi {
          background-image: url('../images/print-pdf-96.png');
        }
      }

      &.pdf {
        background-image: url(../images/pdf-48.png);

        @include hidpi {
          background-image: url(../images/pdf-96.png);
        }
      }

      &.wxr {
        background-image: url(../images/wxr-48.png);

        @include hidpi {
          background-image: url(../images/wxr-96.png);
        }
      }

      &.vanillawxr {
        background-image: url(../images/vanillawxr-48.png);

        @include hidpi {
          background-image: url(../images/vanillawxr-96.png);
        }
      }

      &.xhtml {
        background-image: url(../images/xhtml-48.png);

        @include hidpi {
          background-image: url(../images/xhtml-96.png);
        }
      }

      &.htmlbook {
        background-image: url(../images/html5-48.png);

        @include hidpi {
          background-image: url(../images/html5-96.png);
        }
      }

      &.odt {
        background-image: url(../images/odt-48.png);

        @include hidpi {
          background-image: url(../images/odt-96.png);
        }
      }
    }
  }

  td.column-file .row-actions {
    margin-left: 58px;
  }

  .theme {
    border: 1px solid #dedede;
    width: 325px;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    /* Has a fixed aspect ratio of 1.5 to 1 regardless of screenshot size */
    .theme-screenshot {
      display: block;
      overflow: hidden;
      position: relative;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;

      &::after {
        content: '';
        display: block;
        padding-top: 66.66666%; // using a 3/2 aspect ratio
      }

      img {
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        -webkit-transform: translateZ(0); // Prevents rendering bugs in Chrome
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .toplevel_page_pb_export {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
}
