@import 'partials/colors', 'partials/mixins';

/* Export Page */

.toplevel_page_pb_export {
  legend {
    color: #676767;
    font-weight: bold;
    margin-bottom: 10px;
  }

  label {
    margin-right: 25px;

    span {
      font-size: 10px;
      font-weight: bold;
    }
  }

  .postbox {
    .toggle-indicator::before {
      content: "\f142";
      display: inline-block;
      font: normal 20px/1 "dashicons", sans-serif;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-decoration: none !important;
    }

    &.closed {
      .toggle-indicator::before {
        content: "\f140";
      }
    }

    h2 {
      border-bottom: 1px solid #eee;
      font-size: 14px;
      padding: 8px 12px;
      margin: 0;
      line-height: 1.4;
      text-align: left;
    }

    .inside {
      margin-bottom: 0;

      .fully-upgraded {
        color: $verdun-green;
      }
    }
  }

  input {
    margin-right: 7px;

    &.generate {
      text-transform: uppercase;
    }
  }

  .grid {
    display: grid;
    grid-row-gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .column {
    padding: 1em;
  }

  .column img {
    width: 100%;
    height: auto;
  }

  div.export-file {
    display: flex;
  }

  div.export-file-name {
    display: inline-block;
    word-break: break-word;
    vertical-align: top;
  }

  div.export-file-icon {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: top;
    margin: 0 10px 0 0;

    svg {
      height: 48px;
      width: 48px;
    }

    &.epub,
    &.epub3,
    &.mobi {
      .badge {
        fill: #7FAA45;
      }
    }

    &.print_pdf,
    &.pdf,
    &.wxr {
      .badge {
        fill: #BB2026;
      }
    }

    &.icml,
    &.vanillawxr,
    &.xhtml,
    &.htmlbook,
    &.weblinks {
      .badge {
        fill: #179EBF;
      }
    }

    &.odf {
      .badge {
        fill: #007DCA;
      }
    }
  }

  td.column-pin label {
    @include visually-hidden();
  }

  .theme {
    border: 1px solid #dedede;
    width: 325px;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Has a fixed aspect ratio of 1.5 to 1 regardless of screenshot size */
    .theme-screenshot {
      display: block;
      overflow: hidden;
      position: relative;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;

      &::after {
        content: '';
        display: block;
        padding-top: 66.66666%; // using a 3/2 aspect ratio
      }

      img {
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        -webkit-transform: translateZ(0); // Prevents rendering bugs in Chrome
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .toplevel_page_pb_export {
    .grid {
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.5em;
    }

    .supported-formats,
    .theme {
      margin-bottom: 1.5em;
    }
  }
}

@media screen and(min-width: 1200px) {
  .toplevel_page_pb_export {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .formats,
    .themes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.5em;
    }
  }
}
