.glossary-term {
  background: transparent;
  border-bottom: dotted 1px var(--primary);
  border-left: dotted 1px transparent;
  border-radius: 0;
  border-right: dotted 1px transparent;
  border-top: dotted 1px transparent;
  color: var(--primary);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  text-transform: inherit;
  vertical-align: unset;

  &:hover {
    background: transparent;
    border-bottom-color: var(--primary-dark);
    color: var(--primary-dark);
  }

  &:focus {
    background: transparent;
    border-color: var(--primary-dark);
    border-style: solid;
    box-shadow: none;
    color: var(--primary-dark);
  }
}

.glossary {
  display: block;
}

.glossary__tooltip {
  background: #fff;
  border: solid 1px #444;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}
