.front-matter, .part, .chapter, .back-matter {
  a.glossary-term {
  background: transparent;
  border-bottom: dotted 1px var(--primary);
  border-left: dotted 1px transparent;
  border-radius: 0;
  border-right: dotted 1px transparent;
  border-top: dotted 1px transparent;
  color: var(--primary);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  text-decoration: none;
  text-transform: inherit;
  vertical-align: unset;

  &:hover {
    background: transparent;
    border-color: transparent transparent var(--primary-dark);
    color: var(--primary-dark);
  }

  &:active,
  &:focus {
    background: transparent;
    border-color: var(--primary-dark);
    border-style: solid;
    box-shadow: none;
    color: var(--primary-dark);
    outline-color: transparent;
  }
}
}

.glossary {
  display: block;
}

.glossary__definition {
  background: #fff;
  border: solid 1px #444;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  max-width: var(--reading-width, 40em);
  width: 100%;
  z-index: 20;

  button {
    align-items: center;
    display: flex;
    float: right;
    height: 1.5rem;
    justify-content: center;
    line-height: 1;
    padding: 0.25rem;
    width: 1.5rem;
  }
}

.has-dialog {
  overflow: hidden;
}

.overlay {
  background: rgb(0 0 0 / 60%);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}
