/* UNIQUEID */
$nocache: unique_id();

@font-face {
  font-family: heroicons;
  src: url("../fonts/heroicons.eot?v=#{$nocache}") format("embedded-opentype"),
  url("../fonts/heroicons.woff2?v=#{$nocache}") format("woff2"),
  url("../fonts/heroicons.woff?v=#{$nocache}") format("woff");
}

i[class^="pb-heroicons-"]:before, i[class*=" pb-heroicons-"]:before {
  font-family: heroicons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pb-heroicons-PBIcons-my-books:before {
  content: "\f101";
}
.pb-heroicons-PBIcons-clone-book:before {
  content: "\f102";
}
.pb-heroicons-PBIcons-H5P:before {
  content: "\f103";
}
.pb-heroicons-Heroicons-solid_x-mark:before {
  content: "\f104";
}
.pb-heroicons-Heroicons-solid_x-circle:before {
  content: "\f105";
}
.pb-heroicons-Heroicons-solid_wrench:before {
  content: "\f106";
}
.pb-heroicons-Heroicons-solid_wrench-screwdriver:before {
  content: "\f107";
}
.pb-heroicons-Heroicons-solid_window:before {
  content: "\f108";
}
.pb-heroicons-Heroicons-solid_wifi:before {
  content: "\f109";
}
.pb-heroicons-Heroicons-solid_wallet:before {
  content: "\f10a";
}
.pb-heroicons-Heroicons-solid_viewfinder-circle:before {
  content: "\f10b";
}
.pb-heroicons-Heroicons-solid_view-columns:before {
  content: "\f10c";
}
.pb-heroicons-Heroicons-solid_video-camera:before {
  content: "\f10d";
}
.pb-heroicons-Heroicons-solid_video-camera-slash:before {
  content: "\f10e";
}
.pb-heroicons-Heroicons-solid_variable:before {
  content: "\f10f";
}
.pb-heroicons-Heroicons-solid_users:before {
  content: "\f110";
}
.pb-heroicons-Heroicons-solid_user:before {
  content: "\f111";
}
.pb-heroicons-Heroicons-solid_user-plus:before {
  content: "\f112";
}
.pb-heroicons-Heroicons-solid_user-minus:before {
  content: "\f113";
}
.pb-heroicons-Heroicons-solid_user-group:before {
  content: "\f114";
}
.pb-heroicons-Heroicons-solid_user-circle:before {
  content: "\f115";
}
.pb-heroicons-Heroicons-solid_tv:before {
  content: "\f116";
}
.pb-heroicons-Heroicons-solid_truck:before {
  content: "\f117";
}
.pb-heroicons-Heroicons-solid_trophy:before {
  content: "\f118";
}
.pb-heroicons-Heroicons-solid_trash:before {
  content: "\f119";
}
.pb-heroicons-Heroicons-solid_ticket:before {
  content: "\f11a";
}
.pb-heroicons-Heroicons-solid_tag:before {
  content: "\f11b";
}
.pb-heroicons-Heroicons-solid_table-cells:before {
  content: "\f11c";
}
.pb-heroicons-Heroicons-solid_swatch:before {
  content: "\f11d";
}
.pb-heroicons-Heroicons-solid_sun:before {
  content: "\f11e";
}
.pb-heroicons-Heroicons-solid_stop:before {
  content: "\f11f";
}
.pb-heroicons-Heroicons-solid_stop-circle:before {
  content: "\f120";
}
.pb-heroicons-Heroicons-solid_star:before {
  content: "\f121";
}
.pb-heroicons-Heroicons-solid_squares-plus:before {
  content: "\f122";
}
.pb-heroicons-Heroicons-solid_squares-2x2:before {
  content: "\f123";
}
.pb-heroicons-Heroicons-solid_square-3-stack-3d:before {
  content: "\f124";
}
.pb-heroicons-Heroicons-solid_square-2-stack:before {
  content: "\f125";
}
.pb-heroicons-Heroicons-solid_speaker-x-mark:before {
  content: "\f126";
}
.pb-heroicons-Heroicons-solid_speaker-wave:before {
  content: "\f127";
}
.pb-heroicons-Heroicons-solid_sparkles:before {
  content: "\f128";
}
.pb-heroicons-Heroicons-solid_signal:before {
  content: "\f129";
}
.pb-heroicons-Heroicons-solid_signal-slash:before {
  content: "\f12a";
}
.pb-heroicons-Heroicons-solid_shopping-cart:before {
  content: "\f12b";
}
.pb-heroicons-Heroicons-solid_shopping-bag:before {
  content: "\f12c";
}
.pb-heroicons-Heroicons-solid_shield-exclamation:before {
  content: "\f12d";
}
.pb-heroicons-Heroicons-solid_shield-check:before {
  content: "\f12e";
}
.pb-heroicons-Heroicons-solid_share:before {
  content: "\f12f";
}
.pb-heroicons-Heroicons-solid_server:before {
  content: "\f130";
}
.pb-heroicons-Heroicons-solid_server-stack:before {
  content: "\f131";
}
.pb-heroicons-Heroicons-solid_scissors:before {
  content: "\f132";
}
.pb-heroicons-Heroicons-solid_scale:before {
  content: "\f133";
}
.pb-heroicons-Heroicons-solid_rss:before {
  content: "\f134";
}
.pb-heroicons-Heroicons-solid_rocket-launch:before {
  content: "\f135";
}
.pb-heroicons-Heroicons-solid_rectangle-stack:before {
  content: "\f136";
}
.pb-heroicons-Heroicons-solid_rectangle-group:before {
  content: "\f137";
}
.pb-heroicons-Heroicons-solid_receipt-refund:before {
  content: "\f138";
}
.pb-heroicons-Heroicons-solid_receipt-percent:before {
  content: "\f139";
}
.pb-heroicons-Heroicons-solid_radio:before {
  content: "\f13a";
}
.pb-heroicons-Heroicons-solid_queue-list:before {
  content: "\f13b";
}
.pb-heroicons-Heroicons-solid_question-mark-circle:before {
  content: "\f13c";
}
.pb-heroicons-Heroicons-solid_qr-code:before {
  content: "\f13d";
}
.pb-heroicons-Heroicons-solid_puzzle-piece:before {
  content: "\f13e";
}
.pb-heroicons-Heroicons-solid_printer:before {
  content: "\f13f";
}
.pb-heroicons-Heroicons-solid_presentation-chart-line:before {
  content: "\f140";
}
.pb-heroicons-Heroicons-solid_presentation-char-bar:before {
  content: "\f141";
}
.pb-heroicons-Heroicons-solid_power:before {
  content: "\f142";
}
.pb-heroicons-Heroicons-solid_plus:before {
  content: "\f143";
}
.pb-heroicons-Heroicons-solid_plus-circle:before {
  content: "\f144";
}
.pb-heroicons-Heroicons-solid_play:before {
  content: "\f145";
}
.pb-heroicons-Heroicons-solid_play-pause:before {
  content: "\f146";
}
.pb-heroicons-Heroicons-solid_play-circle:before {
  content: "\f147";
}
.pb-heroicons-Heroicons-solid_photo:before {
  content: "\f148";
}
.pb-heroicons-Heroicons-solid_phone:before {
  content: "\f149";
}
.pb-heroicons-Heroicons-solid_phone-x-mark:before {
  content: "\f14a";
}
.pb-heroicons-Heroicons-solid_phone-arrow-up-right:before {
  content: "\f14b";
}
.pb-heroicons-Heroicons-solid_phone-arrow-down-left:before {
  content: "\f14c";
}
.pb-heroicons-Heroicons-solid_pencil:before {
  content: "\f14d";
}
.pb-heroicons-Heroicons-solid_pencil-square:before {
  content: "\f14e";
}
.pb-heroicons-Heroicons-solid_pause:before {
  content: "\f14f";
}
.pb-heroicons-Heroicons-solid_pause-circle:before {
  content: "\f150";
}
.pb-heroicons-Heroicons-solid_paper-clip:before {
  content: "\f151";
}
.pb-heroicons-Heroicons-solid_paper-airplane:before {
  content: "\f152";
}
.pb-heroicons-Heroicons-solid_paint-brush:before {
  content: "\f153";
}
.pb-heroicons-Heroicons-solid_no-symbol:before {
  content: "\f154";
}
.pb-heroicons-Heroicons-solid_newspaper:before {
  content: "\f155";
}
.pb-heroicons-Heroicons-solid_musical-note:before {
  content: "\f156";
}
.pb-heroicons-Heroicons-solid_moon:before {
  content: "\f157";
}
.pb-heroicons-Heroicons-solid_minus:before {
  content: "\f158";
}
.pb-heroicons-Heroicons-solid_minus-circle:before {
  content: "\f159";
}
.pb-heroicons-Heroicons-solid_microphone:before {
  content: "\f15a";
}
.pb-heroicons-Heroicons-solid_megaphone:before {
  content: "\f15b";
}
.pb-heroicons-Heroicons-solid_map:before {
  content: "\f15c";
}
.pb-heroicons-Heroicons-solid_map-pin:before {
  content: "\f15d";
}
.pb-heroicons-Heroicons-solid_magnifying-glass:before {
  content: "\f15e";
}
.pb-heroicons-Heroicons-solid_magnifying-glass-plus:before {
  content: "\f15f";
}
.pb-heroicons-Heroicons-solid_magnifying-glass-minus:before {
  content: "\f160";
}
.pb-heroicons-Heroicons-solid_magnifying-glass-circle:before {
  content: "\f161";
}
.pb-heroicons-Heroicons-solid_loud-arrow-up:before {
  content: "\f162";
}
.pb-heroicons-Heroicons-solid_lock-open:before {
  content: "\f163";
}
.pb-heroicons-Heroicons-solid_lock-closed:before {
  content: "\f164";
}
.pb-heroicons-Heroicons-solid_list-bullet:before {
  content: "\f165";
}
.pb-heroicons-Heroicons-solid_link:before {
  content: "\f166";
}
.pb-heroicons-Heroicons-solid_light-bulb:before {
  content: "\f167";
}
.pb-heroicons-Heroicons-solid_lifebuoy:before {
  content: "\f168";
}
.pb-heroicons-Heroicons-solid_language:before {
  content: "\f169";
}
.pb-heroicons-Heroicons-solid_key:before {
  content: "\f16a";
}
.pb-heroicons-Heroicons-solid_information-circle:before {
  content: "\f16b";
}
.pb-heroicons-Heroicons-solid_inbox:before {
  content: "\f16c";
}
.pb-heroicons-Heroicons-solid_inbox-stack:before {
  content: "\f16d";
}
.pb-heroicons-Heroicons-solid_inbox-arrow-down:before {
  content: "\f16e";
}
.pb-heroicons-Heroicons-solid_identification:before {
  content: "\f16f";
}
.pb-heroicons-Heroicons-solid_home:before {
  content: "\f170";
}
.pb-heroicons-Heroicons-solid_home-modern:before {
  content: "\f171";
}
.pb-heroicons-Heroicons-solid_heart:before {
  content: "\f172";
}
.pb-heroicons-Heroicons-solid_hashtag:before {
  content: "\f173";
}
.pb-heroicons-Heroicons-solid_hart-pie:before {
  content: "\f174";
}
.pb-heroicons-Heroicons-solid_hand-thumb-up:before {
  content: "\f175";
}
.pb-heroicons-Heroicons-solid_hand-thumb-down:before {
  content: "\f176";
}
.pb-heroicons-Heroicons-solid_hand-raised:before {
  content: "\f177";
}
.pb-heroicons-Heroicons-solid_globe-europe-africa:before {
  content: "\f178";
}
.pb-heroicons-Heroicons-solid_globe-asia-australia:before {
  content: "\f179";
}
.pb-heroicons-Heroicons-solid_globe-americas:before {
  content: "\f17a";
}
.pb-heroicons-Heroicons-solid_globe-alt:before {
  content: "\f17b";
}
.pb-heroicons-Heroicons-solid_gift:before {
  content: "\f17c";
}
.pb-heroicons-Heroicons-solid_gift-top:before {
  content: "\f17d";
}
.pb-heroicons-Heroicons-solid_gif:before {
  content: "\f17e";
}
.pb-heroicons-Heroicons-solid_funnel:before {
  content: "\f17f";
}
.pb-heroicons-Heroicons-solid_forward:before {
  content: "\f180";
}
.pb-heroicons-Heroicons-solid_folder:before {
  content: "\f181";
}
.pb-heroicons-Heroicons-solid_folder-plus:before {
  content: "\f182";
}
.pb-heroicons-Heroicons-solid_folder-open:before {
  content: "\f183";
}
.pb-heroicons-Heroicons-solid_folder-minus:before {
  content: "\f184";
}
.pb-heroicons-Heroicons-solid_folder-arrow-down:before {
  content: "\f185";
}
.pb-heroicons-Heroicons-solid_flag:before {
  content: "\f186";
}
.pb-heroicons-Heroicons-solid_fire:before {
  content: "\f187";
}
.pb-heroicons-Heroicons-solid_finger-print:before {
  content: "\f188";
}
.pb-heroicons-Heroicons-solid_film:before {
  content: "\f189";
}
.pb-heroicons-Heroicons-solid_face-smile:before {
  content: "\f18a";
}
.pb-heroicons-Heroicons-solid_face-frown:before {
  content: "\f18b";
}
.pb-heroicons-Heroicons-solid_eye:before {
  content: "\f18c";
}
.pb-heroicons-Heroicons-solid_eye-slash:before {
  content: "\f18d";
}
.pb-heroicons-Heroicons-solid_eye-dropper:before {
  content: "\f18e";
}
.pb-heroicons-Heroicons-solid_exclamation-triangle:before {
  content: "\f18f";
}
.pb-heroicons-Heroicons-solid_exclamation-circle:before {
  content: "\f190";
}
.pb-heroicons-Heroicons-solid_envelope:before {
  content: "\f191";
}
.pb-heroicons-Heroicons-solid_envelope-open:before {
  content: "\f192";
}
.pb-heroicons-Heroicons-solid_ellipsis-vertical:before {
  content: "\f193";
}
.pb-heroicons-Heroicons-solid_ellipsis-horizontal:before {
  content: "\f194";
}
.pb-heroicons-Heroicons-solid_ellipsis-horizontal-circle:before {
  content: "\f195";
}
.pb-heroicons-Heroicons-solid_document:before {
  content: "\f196";
}
.pb-heroicons-Heroicons-solid_document-text:before {
  content: "\f197";
}
.pb-heroicons-Heroicons-solid_document-plus:before {
  content: "\f198";
}
.pb-heroicons-Heroicons-solid_document-minus:before {
  content: "\f199";
}
.pb-heroicons-Heroicons-solid_document-magnifying-glass:before {
  content: "\f19a";
}
.pb-heroicons-Heroicons-solid_document-duplicate:before {
  content: "\f19b";
}
.pb-heroicons-Heroicons-solid_document-check:before {
  content: "\f19c";
}
.pb-heroicons-Heroicons-solid_document-chart-bar:before {
  content: "\f19d";
}
.pb-heroicons-Heroicons-solid_document-arrow-up:before {
  content: "\f19e";
}
.pb-heroicons-Heroicons-solid_document-arrow-down:before {
  content: "\f19f";
}
.pb-heroicons-Heroicons-solid_device-tablet:before {
  content: "\f1a0";
}
.pb-heroicons-Heroicons-solid_device-phone-mobile:before {
  content: "\f1a1";
}
.pb-heroicons-Heroicons-solid_cursor-arrow-ripple:before {
  content: "\f1a2";
}
.pb-heroicons-Heroicons-solid_cursor-arrow-rays:before {
  content: "\f1a3";
}
.pb-heroicons-Heroicons-solid_currency-yen:before {
  content: "\f1a4";
}
.pb-heroicons-Heroicons-solid_currency-rupee:before {
  content: "\f1a5";
}
.pb-heroicons-Heroicons-solid_currency-pound:before {
  content: "\f1a6";
}
.pb-heroicons-Heroicons-solid_currency-euro:before {
  content: "\f1a7";
}
.pb-heroicons-Heroicons-solid_currency-dollar:before {
  content: "\f1a8";
}
.pb-heroicons-Heroicons-solid_currency-bangladeshi:before {
  content: "\f1a9";
}
.pb-heroicons-Heroicons-solid_cube:before {
  content: "\f1aa";
}
.pb-heroicons-Heroicons-solid_cube-transparent:before {
  content: "\f1ab";
}
.pb-heroicons-Heroicons-solid_credit-card:before {
  content: "\f1ac";
}
.pb-heroicons-Heroicons-solid_cpu-chip:before {
  content: "\f1ad";
}
.pb-heroicons-Heroicons-solid_computer-desktop:before {
  content: "\f1ae";
}
.pb-heroicons-Heroicons-solid_command-line:before {
  content: "\f1af";
}
.pb-heroicons-Heroicons-solid_cog:before {
  content: "\f1b0";
}
.pb-heroicons-Heroicons-solid_cog-8-tooth:before {
  content: "\f1b1";
}
.pb-heroicons-Heroicons-solid_cog-6-tooth:before {
  content: "\f1b2";
}
.pb-heroicons-Heroicons-solid_code-bracket:before {
  content: "\f1b3";
}
.pb-heroicons-Heroicons-solid_code-bracket-square:before {
  content: "\f1b4";
}
.pb-heroicons-Heroicons-solid_cloud:before {
  content: "\f1b5";
}
.pb-heroicons-Heroicons-solid_cloud-arrow-down:before {
  content: "\f1b6";
}
.pb-heroicons-Heroicons-solid_clock:before {
  content: "\f1b7";
}
.pb-heroicons-Heroicons-solid_clipboard:before {
  content: "\f1b8";
}
.pb-heroicons-Heroicons-solid_clipboard-document:before {
  content: "\f1b9";
}
.pb-heroicons-Heroicons-solid_clipboard-document-list:before {
  content: "\f1ba";
}
.pb-heroicons-Heroicons-solid_clipboard-document-check:before {
  content: "\f1bb";
}
.pb-heroicons-Heroicons-solid_circle-stack:before {
  content: "\f1bc";
}
.pb-heroicons-Heroicons-solid_chevron-up:before {
  content: "\f1bd";
}
.pb-heroicons-Heroicons-solid_chevron-up-down:before {
  content: "\f1be";
}
.pb-heroicons-Heroicons-solid_chevron-left:before {
  content: "\f1bf";
}
.pb-heroicons-Heroicons-solid_chevron-down:before {
  content: "\f1c0";
}
.pb-heroicons-Heroicons-solid_chevron-double-up:before {
  content: "\f1c1";
}
.pb-heroicons-Heroicons-solid_chevron-double-right:before {
  content: "\f1c2";
}
.pb-heroicons-Heroicons-solid_chevron-double-left:before {
  content: "\f1c3";
}
.pb-heroicons-Heroicons-solid_chevron-double-down:before {
  content: "\f1c4";
}
.pb-heroicons-Heroicons-solid_cheron-right:before {
  content: "\f1c5";
}
.pb-heroicons-Heroicons-solid_check:before {
  content: "\f1c6";
}
.pb-heroicons-Heroicons-solid_check-circle:before {
  content: "\f1c7";
}
.pb-heroicons-Heroicons-solid_check-badge:before {
  content: "\f1c8";
}
.pb-heroicons-Heroicons-solid_chat-bubble-oval-left:before {
  content: "\f1c9";
}
.pb-heroicons-Heroicons-solid_chat-bubble-oval-left-ellipsis:before {
  content: "\f1ca";
}
.pb-heroicons-Heroicons-solid_chat-bubble-left:before {
  content: "\f1cb";
}
.pb-heroicons-Heroicons-solid_chat-bubble-left-right:before {
  content: "\f1cc";
}
.pb-heroicons-Heroicons-solid_chat-bubble-left-ellipsis:before {
  content: "\f1cd";
}
.pb-heroicons-Heroicons-solid_chat-bubble-bottom-center:before {
  content: "\f1ce";
}
.pb-heroicons-Heroicons-solid_chat-bubble-bottom-center-text:before {
  content: "\f1cf";
}
.pb-heroicons-Heroicons-solid_chart-bar:before {
  content: "\f1d0";
}
.pb-heroicons-Heroicons-solid_chart-bar-square:before {
  content: "\f1d1";
}
.pb-heroicons-Heroicons-solid_camera:before {
  content: "\f1d2";
}
.pb-heroicons-Heroicons-solid_calendar:before {
  content: "\f1d3";
}
.pb-heroicons-Heroicons-solid_calendar-days:before {
  content: "\f1d4";
}
.pb-heroicons-Heroicons-solid_calculator:before {
  content: "\f1d5";
}
.pb-heroicons-Heroicons-solid_cake:before {
  content: "\f1d6";
}
.pb-heroicons-Heroicons-solid_building-storefront:before {
  content: "\f1d7";
}
.pb-heroicons-Heroicons-solid_building-office:before {
  content: "\f1d8";
}
.pb-heroicons-Heroicons-solid_building-office-2:before {
  content: "\f1d9";
}
.pb-heroicons-Heroicons-solid_building-library:before {
  content: "\f1da";
}
.pb-heroicons-Heroicons-solid_bug-ant:before {
  content: "\f1db";
}
.pb-heroicons-Heroicons-solid_briefcase:before {
  content: "\f1dc";
}
.pb-heroicons-Heroicons-solid_bookmark:before {
  content: "\f1dd";
}
.pb-heroicons-Heroicons-solid_bookmark-square:before {
  content: "\f1de";
}
.pb-heroicons-Heroicons-solid_bookmark-slash:before {
  content: "\f1df";
}
.pb-heroicons-Heroicons-solid_book-open:before {
  content: "\f1e0";
}
.pb-heroicons-Heroicons-solid_bolt:before {
  content: "\f1e1";
}
.pb-heroicons-Heroicons-solid_bolt-slash:before {
  content: "\f1e2";
}
.pb-heroicons-Heroicons-solid_bell:before {
  content: "\f1e3";
}
.pb-heroicons-Heroicons-solid_bell-snooze:before {
  content: "\f1e4";
}
.pb-heroicons-Heroicons-solid_bell-slash:before {
  content: "\f1e5";
}
.pb-heroicons-Heroicons-solid_bell-alert:before {
  content: "\f1e6";
}
.pb-heroicons-Heroicons-solid_beaker:before {
  content: "\f1e7";
}
.pb-heroicons-Heroicons-solid_battery-50:before {
  content: "\f1e8";
}
.pb-heroicons-Heroicons-solid_battery-100:before {
  content: "\f1e9";
}
.pb-heroicons-Heroicons-solid_battery-0:before {
  content: "\f1ea";
}
.pb-heroicons-Heroicons-solid_bars-arrow-up:before {
  content: "\f1eb";
}
.pb-heroicons-Heroicons-solid_bars-arrow-down:before {
  content: "\f1ec";
}
.pb-heroicons-Heroicons-solid_bars-4:before {
  content: "\f1ed";
}
.pb-heroicons-Heroicons-solid_bars-3:before {
  content: "\f1ee";
}
.pb-heroicons-Heroicons-solid_bars-3-center-left:before {
  content: "\f1ef";
}
.pb-heroicons-Heroicons-solid_bars-3-bottom-right:before {
  content: "\f1f0";
}
.pb-heroicons-Heroicons-solid_bars-3-bottom-left:before {
  content: "\f1f1";
}
.pb-heroicons-Heroicons-solid_bars-2:before {
  content: "\f1f2";
}
.pb-heroicons-Heroicons-solid_banknotes:before {
  content: "\f1f3";
}
.pb-heroicons-Heroicons-solid_backward:before {
  content: "\f1f4";
}
.pb-heroicons-Heroicons-solid_backspace:before {
  content: "\f1f5";
}
.pb-heroicons-Heroicons-solid_at-symbol:before {
  content: "\f1f6";
}
.pb-heroicons-Heroicons-solid_arrows-up-down:before {
  content: "\f1f7";
}
.pb-heroicons-Heroicons-solid_arrows-right-left:before {
  content: "\f1f8";
}
.pb-heroicons-Heroicons-solid_arrows-pointing-out:before {
  content: "\f1f9";
}
.pb-heroicons-Heroicons-solid_arrows-pointing-in:before {
  content: "\f1fa";
}
.pb-heroicons-Heroicons-solid_arrow-uturn-up:before {
  content: "\f1fb";
}
.pb-heroicons-Heroicons-solid_arrow-uturn-right:before {
  content: "\f1fc";
}
.pb-heroicons-Heroicons-solid_arrow-uturn-left:before {
  content: "\f1fd";
}
.pb-heroicons-Heroicons-solid_arrow-uturn-down:before {
  content: "\f1fe";
}
.pb-heroicons-Heroicons-solid_arrow-up-tray:before {
  content: "\f1ff";
}
.pb-heroicons-Heroicons-solid_arrow-up-right:before {
  content: "\f200";
}
.pb-heroicons-Heroicons-solid_arrow-up-on-square:before {
  content: "\f201";
}
.pb-heroicons-Heroicons-solid_arrow-up-on-square-stack:before {
  content: "\f202";
}
.pb-heroicons-Heroicons-solid_arrow-up-left:before {
  content: "\f203";
}
.pb-heroicons-Heroicons-solid_arrow-up-circle:before {
  content: "\f204";
}
.pb-heroicons-Heroicons-solid_arrow-up-37:before {
  content: "\f205";
}
.pb-heroicons-Heroicons-solid_arrow-up-21:before {
  content: "\f206";
}
.pb-heroicons-Heroicons-solid_arrow-trending-up:before {
  content: "\f207";
}
.pb-heroicons-Heroicons-solid_arrow-trending-down:before {
  content: "\f208";
}
.pb-heroicons-Heroicons-solid_arrow-top-right-on-square:before {
  content: "\f209";
}
.pb-heroicons-Heroicons-solid_arrow-right:before {
  content: "\f20a";
}
.pb-heroicons-Heroicons-solid_arrow-right-start-on-rectangle:before {
  content: "\f20b";
}
.pb-heroicons-Heroicons-solid_arrow-right-end-on-rectangle:before {
  content: "\f20c";
}
.pb-heroicons-Heroicons-solid_arrow-right-circle:before {
  content: "\f20d";
}
.pb-heroicons-Heroicons-solid_arrow-path:before {
  content: "\f20e";
}
.pb-heroicons-Heroicons-solid_arrow-path-rounded-square:before {
  content: "\f20f";
}
.pb-heroicons-Heroicons-solid_arrow-long-right:before {
  content: "\f210";
}
.pb-heroicons-Heroicons-solid_arrow-long-left:before {
  content: "\f211";
}
.pb-heroicons-Heroicons-solid_arrow-long-down:before {
  content: "\f212";
}
.pb-heroicons-Heroicons-solid_arrow-left:before {
  content: "\f213";
}
.pb-heroicons-Heroicons-solid_arrow-left-start-on-rectangle:before {
  content: "\f214";
}
.pb-heroicons-Heroicons-solid_arrow-left-end-on-rectangle:before {
  content: "\f215";
}
.pb-heroicons-Heroicons-solid_arrow-left-circle:before {
  content: "\f216";
}
.pb-heroicons-Heroicons-solid_arrow-down:before {
  content: "\f217";
}
.pb-heroicons-Heroicons-solid_arrow-down-tray:before {
  content: "\f218";
}
.pb-heroicons-Heroicons-solid_arrow-down-right:before {
  content: "\f219";
}
.pb-heroicons-Heroicons-solid_arrow-down-on-square:before {
  content: "\f21a";
}
.pb-heroicons-Heroicons-solid_arrow-down-on-square-stack:before {
  content: "\f21b";
}
.pb-heroicons-Heroicons-solid_arrow-down-left:before {
  content: "\f21c";
}
.pb-heroicons-Heroicons-solid_arrow-down-circle:before {
  content: "\f21d";
}
.pb-heroicons-Heroicons-solid_archive-box:before {
  content: "\f21e";
}
.pb-heroicons-Heroicons-solid_archive-box-x-mark:before {
  content: "\f21f";
}
.pb-heroicons-Heroicons-solid_archive-box-arrow-down:before {
  content: "\f220";
}
.pb-heroicons-Heroicons-solid_adjustments-vertical:before {
  content: "\f221";
}
.pb-heroicons-Heroicons-solid_adjustments-horizontal:before {
  content: "\f222";
}
.pb-heroicons-Heroicons-solid_academic-cap:before {
  content: "\f223";
}
.pb-heroicons-Heroicons-outline_x-mark:before {
  content: "\f224";
}
.pb-heroicons-Heroicons-outline_x-circle:before {
  content: "\f225";
}
.pb-heroicons-Heroicons-outline_wrench:before {
  content: "\f226";
}
.pb-heroicons-Heroicons-outline_wrench-screwdriver:before {
  content: "\f227";
}
.pb-heroicons-Heroicons-outline_window:before {
  content: "\f228";
}
.pb-heroicons-Heroicons-outline_wifi:before {
  content: "\f229";
}
.pb-heroicons-Heroicons-outline_wallet:before {
  content: "\f22a";
}
.pb-heroicons-Heroicons-outline_viewfinder-circle:before {
  content: "\f22b";
}
.pb-heroicons-Heroicons-outline_view-columns:before {
  content: "\f22c";
}
.pb-heroicons-Heroicons-outline_video-camera:before {
  content: "\f22d";
}
.pb-heroicons-Heroicons-outline_video-camera-slash:before {
  content: "\f22e";
}
.pb-heroicons-Heroicons-outline_variable:before {
  content: "\f22f";
}
.pb-heroicons-Heroicons-outline_users:before {
  content: "\f230";
}
.pb-heroicons-Heroicons-outline_user:before {
  content: "\f231";
}
.pb-heroicons-Heroicons-outline_user-plus:before {
  content: "\f232";
}
.pb-heroicons-Heroicons-outline_user-minus:before {
  content: "\f233";
}
.pb-heroicons-Heroicons-outline_user-group:before {
  content: "\f234";
}
.pb-heroicons-Heroicons-outline_user-circle:before {
  content: "\f235";
}
.pb-heroicons-Heroicons-outline_tv:before {
  content: "\f236";
}
.pb-heroicons-Heroicons-outline_truck:before {
  content: "\f237";
}
.pb-heroicons-Heroicons-outline_trophy:before {
  content: "\f238";
}
.pb-heroicons-Heroicons-outline_trash:before {
  content: "\f239";
}
.pb-heroicons-Heroicons-outline_ticket:before {
  content: "\f23a";
}
.pb-heroicons-Heroicons-outline_tag:before {
  content: "\f23b";
}
.pb-heroicons-Heroicons-outline_table-cells:before {
  content: "\f23c";
}
.pb-heroicons-Heroicons-outline_swatch:before {
  content: "\f23d";
}
.pb-heroicons-Heroicons-outline_sun:before {
  content: "\f23e";
}
.pb-heroicons-Heroicons-outline_stop:before {
  content: "\f23f";
}
.pb-heroicons-Heroicons-outline_stop-circle:before {
  content: "\f240";
}
.pb-heroicons-Heroicons-outline_star:before {
  content: "\f241";
}
.pb-heroicons-Heroicons-outline_squares-plus:before {
  content: "\f242";
}
.pb-heroicons-Heroicons-outline_squares-2x2:before {
  content: "\f243";
}
.pb-heroicons-Heroicons-outline_square-3-stack-3d:before {
  content: "\f244";
}
.pb-heroicons-Heroicons-outline_square-2-stack:before {
  content: "\f245";
}
.pb-heroicons-Heroicons-outline_speaker-x-mark:before {
  content: "\f246";
}
.pb-heroicons-Heroicons-outline_speaker-wave:before {
  content: "\f247";
}
.pb-heroicons-Heroicons-outline_sparkles:before {
  content: "\f248";
}
.pb-heroicons-Heroicons-outline_signal:before {
  content: "\f249";
}
.pb-heroicons-Heroicons-outline_signal-slash:before {
  content: "\f24a";
}
.pb-heroicons-Heroicons-outline_shopping-cart:before {
  content: "\f24b";
}
.pb-heroicons-Heroicons-outline_shopping-bag:before {
  content: "\f24c";
}
.pb-heroicons-Heroicons-outline_shield-exclamation:before {
  content: "\f24d";
}
.pb-heroicons-Heroicons-outline_shield-check:before {
  content: "\f24e";
}
.pb-heroicons-Heroicons-outline_share:before {
  content: "\f24f";
}
.pb-heroicons-Heroicons-outline_server:before {
  content: "\f250";
}
.pb-heroicons-Heroicons-outline_server-stack:before {
  content: "\f251";
}
.pb-heroicons-Heroicons-outline_scissors:before {
  content: "\f252";
}
.pb-heroicons-Heroicons-outline_scale:before {
  content: "\f253";
}
.pb-heroicons-Heroicons-outline_rss:before {
  content: "\f254";
}
.pb-heroicons-Heroicons-outline_rocket-launch:before {
  content: "\f255";
}
.pb-heroicons-Heroicons-outline_rectangle-stack:before {
  content: "\f256";
}
.pb-heroicons-Heroicons-outline_rectangle-group:before {
  content: "\f257";
}
.pb-heroicons-Heroicons-outline_receipt-refund:before {
  content: "\f258";
}
.pb-heroicons-Heroicons-outline_receipt-percent:before {
  content: "\f259";
}
.pb-heroicons-Heroicons-outline_radio:before {
  content: "\f25a";
}
.pb-heroicons-Heroicons-outline_queue-list:before {
  content: "\f25b";
}
.pb-heroicons-Heroicons-outline_question-mark-circle:before {
  content: "\f25c";
}
.pb-heroicons-Heroicons-outline_qr-code:before {
  content: "\f25d";
}
.pb-heroicons-Heroicons-outline_puzzle-piece:before {
  content: "\f25e";
}
.pb-heroicons-Heroicons-outline_printer:before {
  content: "\f25f";
}
.pb-heroicons-Heroicons-outline_presentation-chart-line:before {
  content: "\f260";
}
.pb-heroicons-Heroicons-outline_presentation-char-bar:before {
  content: "\f261";
}
.pb-heroicons-Heroicons-outline_power:before {
  content: "\f262";
}
.pb-heroicons-Heroicons-outline_plus:before {
  content: "\f263";
}
.pb-heroicons-Heroicons-outline_plus-circle:before {
  content: "\f264";
}
.pb-heroicons-Heroicons-outline_play:before {
  content: "\f265";
}
.pb-heroicons-Heroicons-outline_play-pause:before {
  content: "\f266";
}
.pb-heroicons-Heroicons-outline_play-circle:before {
  content: "\f267";
}
.pb-heroicons-Heroicons-outline_photo:before {
  content: "\f268";
}
.pb-heroicons-Heroicons-outline_phone:before {
  content: "\f269";
}
.pb-heroicons-Heroicons-outline_phone-x-mark:before {
  content: "\f26a";
}
.pb-heroicons-Heroicons-outline_phone-arrow-up-right:before {
  content: "\f26b";
}
.pb-heroicons-Heroicons-outline_phone-arrow-down-left:before {
  content: "\f26c";
}
.pb-heroicons-Heroicons-outline_pencil:before {
  content: "\f26d";
}
.pb-heroicons-Heroicons-outline_pencil-square:before {
  content: "\f26e";
}
.pb-heroicons-Heroicons-outline_pause:before {
  content: "\f26f";
}
.pb-heroicons-Heroicons-outline_pause-circle:before {
  content: "\f270";
}
.pb-heroicons-Heroicons-outline_paper-clip:before {
  content: "\f271";
}
.pb-heroicons-Heroicons-outline_paper-airplane:before {
  content: "\f272";
}
.pb-heroicons-Heroicons-outline_paint-brush:before {
  content: "\f273";
}
.pb-heroicons-Heroicons-outline_no-symbol:before {
  content: "\f274";
}
.pb-heroicons-Heroicons-outline_newspaper:before {
  content: "\f275";
}
.pb-heroicons-Heroicons-outline_musical-note:before {
  content: "\f276";
}
.pb-heroicons-Heroicons-outline_moon:before {
  content: "\f277";
}
.pb-heroicons-Heroicons-outline_minus:before {
  content: "\f278";
}
.pb-heroicons-Heroicons-outline_minus-circle:before {
  content: "\f279";
}
.pb-heroicons-Heroicons-outline_microphone:before {
  content: "\f27a";
}
.pb-heroicons-Heroicons-outline_megaphone:before {
  content: "\f27b";
}
.pb-heroicons-Heroicons-outline_map:before {
  content: "\f27c";
}
.pb-heroicons-Heroicons-outline_map-pin:before {
  content: "\f27d";
}
.pb-heroicons-Heroicons-outline_magnifying-glass:before {
  content: "\f27e";
}
.pb-heroicons-Heroicons-outline_magnifying-glass-plus:before {
  content: "\f27f";
}
.pb-heroicons-Heroicons-outline_magnifying-glass-minus:before {
  content: "\f280";
}
.pb-heroicons-Heroicons-outline_magnifying-glass-circle:before {
  content: "\f281";
}
.pb-heroicons-Heroicons-outline_loud-arrow-up:before {
  content: "\f282";
}
.pb-heroicons-Heroicons-outline_lock-open:before {
  content: "\f283";
}
.pb-heroicons-Heroicons-outline_lock-closed:before {
  content: "\f284";
}
.pb-heroicons-Heroicons-outline_list-bullet:before {
  content: "\f285";
}
.pb-heroicons-Heroicons-outline_link:before {
  content: "\f286";
}
.pb-heroicons-Heroicons-outline_light-bulb:before {
  content: "\f287";
}
.pb-heroicons-Heroicons-outline_lifebuoy:before {
  content: "\f288";
}
.pb-heroicons-Heroicons-outline_language:before {
  content: "\f289";
}
.pb-heroicons-Heroicons-outline_key:before {
  content: "\f28a";
}
.pb-heroicons-Heroicons-outline_information-circle:before {
  content: "\f28b";
}
.pb-heroicons-Heroicons-outline_inbox:before {
  content: "\f28c";
}
.pb-heroicons-Heroicons-outline_inbox-stack:before {
  content: "\f28d";
}
.pb-heroicons-Heroicons-outline_inbox-arrow-down:before {
  content: "\f28e";
}
.pb-heroicons-Heroicons-outline_identification:before {
  content: "\f28f";
}
.pb-heroicons-Heroicons-outline_home:before {
  content: "\f290";
}
.pb-heroicons-Heroicons-outline_home-modern:before {
  content: "\f291";
}
.pb-heroicons-Heroicons-outline_heart:before {
  content: "\f292";
}
.pb-heroicons-Heroicons-outline_hashtag:before {
  content: "\f293";
}
.pb-heroicons-Heroicons-outline_hart-pie:before {
  content: "\f294";
}
.pb-heroicons-Heroicons-outline_hand-thumb-up:before {
  content: "\f295";
}
.pb-heroicons-Heroicons-outline_hand-thumb-down:before {
  content: "\f296";
}
.pb-heroicons-Heroicons-outline_hand-raised:before {
  content: "\f297";
}
.pb-heroicons-Heroicons-outline_globe-europe-africa:before {
  content: "\f298";
}
.pb-heroicons-Heroicons-outline_globe-asia-australia:before {
  content: "\f299";
}
.pb-heroicons-Heroicons-outline_globe-americas:before {
  content: "\f29a";
}
.pb-heroicons-Heroicons-outline_globe-alt:before {
  content: "\f29b";
}
.pb-heroicons-Heroicons-outline_gift:before {
  content: "\f29c";
}
.pb-heroicons-Heroicons-outline_gift-top:before {
  content: "\f29d";
}
.pb-heroicons-Heroicons-outline_gif:before {
  content: "\f29e";
}
.pb-heroicons-Heroicons-outline_funnel:before {
  content: "\f29f";
}
.pb-heroicons-Heroicons-outline_forward:before {
  content: "\f2a0";
}
.pb-heroicons-Heroicons-outline_folder:before {
  content: "\f2a1";
}
.pb-heroicons-Heroicons-outline_folder-plus:before {
  content: "\f2a2";
}
.pb-heroicons-Heroicons-outline_folder-open:before {
  content: "\f2a3";
}
.pb-heroicons-Heroicons-outline_folder-minus:before {
  content: "\f2a4";
}
.pb-heroicons-Heroicons-outline_folder-arrow-down:before {
  content: "\f2a5";
}
.pb-heroicons-Heroicons-outline_flag:before {
  content: "\f2a6";
}
.pb-heroicons-Heroicons-outline_fire:before {
  content: "\f2a7";
}
.pb-heroicons-Heroicons-outline_finger-print:before {
  content: "\f2a8";
}
.pb-heroicons-Heroicons-outline_film:before {
  content: "\f2a9";
}
.pb-heroicons-Heroicons-outline_face-smile:before {
  content: "\f2aa";
}
.pb-heroicons-Heroicons-outline_face-frown:before {
  content: "\f2ab";
}
.pb-heroicons-Heroicons-outline_eye:before {
  content: "\f2ac";
}
.pb-heroicons-Heroicons-outline_eye-slash:before {
  content: "\f2ad";
}
.pb-heroicons-Heroicons-outline_eye-dropper:before {
  content: "\f2ae";
}
.pb-heroicons-Heroicons-outline_exclamation-triangle:before {
  content: "\f2af";
}
.pb-heroicons-Heroicons-outline_exclamation-circle:before {
  content: "\f2b0";
}
.pb-heroicons-Heroicons-outline_envelope:before {
  content: "\f2b1";
}
.pb-heroicons-Heroicons-outline_envelope-open:before {
  content: "\f2b2";
}
.pb-heroicons-Heroicons-outline_ellipsis-vertical:before {
  content: "\f2b3";
}
.pb-heroicons-Heroicons-outline_ellipsis-horizontal:before {
  content: "\f2b4";
}
.pb-heroicons-Heroicons-outline_ellipsis-horizontal-circle:before {
  content: "\f2b5";
}
.pb-heroicons-Heroicons-outline_document:before {
  content: "\f2b6";
}
.pb-heroicons-Heroicons-outline_document-text:before {
  content: "\f2b7";
}
.pb-heroicons-Heroicons-outline_document-plus:before {
  content: "\f2b8";
}
.pb-heroicons-Heroicons-outline_document-minus:before {
  content: "\f2b9";
}
.pb-heroicons-Heroicons-outline_document-magnifying-glass:before {
  content: "\f2ba";
}
.pb-heroicons-Heroicons-outline_document-duplicate:before {
  content: "\f2bb";
}
.pb-heroicons-Heroicons-outline_document-check:before {
  content: "\f2bc";
}
.pb-heroicons-Heroicons-outline_document-chart-bar:before {
  content: "\f2bd";
}
.pb-heroicons-Heroicons-outline_document-arrow-up:before {
  content: "\f2be";
}
.pb-heroicons-Heroicons-outline_document-arrow-down:before {
  content: "\f2bf";
}
.pb-heroicons-Heroicons-outline_device-tablet:before {
  content: "\f2c0";
}
.pb-heroicons-Heroicons-outline_device-phone-mobile:before {
  content: "\f2c1";
}
.pb-heroicons-Heroicons-outline_cursor-arrow-ripple:before {
  content: "\f2c2";
}
.pb-heroicons-Heroicons-outline_cursor-arrow-rays:before {
  content: "\f2c3";
}
.pb-heroicons-Heroicons-outline_currency-yen:before {
  content: "\f2c4";
}
.pb-heroicons-Heroicons-outline_currency-rupee:before {
  content: "\f2c5";
}
.pb-heroicons-Heroicons-outline_currency-pound:before {
  content: "\f2c6";
}
.pb-heroicons-Heroicons-outline_currency-euro:before {
  content: "\f2c7";
}
.pb-heroicons-Heroicons-outline_currency-dollar:before {
  content: "\f2c8";
}
.pb-heroicons-Heroicons-outline_currency-bangladeshi:before {
  content: "\f2c9";
}
.pb-heroicons-Heroicons-outline_cube:before {
  content: "\f2ca";
}
.pb-heroicons-Heroicons-outline_cube-transparent:before {
  content: "\f2cb";
}
.pb-heroicons-Heroicons-outline_credit-card:before {
  content: "\f2cc";
}
.pb-heroicons-Heroicons-outline_cpu-chip:before {
  content: "\f2cd";
}
.pb-heroicons-Heroicons-outline_computer-desktop:before {
  content: "\f2ce";
}
.pb-heroicons-Heroicons-outline_command-line:before {
  content: "\f2cf";
}
.pb-heroicons-Heroicons-outline_cog:before {
  content: "\f2d0";
}
.pb-heroicons-Heroicons-outline_cog-8-tooth:before {
  content: "\f2d1";
}
.pb-heroicons-Heroicons-outline_cog-6-tooth:before {
  content: "\f2d2";
}
.pb-heroicons-Heroicons-outline_code-bracket:before {
  content: "\f2d3";
}
.pb-heroicons-Heroicons-outline_code-bracket-square:before {
  content: "\f2d4";
}
.pb-heroicons-Heroicons-outline_cloud:before {
  content: "\f2d5";
}
.pb-heroicons-Heroicons-outline_cloud-arrow-down:before {
  content: "\f2d6";
}
.pb-heroicons-Heroicons-outline_clock:before {
  content: "\f2d7";
}
.pb-heroicons-Heroicons-outline_clipboard:before {
  content: "\f2d8";
}
.pb-heroicons-Heroicons-outline_clipboard-document:before {
  content: "\f2d9";
}
.pb-heroicons-Heroicons-outline_clipboard-document-list:before {
  content: "\f2da";
}
.pb-heroicons-Heroicons-outline_clipboard-document-check:before {
  content: "\f2db";
}
.pb-heroicons-Heroicons-outline_circle-stack:before {
  content: "\f2dc";
}
.pb-heroicons-Heroicons-outline_chevron-up:before {
  content: "\f2dd";
}
.pb-heroicons-Heroicons-outline_chevron-up-down:before {
  content: "\f2de";
}
.pb-heroicons-Heroicons-outline_chevron-right:before {
  content: "\f2df";
}
.pb-heroicons-Heroicons-outline_chevron-left:before {
  content: "\f2e0";
}
.pb-heroicons-Heroicons-outline_chevron-down:before {
  content: "\f2e1";
}
.pb-heroicons-Heroicons-outline_chevron-double-up:before {
  content: "\f2e2";
}
.pb-heroicons-Heroicons-outline_chevron-double-right:before {
  content: "\f2e3";
}
.pb-heroicons-Heroicons-outline_chevron-double-left:before {
  content: "\f2e4";
}
.pb-heroicons-Heroicons-outline_chevron-double-down:before {
  content: "\f2e5";
}
.pb-heroicons-Heroicons-outline_check:before {
  content: "\f2e6";
}
.pb-heroicons-Heroicons-outline_check-circle:before {
  content: "\f2e7";
}
.pb-heroicons-Heroicons-outline_check-badge:before {
  content: "\f2e8";
}
.pb-heroicons-Heroicons-outline_chat-bubble-oval-left:before {
  content: "\f2e9";
}
.pb-heroicons-Heroicons-outline_chat-bubble-oval-left-ellipsis:before {
  content: "\f2ea";
}
.pb-heroicons-Heroicons-outline_chat-bubble-left:before {
  content: "\f2eb";
}
.pb-heroicons-Heroicons-outline_chat-bubble-left-right:before {
  content: "\f2ec";
}
.pb-heroicons-Heroicons-outline_chat-bubble-left-ellipsis:before {
  content: "\f2ed";
}
.pb-heroicons-Heroicons-outline_chat-bubble-bottom-center:before {
  content: "\f2ee";
}
.pb-heroicons-Heroicons-outline_chat-bubble-bottom-center-text:before {
  content: "\f2ef";
}
.pb-heroicons-Heroicons-outline_chart-bar:before {
  content: "\f2f0";
}
.pb-heroicons-Heroicons-outline_chart-bar-square:before {
  content: "\f2f1";
}
.pb-heroicons-Heroicons-outline_camera:before {
  content: "\f2f2";
}
.pb-heroicons-Heroicons-outline_calendar:before {
  content: "\f2f3";
}
.pb-heroicons-Heroicons-outline_calendar-days:before {
  content: "\f2f4";
}
.pb-heroicons-Heroicons-outline_calculator:before {
  content: "\f2f5";
}
.pb-heroicons-Heroicons-outline_cake:before {
  content: "\f2f6";
}
.pb-heroicons-Heroicons-outline_building-storefront:before {
  content: "\f2f7";
}
.pb-heroicons-Heroicons-outline_building-office:before {
  content: "\f2f8";
}
.pb-heroicons-Heroicons-outline_building-office-2:before {
  content: "\f2f9";
}
.pb-heroicons-Heroicons-outline_building-library:before {
  content: "\f2fa";
}
.pb-heroicons-Heroicons-outline_bug-ant:before {
  content: "\f2fb";
}
.pb-heroicons-Heroicons-outline_briefcase:before {
  content: "\f2fc";
}
.pb-heroicons-Heroicons-outline_bookmark:before {
  content: "\f2fd";
}
.pb-heroicons-Heroicons-outline_bookmark-square:before {
  content: "\f2fe";
}
.pb-heroicons-Heroicons-outline_bookmark-slash:before {
  content: "\f2ff";
}
.pb-heroicons-Heroicons-outline_book-open:before {
  content: "\f300";
}
.pb-heroicons-Heroicons-outline_bolt:before {
  content: "\f301";
}
.pb-heroicons-Heroicons-outline_bolt-slash:before {
  content: "\f302";
}
.pb-heroicons-Heroicons-outline_bell:before {
  content: "\f303";
}
.pb-heroicons-Heroicons-outline_bell-snooze:before {
  content: "\f304";
}
.pb-heroicons-Heroicons-outline_bell-slash:before {
  content: "\f305";
}
.pb-heroicons-Heroicons-outline_bell-alert:before {
  content: "\f306";
}
.pb-heroicons-Heroicons-outline_beaker:before {
  content: "\f307";
}
.pb-heroicons-Heroicons-outline_battery-50:before {
  content: "\f308";
}
.pb-heroicons-Heroicons-outline_battery-100:before {
  content: "\f309";
}
.pb-heroicons-Heroicons-outline_battery-0:before {
  content: "\f30a";
}
.pb-heroicons-Heroicons-outline_bas-4:before {
  content: "\f30b";
}
.pb-heroicons-Heroicons-outline_bars-arrow-up:before {
  content: "\f30c";
}
.pb-heroicons-Heroicons-outline_bars-arrow-down:before {
  content: "\f30d";
}
.pb-heroicons-Heroicons-outline_bars-3:before {
  content: "\f30e";
}
.pb-heroicons-Heroicons-outline_bars-3-center-left:before {
  content: "\f30f";
}
.pb-heroicons-Heroicons-outline_bars-3-bottom-right:before {
  content: "\f310";
}
.pb-heroicons-Heroicons-outline_bars-3-bottom-left:before {
  content: "\f311";
}
.pb-heroicons-Heroicons-outline_bars-2:before {
  content: "\f312";
}
.pb-heroicons-Heroicons-outline_banknotes:before {
  content: "\f313";
}
.pb-heroicons-Heroicons-outline_backward:before {
  content: "\f314";
}
.pb-heroicons-Heroicons-outline_backspace:before {
  content: "\f315";
}
.pb-heroicons-Heroicons-outline_at-symbol:before {
  content: "\f316";
}
.pb-heroicons-Heroicons-outline_arrows-up-down:before {
  content: "\f317";
}
.pb-heroicons-Heroicons-outline_arrows-right-left:before {
  content: "\f318";
}
.pb-heroicons-Heroicons-outline_arrows-pointing-out:before {
  content: "\f319";
}
.pb-heroicons-Heroicons-outline_arrows-pointing-in:before {
  content: "\f31a";
}
.pb-heroicons-Heroicons-outline_arrow-uturn-up:before {
  content: "\f31b";
}
.pb-heroicons-Heroicons-outline_arrow-uturn-right:before {
  content: "\f31c";
}
.pb-heroicons-Heroicons-outline_arrow-uturn-left:before {
  content: "\f31d";
}
.pb-heroicons-Heroicons-outline_arrow-uturn-down:before {
  content: "\f31e";
}
.pb-heroicons-Heroicons-outline_arrow-up-tray:before {
  content: "\f31f";
}
.pb-heroicons-Heroicons-outline_arrow-up-right:before {
  content: "\f320";
}
.pb-heroicons-Heroicons-outline_arrow-up-on-square:before {
  content: "\f321";
}
.pb-heroicons-Heroicons-outline_arrow-up-on-square-stack:before {
  content: "\f322";
}
.pb-heroicons-Heroicons-outline_arrow-up-left:before {
  content: "\f323";
}
.pb-heroicons-Heroicons-outline_arrow-up-circle:before {
  content: "\f324";
}
.pb-heroicons-Heroicons-outline_arrow-up-37:before {
  content: "\f325";
}
.pb-heroicons-Heroicons-outline_arrow-up-21:before {
  content: "\f326";
}
.pb-heroicons-Heroicons-outline_arrow-trending-up:before {
  content: "\f327";
}
.pb-heroicons-Heroicons-outline_arrow-trending-down:before {
  content: "\f328";
}
.pb-heroicons-Heroicons-outline_arrow-top-right-on-square:before {
  content: "\f329";
}
.pb-heroicons-Heroicons-outline_arrow-right:before {
  content: "\f32a";
}
.pb-heroicons-Heroicons-outline_arrow-right-start-on-rectangle:before {
  content: "\f32b";
}
.pb-heroicons-Heroicons-outline_arrow-right-end-on-rectangle:before {
  content: "\f32c";
}
.pb-heroicons-Heroicons-outline_arrow-right-circle:before {
  content: "\f32d";
}
.pb-heroicons-Heroicons-outline_arrow-path:before {
  content: "\f32e";
}
.pb-heroicons-Heroicons-outline_arrow-path-rounded-square:before {
  content: "\f32f";
}
.pb-heroicons-Heroicons-outline_arrow-long-right:before {
  content: "\f330";
}
.pb-heroicons-Heroicons-outline_arrow-long-left:before {
  content: "\f331";
}
.pb-heroicons-Heroicons-outline_arrow-long-down:before {
  content: "\f332";
}
.pb-heroicons-Heroicons-outline_arrow-left:before {
  content: "\f333";
}
.pb-heroicons-Heroicons-outline_arrow-left-start-on-rectangle:before {
  content: "\f334";
}
.pb-heroicons-Heroicons-outline_arrow-left-end-on-rectangle:before {
  content: "\f335";
}
.pb-heroicons-Heroicons-outline_arrow-left-circle:before {
  content: "\f336";
}
.pb-heroicons-Heroicons-outline_arrow-down:before {
  content: "\f337";
}
.pb-heroicons-Heroicons-outline_arrow-down-tray:before {
  content: "\f338";
}
.pb-heroicons-Heroicons-outline_arrow-down-right:before {
  content: "\f339";
}
.pb-heroicons-Heroicons-outline_arrow-down-on-square:before {
  content: "\f33a";
}
.pb-heroicons-Heroicons-outline_arrow-down-on-square-stack:before {
  content: "\f33b";
}
.pb-heroicons-Heroicons-outline_arrow-down-left:before {
  content: "\f33c";
}
.pb-heroicons-Heroicons-outline_arrow-down-circle:before {
  content: "\f33d";
}
.pb-heroicons-Heroicons-outline_archive-box:before {
  content: "\f33e";
}
.pb-heroicons-Heroicons-outline_archive-box-x-mark:before {
  content: "\f33f";
}
.pb-heroicons-Heroicons-outline_archive-box-arrow-down:before {
  content: "\f340";
}
.pb-heroicons-Heroicons-outline_adjustments-vertical:before {
  content: "\f341";
}
.pb-heroicons-Heroicons-outline_adjustments-horizontal:before {
  content: "\f342";
}
.pb-heroicons-Heroicons-outline_academic-cap:before {
  content: "\f343";
}
