@font-face {
  font-family: heroicons;
  src: url("../fonts/heroicons.eot?bffddc54721116a5a33192a7db61a6ca#iefix") format("embedded-opentype"),
  url("../fonts/heroicons.woff2?bffddc54721116a5a33192a7db61a6ca") format("woff2"),
  url("../fonts/heroicons.woff?bffddc54721116a5a33192a7db61a6ca") format("woff");
}

i[class^="pb-heroicons-"]::before, i[class*=" pb-heroicons-"]::before {
  font-family: heroicons, serif !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pb-heroicons-adjustments-horizontal:before {
  content: "\f101";
}

.pb-heroicons-arrow-left-on-rectangle:before {
  content: "\f102";
}

.pb-heroicons-arrow-right-on-rectangle:before {
  content: "\f103";
}

.pb-heroicons-bolt:before {
  content: "\f104";
}

.pb-heroicons-book-open:before {
  content: "\f105";
}

.pb-heroicons-building-library:before {
  content: "\f106";
}

.pb-heroicons-calendar:before {
  content: "\f107";
}

.pb-heroicons-camera:before {
  content: "\f108";
}

.pb-heroicons-chevron-down:before {
  content: "\f109";
}

.pb-heroicons-chevron-up-down:before {
  content: "\f10a";
}

.pb-heroicons-chevron-up:before {
  content: "\f10b";
}

.pb-heroicons-clock:before {
  content: "\f10c";
}

.pb-heroicons-clone-book:before {
  content: "\f10d";
}

.pb-heroicons-cog-8-tooth:before {
  content: "\f10e";
}

.pb-heroicons-ellipsis-horizontal:before {
  content: "\f10f";
}

.pb-heroicons-ellipsis-vertical:before {
  content: "\f110";
}

.pb-heroicons-funnel:before {
  content: "\f111";
}
.pb-heroicons-globe-alt:before {
  content: "\f112";
}

.pb-heroicons-h5p:before {
  content: "\f113";
}

.pb-heroicons-home:before {
  content: "\f114";
}

.pb-heroicons-link:before {
  content: "\f115";
}

.pb-heroicons-my-books:before {
  content: "\f116";
}

.pb-heroicons-pencil-square:before {
  content: "\f117";
}

.pb-heroicons-plus-circle-filled:before {
  content: "\f118";
}

.pb-heroicons-plus-circle:before {
  content: "\f119";
}

.pb-heroicons-presentation-chart-bar:before {
  content: "\f11a";
}

.pb-heroicons-rocket-launch:before {
  content: "\f11b";
}

.pb-heroicons-share:before {
  content: "\f11c";
}

.pb-heroicons-shopping-cart:before {
  content: "\f11d";
}

.pb-heroicons-sparkles:before {
  content: "\f11e";
}

.pb-heroicons-trash:before {
  content: "\f11f";
}

.pb-heroicons-user-circle:before {
  content: "\f120";
}

.pb-heroicons-user-plus-filled:before {
  content: "\f121";
}

.pb-heroicons-user-plus:before {
  content: "\f122";
}

.pb-heroicons-user:before {
  content: "\f123";
}

.pb-heroicons-users:before {
  content: "\f124";
}

.pb-heroicons-wrench:before {
  content: "\f125";
}

.pb-heroicons-tablepress:before {
  content: "\f126";
}
