body.pressbooks.login.wp-core-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Karla", sans-serif;

  .button-primary,
  .button.button-large {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    background: var(--primary, #b01109);
    border-color: var(--primary, #b01109);
    color: var(--primary-fg, #fff);
    box-shadow: none;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    letter-spacing: (2 / 18) * 1em;
    height: 59px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding: 0.875rem 3.25rem;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    float: none;

    // Share hover and focus styles
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 3px rgba(#b01109, 0.25);
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: 0.65;
      box-shadow: none;
    }

    &:active,
    &.active {
      background-image: none;
      box-shadow: 0 0 0 3px rgba(#b01109, 0.25),
        inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }

  #login {
    width: 600px;
    height: auto;
    box-sizing: border-box;
    padding: 60px 132px 40px;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -3px 5px 4px 2px rgba(149, 149, 149, 0.2);
  }

  h1 {
    position: absolute;
    width: 600px;
    top: calc((100% - 500px) / 2 - 150px);
    left: calc((100% - 600px) / 2);

    a {
      width: 300px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  form {
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  #login p.subtitle {
    margin-bottom: 60px;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);

    &::before {
      content: "";
      display: block;
      margin: 0.5rem auto 20px;
      width: 45px;
      height: 5px;
      background: var(--accent);

      @media screen and (min-width: 60rem) {
        margin-bottom: 20px;
        width: 75px;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  #login form {
    margin-top: 0;
    padding: 0;
  }

  #login form p.forgetmenot {
    margin-bottom: 2em;
  }

  form .forgetmenot,
  form .submit {
    float: none;
    display: block;
  }

  form .input {
    background: transparent;
  }

  form label {
    position: relative;
    color: var(--primary, #b01109);
    font-weight: 600;
    display: block;
    width: 100%;
    margin-bottom: 2em;

    input:not([type="checkbox"]) {
      position: absolute;
      top: 0;
    }
  }

  #nav,
  #backtoblog {
    text-align: center;
    a {
      color: var(--primary, #b01109);
      font-weight: 600;
    }
  }

  [type="checkbox"] {
    border: solid 2px var(--primary, #b01109);
    box-shadow: none;

    &:checked:before {
      color: var(--primary, #b01109);
    }
  }

  [type="text"],
  [type="password"] {
    border-top: none;
    border-right: none;
    border-bottom: solid 2px var(--primary, #b01109);
    border-left: none;
    box-shadow: none;
    background: #fff;
  }
}
