@import 'partials/colors';

//Space between column 1 and column 2
$side-right-space: 20px;

.page-title-action {
  display: none;
}

#post-body-content {
  margin-bottom: 0;
}

.datepicker input[readonly='readonly'] {
  background-color: $white;
}

//Book Info Fixed Sidebar only for large screens
@media screen and (min-width: 850px) {
  #post-body.columns-2 #postbox-container-1  {
    position: fixed !important;
    right: $side-right-space !important;
    margin-right: 0 !important;
  }
}
