@import 'partials/colors';

#the-list {
  tr td:first-child {
    border-left: solid 4px transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  tr.restricted td:first-child {
    border-left: solid 4px $selective-yellow;
  }

  img.avatar {
    margin-right: 6px;
    float: left;
  }

  .user_login {
    float: left;
    clear: right;
  }

  .row-actions {
    float: left;
    width: 100%;
    margin-top: 6px;
  }

  .restrict a,
  .unrestrict a {
    cursor: pointer;
  }
}
