@import 'partials/colors';
@import 'partials/mixins';

/* Organize Page */

.toplevel_page_pb_organize {
  .page-title-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }


  @media screen and (min-width: 768px) {
    .page-title-actions {
      display: inline-block;
    }
  }

  #publicize-panel {
    h4 {
      font-size: 15px;
      font-weight: normal;

      span {
        font-weight: bold;
        padding: 2px 3px;
        margin: 15px 0 5px;
        text-transform: uppercase;
      }

      &.private {
        span {
          background-color: $pippin;
        }
      }

      &.public {
        span {
          background-color: $fall-green;
        }
      }
    }

    .publicize-form {
      label {
        display: block;

        &:first-child {
          margin-bottom: 10px;
        }

        input:checked + span {
          font-weight: bold;
        }
      }
    }
  }

  .row-actions,
  .part-actions {
    font-weight: normal;
    margin-left: 0;

    button {
      padding: 0;
      border: 0;
      color: darken($monza, 5%);
      background-color: transparent;
      cursor: pointer;

      &:focus,
      &:hover {
        color: $monza;
      }
    }
  }

  .part-actions {
    padding-bottom: 1em;
  }

  table {
    th {
      vertical-align: top;
      padding-top: 8px;

      span {
        &[id$="show_title"],
        &[id$="visibility"] {
          cursor: pointer;
        }
      }

    }

    td {
      .row-title:focus-within .row-actions {
        left: 0;
      }


    }

    & + table {
      margin-top: 2em;
    }
  }

  tfoot {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  [role="alert"] {
    &.visually-hidden {
      @include visually-hidden;
    }
  }
  @media (min-width: 783px) {
    table {
      .author-label,
      input + label {
        @include visually-hidden;
      }
    }

    tr {
      display: table-row;
    }

    tfoot {
      display: table-footer-group;
    }
  }
}

input.toggle[type="checkbox"] {
  appearance: none;
  content: "";
  display: inline-block;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background: $white;
  border: 1px solid $mine-shaft;
  position: relative;
  width: 36px;
  height: 18px;
  border-radius: 9px;
  transition: 0.2s background ease;

  &::before {
    display: block;
    position: relative;
    content: "";
    box-sizing: border-box;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.1s transform ease;
    background-color: $mine-shaft;
    border: 5px solid $mine-shaft;
    margin: 0;
  }

  &:focus {
    box-shadow: 0 0 0 2px $white, 0 0 0 4px $monza;
  }

  &:checked {
    border-color: $monza;
    background: $monza;

    &::before {
      background-color: $white;
      border-color: $white;
      transform: translateX(18px);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  input.toggle[type="checkbox"]::before {
    transition-duration: 0s;
    transition-delay: 0s;
  }
}
