@import 'partials/colors';
@import 'partials/mixins';

/* Organize Page */

.toplevel_page_pb_organize {
  #publicize-panel {
    h4 {
      font-size: 15px;
      font-weight: normal;

      span {
        font-weight: bold;
        padding: 2px 3px;
        margin: 15px 0 5px;
        text-transform: uppercase;
      }

      &.private {
        span {
          background-color: $pippin;
        }
      }

      &.public {
        span {
          background-color: $fall-green;
        }
      }
    }

    .publicize-form {
      label {
        display: block;

        &:first-child {
          margin-bottom: 10px;
        }

        input:checked + span {
          font-weight: bold;
        }
      }
    }
  }

  table {
    th {
      vertical-align: top;
      padding-top: 8px;

      span {
        &[id$="show_title"],
        &[id$="visibility"] {
          cursor: pointer;
        }
      }

    }

    td {
      .row-actions {
        font-weight: normal;

        button {
          padding: 0;
          border: 0;
          color: darken($monza, 5%);
          background-color: transparent;
          cursor: pointer;

          &:focus,
          &:hover {
            color: $monza;
          }
        }
      }
    }

    & + table {
      margin-top: 2em;
    }
  }

  [role="alert"] {
    &.visually-hidden {
      @include visually-hidden;
    }
  }
}

@media (min-width: 783px) {
  table {
    .author-label,
    input + label {
      @include visually-hidden;
    }
  }
}
