@import 'partials/colors';

/* Organize Page */

.toplevel_page_pb_organize {
  #publicize-panel {
    h4 {
      font-size: 15px;
      font-weight: normal;

      span {
        font-weight: bold;
        padding: 2px 3px;
        margin: 15px 0 5px;
        text-transform: uppercase;
      }

      &.private {
        span {
          background-color: $pippin;
        }
      }

      &.public {
        span {
          background-color: $fall-green;
        }
      }
    }

    .publicize-form {
      label {
        display: block;

        &:first-child {
          margin-bottom: 10px;
        }

        input:checked + span {
          font-weight: bold;
        }
      }
    }
  }

  .widefat {
    margin-top: 10px;

    .delete-link {
      color: $torch-red;
    }

    .row-actions {
      font-weight: normal;
    }

    .row-actions button {
      padding: 0;
      border: 0;
      color: darken($monza, 5%);
      cursor: pointer;

      &:focus,
      &:hover {
        color: $monza;
      }
    }

    thead {
      tr {
        th {
          font-weight: bold;
        }

        th:nth-child(3),
        th:nth-child(4),
        th:nth-child(5) {
          cursor: pointer;
        }
      }
    }

    tbody {
      tr {
        td {
          vertical-align: top;

          span.comment-count {
            width: auto !important;
            float: none;
          }

          &.column-comments {
            padding: 8px 10px;
          }
        }

        &.ui-state-highlight {
          background: $mercury;
          color: $mine-shaft;
          height: 1.5em;
          line-height: 1.2em;
        }
      }
    }
  }

  #loader {
    display: none;
  }
}
