@import 'partials/colors';
@import 'https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Spectral:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap';

* {
  box-sizing: border-box;
}

.pb-dashboard-content {
  font-family: Karla, sans-serif;

  h2 {
    font-size: 1.5rem;
    margin: .5rem 0;
    line-height: 1.3;
  }

  p, li {
    font-size: 1.125rem;
    margin: 0 0 1rem;
  }
}

.pb-dashboard-row {
  margin-bottom: 1rem;
  max-width: 1220px;

  a.button.button-hero {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  a.button.button-secondary {

  }

  .pb-dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .pb-dashboard-image {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  .pb-dashboard-content.banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h2 {
      display: flex;
      flex-direction: column;
    }

    .network-title {
      font-weight: 300;
      font-size: 2rem;
      line-height: 1;
    }

    .site-title {
      font-size: 2rem;

      span {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }
  }

  .pb-dashboard-panel {
    background-color: $white;
    padding: 1.5rem;

    &.pb-dashboard-invitations {
      .invitation {
        align-items: center;
        display: flex;
        justify-content: space-between;

        p {
          margin: .75rem 0;
        }

        a.button {
          margin-left: 1rem;
          padding: 0 1.5rem;
        }
      }
    }
  }

  .pb-dashboard-image img {
    width: 100%;
  }

  @media screen and (max-width: 1436px) {
    .pb-dashboard-content.banner .pb-dashboard-image {
      // TODO: fix these experimental values
      width: 30%;
      margin-top: -6vw;
    }
  }

  @media screen and (max-width: 768px) {
    .pb-dashboard-grid {
      grid-template-columns: 1fr;
    }
  }

}
