@import 'https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Spectral:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap';
@import "partials/colors";
@import "admin";

// TODO: Use our colors!

/* Admin Menu */

#adminmenu {
  transform: translateZ(0);
}

#toplevel_page_pb_import { /* stylelint-disable-line */
  .wp-menu-image {
    transform: rotate(180deg);
  }
}

/* Fix for Chrome bug: https://code.google.com/p/chromium/issues/detail?id=509179#c51

/* Admin Bar */

@font-face {
  font-family: PBFont;
  src: url("../fonts/PBFont.eot");
  src: url("../fonts/PBFont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PBFont.ttf") format("truetype"),
    url("../fonts/PBFont.woff") format("woff"),
    url("../fonts/PBFont.svg#PBFont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.post-type-metadata #wp-admin-bar-view {
  display: none;
}

/* Contextual Help */

#contextual-help-link-wrap {
  display: none;
}

/* Dashboard Widgets */

#dashboard-widgets {
  #pb_dashboard_widget_book { /* stylelint-disable-line */
    h4 {
      font-weight: bold;
    }

    ul {
      li {
        &.front-matter,
        &.chapter,
        &.back-matter {
          margin-left: 10px;
        }
      }
    }

    .part-buttons {
      width: 200px;
      text-align: right;
      position: absolute;
      right: 8px;
      top: 0;
    }
  }
}

.wp-core-ui .button.button-hero.create-book, .wp-core-ui .button.button-hero.clone-book {
  width: 140px;
  padding: 0;
  text-align: center;
}

.wp-core-ui .button.button-hero.create-book {
  margin-right: 20px;
}

/* User Screen */

.network-admin-restricted {
  .user-super-admin-wrap {
    display: none;
  }
}

/* Custom Metadata Manager */

.custom-metadata-field.checkbox {
  div,
  label {
    display: inline-block;
    vertical-align: baseline;
  }

  input {
    margin: 0 1px 0 0;
  }
}

div.taxonomy_multi_select span.description a.button {
  font-style: normal;
  margin-top: 0.5em;
}

// Dashicons

i.mce-i-icon {
  padding: 0 2px 0 0;
  margin-left: -2px;
  font: 400 20px/1 dashicons, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
  speak: none;
}

.button .dashicons {
  vertical-align: text-bottom;
}

.wp-menu-image.dashicons-admin-multisite::before {
  content: "\f330";
}

// Status and visibility

.postbox#status-visibility {
  .inside {
    padding: 0;
  }

  #minor-publishing-actions {
    p {
      text-align: left;
    }

    p#pb-password-protected {
      text-align: left;
      margin-left: 1em;
      display: none;

      #post_password { /* stylelint-disable-line */
        margin-top: 0.5em;
        display: none;
      }
    }
  }
}

// Edit Screen Navigation

#pb-edit-screen-navigation {
  margin: 1em 0 0;

  @media (min-width: 851px) {
    margin-right: 300px;
  }

  &::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

#pb-edit-screen-navigation [rel="previous"],
#pb-edit-screen-navigation [rel="next"] {
  display: inline-block;
  margin-bottom: 10px;
}

#pb-edit-screen-navigation [rel="previous"] {
  float: left;
}

#pb-edit-screen-navigation [rel="next"] {
  float: right;
}

/*!
 * WordPress CSS Spinner
 * @license GPL-2.0+
 * @author kuus <kunderikuus@gmail.com> (http://kunderikuus.net)
 */

$wp-spinner-bg: #808080;
$wp-spinner-fg: #fff;
$wp-spinner-size: 18px;
$wp-spinner-size-inner: 4px;
$wp-spinner-anim-duration: 1.08s;

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@supports (animation-name: infinite-spinning) {
  .spinner {
    position: relative;
    width: $wp-spinner-size;
    height: $wp-spinner-size;
    border-radius: $wp-spinner-size;
    background: $wp-spinner-bg;
    animation: infinite-spinning $wp-spinner-anim-duration linear infinite;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 50%;
      width: $wp-spinner-size-inner;
      height: $wp-spinner-size-inner;
      border-radius: $wp-spinner-size-inner;
      margin-left: -($wp-spinner-size-inner * 0.5);
      background: $wp-spinner-fg;
    }
  }
}

#toplevel_page_quicklatex-settings { /* stylelint-disable-line */
  display: none;
}

.compat-attachment-fields th {
  vertical-align: top;
}

.taxonomy-front-matter-type,
.taxonomy-chapter-type,
.taxonomy-back-matter-type,
.taxonomy-contributor,
.taxonomy-license,
.taxonomy-glossary-type {
  #wpadminbar #wp-admin-bar-view {
    display: none;
  }
}

@media screen and (max-width: 782px) {
  .column-contributor_picture {
    display: none;
  }

  .column-contributor_picture img {
    margin-top: 1.5rem
  }
}

.column-contributor_picture img {
  float: left;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.mce-window[aria-label="Table properties"] .mce-formitem:nth-child(6) {
  display: none;
}

.mce-window[aria-label="Table properties"] .mce-formitem:nth-child(7) {
  left: 0 !important;
}

// Progress Bars
#pb-sse-progressbar {
  display: none;
  width: 100%;
  margin-top: 1rem;
}

// WordPress search fields
.plugins-php .search-form .search-box,
.themes-php .search-form {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.plugins-php .search-form label,
.themes-php .search-form label {
  border: unset;
  clip-path: unset;
  -webkit-clip-path: unset; /* stylelint-disable-line */
  height: unset;
  font-size: 14px;
  margin: unset;
  margin-right: 0.75rem;
  overflow: unset;
  padding: unset;
  position: unset;
  width: unset;
  word-wrap: unset;
}

.themes-php .search-form .wp-filter-search {
  left: 0;
  top: 0;
}

// Toggle checkboxes

input.toggle[type="checkbox"] {
  appearance: none;
  background: $white;
  border-radius: 9px;
  border: 1px solid $mine-shaft;
  box-shadow: none;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 18px;
  position: relative;
  transition: 0.2s background ease;
  vertical-align: top;
  width: 36px;

  &::before {
    background-color: $mine-shaft;
    border-radius: 50%;
    border: 5px solid $mine-shaft;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 12px;
    left: 2px;
    margin: 0;
    position: relative;
    top: 2px;
    transition: 0.1s transform ease;
    width: 12px;
  }

  &:focus {
    box-shadow: 0 0 0 2px $white, 0 0 0 4px $monza;
  }

  &:checked {
    background: $monza;
    border-color: $monza;

    &::before {
      background-color: $white;
      border-color: $white;
      content: "";
      height: 12px;
      margin: 0;
      transform: translateX(18px);
      width: 12px;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  input.toggle[type="checkbox"]::before {
    transition-delay: 0s;
    transition-duration: 0s;
  }
}

// Button with pressed state
.wp-core-ui .button[aria-pressed="true"],
.wp-core-ui .button[aria-pressed="true"]:focus {
  box-shadow: -1px -1px 0 1px $monza;
  left: 2px;
  position: relative;
  top: 2px;
}

// Heading as inline-block
.wrap h2.wp-heading-inline {
  display: inline-block;
}

// Page title actions
.page-title-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1.5rem;
}


@media screen and (min-width: 768px) {
  .page-title-actions {
    display: inline-block;
  }
}

// Section title with actions
h2 + .page-title-actions {
  margin-bottom: 0.5rem;
}

h2 + .page-title-actions .page-title-action {
  top: -1px;
}

// Space between regions on an admin page
.wrap [role="region"] + [role="region"] {
  margin-top: 1.5rem;
}
