@import 'partials/colors';

* {
  box-sizing: border-box;
}

.pb-dashboard-content {
  font-family: Karla, sans-serif;

  h2 {
    font-size: 1.5rem;
    margin: .5rem 0;
    line-height: 1.3;
  }

  p, li {
    font-size: 1.125rem;
    margin: 0 0 1rem;
  }

  i.pb-heroicons {
    font-size: 1.5rem;
    color: #3c434a;
  }

  a:hover i.pb-heroicons, a:focus i.pb-heroicons {
    color: #1a1d20;
  }
}

.pb-dashboard-image, .pb-book-cover {
  max-width: 300px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.book-dash * .pb-dashboard-image {
  max-width: 225px;
}

.pb-dashboard-row {
  margin-bottom: 1rem;
  max-width: 1220px;

  .flex-wide {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    p, a {
      margin: 0;
      display: inline-block;
    }
  }

  .notice, div.updated, div.error {
    margin: 20px 0 0;
  }

  .pb-dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .pb-dashboard-grid-image {
      max-width: 225px;
    }
  }

  .button.button-hero, .button.button-primary {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    display: block;
    padding: 0 1.5rem;
  }

  .button.button-hero {
    width: 100%;
    margin-bottom: 1rem;
  }


  ul.horizontal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 0;

    li {
      margin-bottom: 0;
    }

    a {
      display: block;
      margin-bottom: .5rem;
    }

    img {
      display: block;
      margin: 0 auto 1rem;
      max-height: 175px;
    }
  }


  .pb-dashboard-content {
    h2 {
      display: flex;
      flex-direction: column;
    }

    .network-title {
      font-weight: 300;
      font-size: 2rem;
      line-height: 1;
    }

    .site-title {
      font-size: 2rem;
    }

    .visit-book {
      display: block;
      font-size: 1.4rem;
      font-weight: 300;
    }

    .pb-dashboard-flex {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin: 1rem 0;

      img {
        width: 40%;
      }

      .actions li a {
        display: flex;
        align-items: center;
        gap: .75rem;
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  .pb-dashboard-panel {
    background-color: $white;
    padding: 1.5rem;
  }

  ul.pb-dashboard-action {
    margin: 0;

    li {
      a {
        display: flex;
        align-items: center;
        gap: .75rem;
        text-decoration: none;

        span  {
          text-decoration: underline;
        }
      }
    }

    #delete {
      margin: 3rem 0 0;
    }
  }

  @media screen and (max-width: 1220px) {
    ul.horizontal {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .pb-dashboard-grid {
      grid-template-columns: 1fr;
    }

    ul.horizontal {
      grid-template-columns: 1fr;
    }
  }
}
