@import "partials/colors";

// TODO: Use our colors!

/* Admin Menu */

#adminmenu {
  transform: translateZ(0);
}

/* Fix for Chrome bug: https://code.google.com/p/chromium/issues/detail?id=509179#c51

/* Admin Bar */

@font-face {
  font-family: "PBFont";
  src: url("../fonts/PBFont.eot");
  src: url("../fonts/PBFont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PBFont.ttf") format("truetype"),
    url("../fonts/PBFont.woff") format("woff"),
    url("../fonts/PBFont.svg#PBFont") format("svg");
  font-weight: normal;
  font-style: normal;
}

#wpadminbar {
  .quicklinks li .blavatar::before {
    font: 14px/1 "PBFont", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    background: none;
    content: "\e600" !important;
  }

  #wp-admin-bar-pb-network-admin > .ab-item::before {
    -webkit-font-smoothing: antialiased;
    background: none;
    content: "\f325" !important;
  }

  #wp-admin-bar-pb-site-admin > .ab-item::before {
    -webkit-font-smoothing: antialiased;
    background: none;
    content: "\f102" !important;
  }

  #wp-admin-bar-my-books > .ab-item::before {
    -webkit-font-smoothing: antialiased;
    background: none;
    content: "\f318" !important;
  }

  #wp-admin-bar-site-name > .ab-item::before {
    -webkit-font-smoothing: antialiased;
    background: none;
    content: "\f330" !important;
  }

  #wp-admin-bar-wp-logo > .ab-item .ab-icon::before {
    font: 20px/1 "PBFont", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    background: none;
    content: "\e600" !important;
  }

  @media screen and (max-width: 782px) {
    #wp-admin-bar-pb-network-admin, #wp-admin-bar-pb-site-admin, #wp-admin-bar-my-books {
      display: block;

      a.ab-item {
        text-overflow: clip;
      }

      & > .ab-item {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 55px;
        padding: 0;
        color: #999;
        position: relative;

        &::before {
          font: 400 34px/1 "dashicons", sans-serif !important;
          text-align: center;
          text-indent: 0;
          top: 7px;
          width: 55px;
          -webkit-font-smoothing: antialiased;
          background: none;
        }
      }
    }

    .quicklinks li .blavatar::before {
      display: inline-block;
    }

    #wp-admin-bar-wp-logo > .ab-item .ab-icon::before {
      font: 28px/1 "PBFont", sans-serif !important;
    }
  }
}

.post-type-metadata #wp-admin-bar-view {
  display: none;
}

/* Contextual Help */

#contextual-help-link-wrap {
  display: none;
}

/* Dashboard Widgets */

#dashboard-widgets {
  #pb_dashboard_widget_book {
    h4 {
      font-weight: bold;
    }

    ul {
      li {
        &.front-matter,
        &.chapter,
        &.back-matter {
          margin-left: 10px;
        }
      }
    }

    .part-buttons {
      width: 200px;
      text-align: right;
      position: absolute;
      right: 8px;
      top: 0;
    }
  }
}

/* User Screen */

.network-admin-restricted {
  .user-super-admin-wrap {
    display: none;
  }
}

/* Custom Metadata Manager */

.custom-metadata-field.checkbox {
  div,
  label {
    display: inline-block;
    vertical-align: baseline;
  }

  input {
    margin: 0 1px 0 0;
  }
}

div.taxonomy_multi_select span.description a.button {
  font-style: normal;
  margin-top: 0.5em;
}

// Dashicons

i.mce-i-icon {
  padding: 0 2px 0 0;
  margin-left: -2px;
  font: 400 20px/1 "dashicons", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
  speak: none;
}

.button .dashicons {
  vertical-align: text-bottom;
}

.wp-menu-image.dashicons-admin-multisite::before {
  content: "\f330";
}

// Plugin compatibility

.incompatible-plugin-upgrade-notice {
  margin: 1em;
  padding: 1em;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  p {
    padding: 0 20px;
    margin: 0;
    line-height: 1.5em;
    &::before {
      content: "" !important;
      display: none;
    }
  }
  table.incompatible-plugin-details-table {
    margin: 0.75em 0 0;
    tr {
      background: transparent none !important;
      border: 0 !important;
    }
    th,
    td {
      background: transparent none !important;
      margin: 0;
      padding: 0.75em 20px 0;
      border: 0 !important;
      font-size: 1em;
      box-shadow: none;
    }
    th {
      font-weight: bold;
    }
  }
  & + p:empty {
    display: none;
  }
}

// Status and visibility

.postbox#status-visibility {
  .inside {
    padding: 0;
  }

  #minor-publishing-actions {
    p {
      text-align: left;
    }
    p#pb-password-protected {
      text-align: left;
      margin-left: 1em;
      display: none;
      #post_password {
        margin-top: 0.5em;
        display: none;
      }
    }
  }
}

// Edit Screen Navigation

#pb-edit-screen-navigation {
  margin: 1em 0 0 0;

  @media (min-width: 851px) {
    margin-right: 300px;
  }

  &:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

#pb-edit-screen-navigation [rel="previous"],
#pb-edit-screen-navigation [rel="next"] {
  display: inline-block;
  margin-bottom: 10px;
}

#pb-edit-screen-navigation [rel="previous"] {
  float: left;
}

#pb-edit-screen-navigation [rel="next"] {
  float: right;
}

/*!
 * WordPress CSS Spinner
 * @license GPL-2.0+
 * @author kuus <kunderikuus@gmail.com> (http://kunderikuus.net)
 */

$wp-spinner-bg: #808080;
$wp-spinner-fg: #fff;
$wp-spinner-size: 18px;
$wp-spinner-size-inner: 4px;
$wp-spinner-anim-duration: 1.08s;

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cssanimations {
  .spinner {
    position: relative;
    width: $wp-spinner-size;
    height: $wp-spinner-size;
    border-radius: $wp-spinner-size;
    background: $wp-spinner-bg;
    animation: infinite-spinning $wp-spinner-anim-duration linear infinite;

    &:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 50%;
      width: $wp-spinner-size-inner;
      height: $wp-spinner-size-inner;
      border-radius: $wp-spinner-size-inner;
      margin-left: -($wp-spinner-size-inner / 2);
      background: $wp-spinner-fg;
    }
  }
}

#toplevel_page_quicklatex-settings {
  display: none;
}

.compat-attachment-fields th {
  vertical-align: top;
}

.taxonomy-front-matter-type,
.taxonomy-chapter-type,
.taxonomy-back-matter-type,
.taxonomy-contributor,
.taxonomy-license,
.taxonomy-glossary-type {
  #wpadminbar #wp-admin-bar-view {
    display: none;
  }
}


.mce-window[aria-label="Table properties"] .mce-formitem:nth-child(6) {
  display: none;
}

.mce-window[aria-label="Table properties"] .mce-formitem:nth-child(7) {
  left: 0 !important;
}
