.pb-table-header .sorting-indicators {
  display: inline-block;
  margin-left: 4px;
}

th.column-user_login .sorting-button {
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.sorting-button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
  color: #bb0028;

  &:hover,
  &:focus {
    color: #bb0028;
    text-decoration: none;
    outline: none;
  }

  &:focus {
    box-shadow: 0 0 0 1px #2271b1, 0 0 2px 1px rgba(30 140 190 / 80% );
  }

  span.screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.check-column {
  padding: 9px 0 !important;
}
