// TODO

@import 'mixins', 'toc-prince';

#toc {
  margin-right: $toc-center-margin-right;
  margin-left: $toc-center-margin-left;

  h1 {
    text-align: center;
  }

  a::after {
    display: inline;
    content: '\A0\A0\A0' target-counter(attr(href), page);
  }

  ul {
    padding: 0;
    margin: 0;
    line-height: $toc-base-line-height;
    text-align: center;
    list-style: none;
    counter-reset: chapter;
  }

  li {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
  }

  li.front-matter {
    margin-top: .3em;
    text-align: center;
  }

  li.back-matter {
    margin-top: .3em;
    text-align: center;
  }

  li.chapter + li.back-matter {
    margin-top: 2em;
  }

  li.part + li.back-matter {
    margin-top: 1.5em;
  }

  .front-matter .toc-chapter-title {
    @include toc-front-matter-title;
    text-align: center;
  }

  .introduction .toc-chapter-title {
    @include toc-front-matter-title;
    text-align: center;
  }

  .back-matter .toc-chapter-title {
    @include toc-back-matter-title;
    text-align: center;
  }

  .part {
    @include toc-part-title;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    page-break-after: avoid;
  }

  .part a::before {
    display: block;
    text-align: center;
    content: 'Part ' counter(part, upper-roman)'.\A0'; // TODO
    counter-increment: part;
    page-break-after: avoid;
  }

  .part a::after {
    content: '';
  }

  .chapter {
    margin-top: .75em;
  }

  .chapter a::before {
    @include toc-chapter-number;
    display: inline;
    content: counter(chapter) '.\A0\A0\A0';
    counter-increment: chapter;
    page-break-after: avoid;
  }

  .toc-chapter-title {
    @include toc-chapter-title;
    display: inline-block;
    text-align: center;
    page-break-after: avoid;
  }

  .chapter-author,
  .chapter-subtitle {
    display: none;
    text-align: center;
  }

  .chapter-subtitle {
    @include toc-chapter-subtitle;
  }

  .chapter-author {
    @include toc-chapter-author;
  }

  .front-matter a::after {
    content: '\A0\A0\A0' target-counter(attr(href), page, lower-roman);
  }

  .introduction a::after {
    content: '\A0\A0\A0' target-counter(attr(href), page);
  }
}
