@import 'mixins', 'toc-prince';

#toc {
  h1 {
    text-align: left;
  }

  a {
    margin-left: 0;
  }

  a::after {
    position: absolute;
    top: $toc-left-page-number-top;
    right: 0;
    line-height: $toc-base-line-height;
    vertical-align: top;
    content: target-counter(attr(href), page);
  }

  ul {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: $toc-left-margin-left;
    line-height: $toc-base-line-height;
    counter-reset: chapter;
  }

  li {
    position: relative;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
  }

  .front-matter + .chapter,
  .front-matter + .part,
  .part + .chapter,
  .part + .back-matter,
  .chapter + .part,
  .chapter + .back-matter {
    margin-top: $toc-block-margin-top;
  }

  .front-matter,
  .back-matter {
    margin-top: $toc-section-margin-top;
  }

  .front-matter a::after {
    @include toc-front-matter-page-number;
    content: leader(' ') target-counter(attr(href), page, lower-roman);
  }

  .introduction a::after {
    content: leader(' ') target-counter(attr(href), page);
  }

  .part {
    @include toc-part-title;
    width: $toc-title-width;
    page-break-after: avoid;
  }

  .part a::before {
    @include toc-part-number;
    text-align: left;
    content: $part '\A0' counter(part, upper-roman)'.\A0';
    counter-increment: part;
  }

  .part a::after {
    content: '';
  }

  .chapter {
    margin-top: $toc-chapter-margin-top;
  }

  .toc-chapter-title {
    @include toc-chapter-title;
    position: relative;
    top: 0;
    display: inline-block;
    width: $toc-title-width;
    text-indent: 0;
    vertical-align: top;
  }

  .chapter-author,
  .chapter-subtitle {
    display: inline-block;
    width: $toc-sub-width;
    text-indent: 0;
  }

  .chapter-subtitle {
    @include toc-chapter-subtitle;
  }

  .front-matter .toc-chapter-title {
    @include toc-front-matter-title;
    position: relative;
    display: block;
  }

  .back-matter .toc-chapter-title {
    @include toc-back-matter-title;
    position: relative;
    display: block;
  }

  .chapter a::before {
    @include toc-chapter-number;
    position: relative;
    left: -1 * $toc-left-chapter-number-width + $toc-left-chapter-number-margin-right;
    display: inline-block;
    width: $toc-left-chapter-number-width;
    margin-right: -1 * $toc-left-chapter-number-width;
    line-height: $toc-base-line-height;
    text-align: right;
    vertical-align: top;
    content: counter(chapter) '. ';
    counter-increment: chapter;
  }

  li.section {
    left: -1 * $toc-left-margin-left;
  }

  li.section a::after {
    margin-right: -1 * $toc-left-margin-left;
  }
}
