@import 'mixins', 'toc-prince';

#toc {
  counter-reset: part;
  page-break-before: right;

  h1 {
    text-align: left;
  }

  a {
    margin-left: 0;
    color: inherit;
    border: 0;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul {
    margin-left: 1cm;
    line-height: 1.2em;
    counter-reset: chapter;
  }

  li {
    position: relative;
  }

  li.front-matter {
    margin-top: .5em;
  }

  li.back-matter {
    margin-top: .5em;
  }

  li.chapter {
    margin-top: 1em;
  }

  li.front-matter + li.chapter {
    margin-top: 1.5em;
  }

  li.part.display-none + li.chapter {
    margin-top: 1.5em;
  }

  li.front-matter + li.part {
    margin-top: 1.5em;
  }

  li.chapter + li.back-matter {
    margin-top: 1.5em;
  }

  li.part + li.back-matter {
    margin-top: 1.5em;
  }

  .front-matter .toc-chapter-title {
    @include toc-front-matter-title;
    position: relative;
    display: block;
  }

  .introduction .toc-chapter-title {
    @include toc-front-matter-title;
  }

  .part {
    @include toc-part-title;
    width: 80%;
    margin: 1.5em 0;
    page-break-after: avoid;
  }

  .part a::before {
    @include toc-part-number;
    width: 80%;
    text-align: left;
    content: 'Part ' counter(part, upper-roman) '.\A0'; // TODO
    counter-increment: part;
  }

  .part a::after {
    content: '';
  }

  li.chapter {
    margin-top: .3em;
    margin-left: 0;
  }

  .toc-chapter-title {
    @include toc-chapter-title;
    position: relative;
    top: 0;
    display: inline-block;
    width: 80%;
    text-indent: 0;
    vertical-align: top;
  }

  .chapter-subtitle {
    @include toc-chapter-subtitle;
  }

  .chapter-author,
  .chapter-subtitle {
    display: inline-block;
    width: 75%;
    text-indent: 0;
  }

  .chapter a::before {
    @include toc-chapter-number;
    position: relative;
    left: -1.5em;
    display: inline-block;
    width: 2em;
    margin-right: -2em;
    line-height: 1.2em;
    text-align: right;
    vertical-align: top;
    content: counter(chapter) '. ';
    counter-increment: chapter;
  }

  li.back-matter .toc-chapter-title {
    @include toc-back-matter-title;
    position: relative;
    display: block;
  }

  a::after {
    @include toc-page-number;
    position: absolute;
    top: .2em;
    right: 0;
    line-height: 1.2em;
    text-decoration: none;
    vertical-align: top;
    content: target-counter(attr(href), page);
  }

  .front-matter a::after {
    @include toc-front-matter-page-number;
    content: leader(' ') target-counter(attr(href), page, lower-roman);
  }

  .introduction a::after {
    content: leader(' ') target-counter(attr(href), page);
  }
}
