//GLOBAL TOC - MIXINS

@mixin toc-front-matter-title {
  color: $toc-front-matter-title-color;
  font-family: $toc-front-matter-title-font-family;
  text-align: left;
  font-size: $toc-front-matter-title-font-size;
  font-style: $toc-front-matter-title-font-style;
  font-weight: $toc-front-matter-title-font-weight;
  text-transform: $toc-front-matter-title-text-transform;
  hyphens: none;
}

@mixin toc-front-matter-subtitle {
  color: $toc-front-matter-subtitle-color;
  font-family: $toc-front-matter-subtitle-font-family;
  text-align: left;
  font-size: $toc-front-matter-subtitle-font-size;
  font-style: $toc-front-matter-subtitle-font-style;
  font-weight: $toc-front-matter-subtitle-font-weight;
  text-transform: $toc-front-matter-subtitle-text-transform;
  hyphens: none;
}

@mixin toc-front-matter-author {
  color: $toc-front-matter-author-color;
  font-family: $toc-front-matter-author-font-family;
  text-align: left;
  font-size: $toc-front-matter-author-font-size;
  font-style: $toc-front-matter-author-font-style;
  font-weight: $toc-front-matter-author-font-weight;
  text-transform: $toc-front-matter-author-text-transform;
  hyphens: none;
}

@mixin toc-part-number {
  display: $toc-part-number-display;
  color: $toc-part-number-color;
  font-family: $toc-part-number-font-family;
  text-align: left;
  font-size: $toc-part-number-font-size;
  font-style: $toc-part-number-font-style;
  font-weight: $toc-part-number-font-weight;
  text-transform: $toc-part-number-text-transform;
  hyphens: none;
}

@mixin toc-part-title {
  color: $toc-part-title-color;
  font-family: $toc-part-title-font-family;
  text-align: left;
  font-size: map-get($toc-part-title-font-size, $type);
  font-style: $toc-part-title-font-style;
  font-weight: $toc-part-title-font-weight;
  text-transform: $toc-part-title-text-transform;
  hyphens: none;
}

@mixin toc-chapter-number {
  color: $toc-chapter-number-color;
  font-family: $toc-chapter-number-font-family;
  font-size: $toc-chapter-number-font-size;
  font-style: $toc-chapter-number-font-style;
  font-weight: $toc-chapter-number-font-weight;
  text-transform: $toc-chapter-number-text-transform;
  text-align: left;
  hyphens: none;
}

@mixin toc-chapter-title {
  color: $toc-chapter-title-color;
  font-family: $toc-chapter-title-font-family;
  font-size: $toc-chapter-title-font-size;
  font-style: $toc-chapter-title-font-style;
  font-weight: $toc-chapter-title-font-weight;
  text-transform: $toc-chapter-title-text-transform;
  text-align: left;
  hyphens: none;
}

@mixin toc-chapter-subtitle {
  color: $toc-chapter-subtitle-color;
  font-family: $toc-chapter-subtitle-font-family;
  text-align: left;
  font-size: $toc-chapter-subtitle-font-size;
  font-style: $toc-chapter-subtitle-font-style;
  font-weight: $toc-chapter-subtitle-font-weight;
  text-transform: $toc-chapter-subtitle-text-transform;
  hyphens: none;
}

@mixin toc-chapter-author {
  color: $toc-chapter-author-color;
  font-family: $toc-chapter-author-font-family;
  text-align: left;
  font-size: $toc-chapter-author-font-size;
  font-style: $toc-chapter-author-font-style;
  font-weight: $toc-chapter-author-font-weight;
  text-transform: $toc-chapter-author-text-transform;
  hyphens: none;
}

@mixin toc-back-matter-title {
  @include toc-front-matter-title;
}

@mixin toc-back-matter-subtitle {
  @include toc-front-matter-subtitle;
}

@mixin toc-back-matter-author {
  @include toc-front-matter-author;
}

@mixin toc-page-number {
  color: $toc-page-number-color;
  font-family: $toc-page-number-font-family;
  font-size: $toc-page-number-font-size;
  font-style: $toc-page-number-font-style;
  font-weight: $toc-page-number-font-weight;
  text-transform: $toc-page-number-text-transform;
  text-decoration: $toc-page-number-text-decoration;
  hyphens: none;
}

@mixin toc-front-matter-page-number {
  color: $toc-front-matter-page-number-color;
  font-family: $toc-page-number-font-family;
  font-size: $toc-front-matter-page-number-font-size;
  font-style: $toc-front-matter-page-number-font-style;
  font-weight: $toc-front-matter-page-number-font-weight;
  text-transform: $toc-front-matter-page-number-text-transform;
  hyphens: none;
}
