@page toc {
  @include blank-head-and-foot;
}

#toc {
  counter-reset: part;
  page-break-before: right;


  a {
    color: inherit;
    border: 0;
  }

  a::after {
    @include toc-page-number;
  }

  .chapter.numberless a::before {
    left: 0;
    width: 0;
    margin-right: 0;
    content: '';
    counter-increment: none;
  }

  .part.invisible {
    display: none;
  }

  li {
    page-break-inside: avoid;
  }

  .part {
    page-break-after: avoid;
  }

  h3.front-matter-number,
  h3.part-number,
  h3.chapter-number,
  h3.back-matter-number {
    bookmark-level: none;
  }

  ul.sections {
    margin-top: $toc-subsection-margin-top;
  }

  li.section {
    margin-top: $toc-section-margin-top;
    font-size: $toc-section-title-font-size;
    font-style: $toc-section-title-font-style;
    font-weight: $toc-section-title-font-weight;
  }

  li.section a::before {
    content: '';
    counter-increment: none;
  }
}
