html {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
  font-weight: normal;
}

h1 {
  font-size: 2.125em;;
}

h2 {
  margin: 25px 0;
  font-size: 1.875em;
}

a {
  @include transition(all .4s);
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.oauth {
  margin: 20px 0 0;
  text-align: center;
}
