// Glyphicons font path
$icon-font-path:        '../fonts/';

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #d4002d;
$header-bg:             #e7e8ea;

// Fonts
$font-size-base: 16px;
$font-family-serif: 'Droid Serif', serif;
$font-family-sans-serif: 'Droid Sans', sans-serif;
$font-family-base: $font-family-serif;
$font-family-header: 'Oswald', sans-serif;
