/**
* default mpdf scss stylesheet, can be configured on a per theme basis
*/

body {
	font-family: "Trebuchet MS", "Times", serif;
	font-size: 0.9em;

}

a {
	border: none;
	color: blue;
	text-decoration: none;
}

p {
	line-height: 1.2em;
	text-align: justify;
	margin-bottom: 0;
}
p + p,
.indent {
	text-indent: 2em;
	margin-top: 0;
}
.nonindent,
.no-indent {
	text-indent: 0;
}

p + ul {
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
hr {
	margin: 10px auto;
	text-align: center;
	width: 20%;
}
hr.break-symbols {
	border: none;
	font-size: 1.1em;
	margin-bottom: 20px;
}
hr.break-symbols::after {
	display: block;
	content: "\066D";
	font-size: 1.8em;
	text-align: center;
}

div.chapter table,div.front-matter table,div.back-matter table,div.part table {
	border-collapse: collapse;
	width:100%;
}
div.chapter table tr td, div.front-matter table tr td,div.back-matter table tr td, div.part table tr td,table tr th{
	border: 1px solid #ddd;
	padding: 8px;
}

dt {
	float: left;
	font-weight: bold;
	margin-right: 5px;
	margin-bottom: 0;
}
dd {
	margin-bottom: 0;
}
ul ul,
ul ul ul {
	list-style-type: disc;
}
ul li li {
	list-style-type: circle;

}
ul li li li {
	list-style-type: square;
}
ul li li li::before {
	font-size: 0.5em;
	margin-right: 5px;
}
ol {
	list-style-type: none;
	counter-reset: level1;
}
ol li::before {
	content: counter(level1) ". ";
	counter-increment: level1;
}
ol ol {
	list-style-type: none;
	counter-reset: level2;
}
ol li li::before {
	content: counter(level1) "." counter(level2) " ";
	counter-increment: level2;
}
ol ol ol {
	list-style-type: none;
	counter-reset: level3;
}
ol li li li::before {
	content: counter(level1) ". " counter(level2) ". " counter(level3) " ";
	counter-increment: level3;
}

cite {
	font-weight: normal;
}
.hanging-indent {
	padding-left: 1em;
	text-indent: -1em;
}
/* HALF TITLE PAGE
================== */
#half-title-page h1 {
	font-size: 1.5em;
}
/* TITLE PAGE
================ */
#title-page {
	font-weight: normal;
	height: 100%;
}
#title-page h1, #title-page h2, #title-page h3, #title-page h4, #title-page h5,#title-page h6, #title-page p {
	text-align:center;
}

#title-page .title {
	border-bottom: 1px solid #000;
	font-size: 2.5em;
	margin-top: 3cm;
	margin-bottom: 0;
	padding-bottom: 5px;
}

#title-page  .subtitle {
	font-size: 2em;
	font-style: italic;
	margin-top: 0;
	padding-top: 5px;
}

#title-page .author,
#title-page .contributing-authors,
#title-page .publisher,
#title-page .publisher-city {
	font-weight: normal;
}

#title-page .author {
	font-size: 1.5em;
	margin-top: 3cm;
}

#title-page .contributing-authors{
	font-weight: normal;
	margin-top: 1cm;
}

#title-page .publisher {
	font-size: 1.25em;
	font-style: italic;
	margin-bottom: 0;
	margin-top: 3cm;
}

#title-page .publisher-city {
	font-size: 1em;
	font-style: italic;
	margin-top: 0;
}

/*	COPYRIGHT PAGE
====================== */

#copyright-page p {
	font-size: 0.9em;
	text-indent: 0;
	margin-bottom: 0.5em;
	text-align: center;
}
#copyright-page .custom-copyright {
	margin-top: 3cm;
}
#copyright-page .copyright-license {
	margin-top: 3cm;
}

/* DEDICATION
================ */
.dedication p {
	font-style: italic;
	text-align: center;
}

h1,
h2,
h3 {
	font-weight: normal;
}
h1 {
	font-size: 1.3em;
}
h2,
h3 {
	font-style: italic;
	font-size: 1.1em;
}
h3,
h4,
h5 {
	text-align: left;
}
h4 {
	font-size: 0.875em;
	font-style: italic;
	font-weight: normal;
}
h5 {
	font-size: 0.75em;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p {
	margin-top: 0;
}

div.front-matter .entry-title,
div.chapter .entry-title,
div.back-matter .entry-title,
div.part .entry-title,
h1.toc {
	font-size: 1.5em;
	margin-bottom: 2.5cm;
	font-style: normal;
}

/* MOAR TRADITIONAL CSS
================== */

.display-none, h3.front-matter-number, h3.back-matter-number {
	display: none;
}

h3.part-number, h3.chapter-number {
	padding-bottom: 1em;
	text-transform: uppercase;
}

h3.part-number::before {
	content: $part " ";
	text-transform: uppercase;
}
h3.chapter-number {
	font-weight: lighter;
	display: inline-block;
	padding: 0 2em 0 2em;
	text-align: center;
}
div.chapter.numberless h3.chapter-number {
	display: none;
}
.aphorism {
	font-size: 1em;
	font-style: italic;
	margin: 0 auto 4em;
	width: 50%;
}
.aphorism cite {
	display: block;
	font-size: 0.875em;
	font-style: normal;
	font-variant: small-caps;
	text-align: right;
}
.aphorism cite::before {
	content: "–";
}

/* CUT AND PASTE FROM EPUB FORTRESS.CSS
================== */

.aside {
	font-style: italic;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 2em 10%;
	padding: 10px 0;
	text-indent: 0;
}
.textbox {
	border: 1px solid #000;
	margin: 10px 0;
	padding: 10px;
}
.textbox.shaded {
	background-color: #eee;
}
.textbox p {
	margin-top: 0;
}
.textbox-caption {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0;
}

/*h2.chapter-subtitle {
	font-weight: normal;
	font-style: italic;
}
h2.chapter-subtitle,
h2.chapter-author {
	font-size: 1.4em;
	font-variant: normal;
	margin: -1.4em 0 3em;
}
h2.chapter-subtitle {
	margin-bottom: 2.8em;
	padding-top: 0.5em;
}
h2.chapter-author {
	font-size: 0.9em;
	font-style: normal;
	font-weight: 600;
}*/
.pullquote {
	border: 1px solid #000;
	border-width: 1px 0;
	margin: 20px auto;
	padding: 5px 0;
	text-align: center;
	width: 65%;
}
.pullquote-left {
	border: 1px solid #000;
	border-width: 1px 0;
	float: left;
	margin: 15px 15px 15px 0;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}
.pullquote-right {
	border: 1px solid #000;
	border-width: 1px 0;
	float: right;
	margin: 15px 0 15px 15px;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}

/* IMAGES
================== */
img {
	height: auto;
	max-width: 100%;
}
.alignleft {
	float: left;
	margin: 1em 1em 1em 0;
}
.alignright {
	float: right;
	margin: 1em 0 1em 1em;
}
.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;
}
div.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;
}
img.aligncenter {
	display: block;
	margin: 1em auto;
	text-align: center;
}
.wp-caption {
	height: auto;
	max-width: 100%;
	margin: 1em 0;
}
.wp-caption-text {
	font-size: 0.875em;
	font-style: italic;
	margin-top: 5px;
}

/* BLOCKQUOTES
 =============== */
div.blockquote {
	border-width: 0 4px;
	padding: 0 15%;
	margin-bottom: 2em;
}
p.bl_nonindent {
	margin: 2em 10% 0;
	text-indent: 0;
}
p.bl_indent {
	margin: 0 10%;
	text-indent: 1em;
}

/* BIBLIOGRAPHY
 =============== */

.bibliography p  {
	padding-left: 14pt;
	text-indent: -14pt;
}

/* INDEX
================== */
.index .ugc  {
	column-count: 2;
	column-gap: 2.5em;
	text-align: left;

}
.index .ugc  div {
	margin-bottom: 4em;
}
.index .ugc  p {
	font-size: 9pt;
	padding-left: 14pt;
	text-indent: -14pt;
	text-align: left;
}
.index .ugc  p.sub-entry {
	padding-left:30px;
}

div.license-attribution p:first-of-type {
	text-align:center;
	font-size: 0.75em;
}

/*************************
	Textbook styles
**************************/

.bcc-box{
	/*	max-width: 100%;*/
	padding: 1% 3%;
	margin: 15px 0 15px;
}

.bcc-box h3:first-child{
	text-align: center;
	margin: -1% -3% 15px;
	color: #ffffff;
	padding: 15px 0 15px;

}

.bcc-highlight{
	background-color: #f7f7f9;
}

.bcc-box.bcc-highlight h3{
	background-color: #111111;
}

.bcc-success{
	background-color: #eaf5ea;
}

.bcc-box.bcc-success h3{
	background-color: #3a7a33;
}

.bcc-info{
	background-color: #e3eff6;
}

.bcc-box.bcc-info h3{
	background-color: #0b6396;
}

.bcc-warning {
	background-color: #fcf8e3;
}

.bcc-box.bcc-warning h3{
	background-color: #c09853;
}

iframe{
	display: none;
}

object{
	display: none;
}
/** support divs to export content for web-only vs not-web; pdf-only vs not-pdf **/
.web-only, .not-pdf {
	display: none;
}

/* mPDF */

ul, ol { margin-top: 0.83em; margin-bottom: 0.83em; }
ul ul, ul ol, ol ul, ol ol { margin-top: 0; margin-bottom: 0; }

div.mpdf_index_main {
	font-family: inherit;
	line-height: normal;
}
div.mpdf_index_entry {
	line-height: normal;
	text-indent: -1.5em;
}
div.mpdf_index_letter {
	font-family: inherit;
	font-size: 1.8em;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
	page-break-after: avoid;
	margin-top: 0.3em;
	margin-collapse: collapse;
}
a.mpdf_index_link {
	color: #000000;
	text-decoration: none;
}


/* TABLE OF CONTENTS */
div.mpdf_toc {
	font-family: "Times", serif;
	line-height: normal;
	page-break-after: avoid;
	page-break-before: avoid;
}
a.mpdf_toc_a  {
	text-decoration: none;
	color: black;
}
div.mpdf_toc_level_0 {		/* Whole line level 0 */
	line-height: 1.5;
	margin-left: 0;
	padding-right: 0em;	/* should match the outdent specified for ToC; 0 is default; suggested value 2em */
	margin-top: 2em;

}
span.mpdf_toc_t_level_0 {	/* Title level 0 - may be inside <a> */
	font-weight: bold;
	margin-top: 2em;
}
span.mpdf_toc_p_level_0 {	/* Page no. level 0 - may be inside <a> */
}
div.mpdf_toc_level_1 {		/* Whole line level 1 */
	margin-left: 2em;
	text-indent: -2em;
	padding-right: 0em;	/* should match the outdent specified for ToC; 0 is default; suggested value 2em */
}
span.mpdf_toc_t_level_1 {	/* Title level 1 */
	font-weight: normal;
	font-style: normal;
}
span.mpdf_toc_p_level_1  {	/* Page no. level 1 - may be inside <a> */
}
div.mpdf_toc_level_2 {		/* Whole line level 2 */
	margin-left: 4em;
	text-indent: -2em;
	padding-right: 0em;	/* should match the outdent specified for ToC; 0 is default; suggested value 2em */
}
span.mpdf_toc_t_level_2 {	/* Title level 2 */
}
span.mpdf_toc_p_level_2 {	/* Page no. level 2 - may be inside <a> */
}
