//========================
// Page Structure Basics
//========================

// Size & Cropmarks

@page {
  marks: $page-cropmarks;
  size: $page-width $page-height;
}

// Margins

@page:left {
  margin-top: $page-margin-top;
  margin-right: $page-margin-inside;
  margin-bottom: $page-margin-bottom;
  margin-left: $page-margin-outside;
}

@page:right {
  margin-top: $page-margin-top;
  margin-right: $page-margin-outside;
  margin-bottom: $page-margin-bottom;
  margin-left: $page-margin-inside;
}
