//============================================================================//
//                                Recto-Verso                                 //
//============================================================================//

// Governs how pages open.

#half-title-page {
  page-break-before: $recto-verso-standard-opening;
}

#title-page {
  page-break-before: $recto-verso-standard-opening;
}

#copyright-page {
  page-break-before: $recto-verso-copyright-page-opening;
}

div.front-matter {
  page-break-before: $recto-verso-first-section-opening;

  &.introduction,
  + .front-matter.introduction {
    page-break-before: $recto-verso-first-section-opening;
  }

  + .front-matter {
    page-break-before: $recto-verso-section-opening;
  }
}

div.part {
  page-break-before: $recto-verso-standard-opening;
}

div.chapter {
  page-break-before: $recto-verso-first-section-opening;

  + div.chapter {
    page-break-before: $recto-verso-section-opening;
  }
}

div.back-matter {
  page-break-before: $recto-verso-first-section-opening;

  + div.back-matter {
    page-break-before: $recto-verso-section-opening;
  }
}
