//=================================
// Running Foot Outside (Both)
//=================================

// Displays the page number, a separator (defaults to ' | '), and user-defined
// content on the outside edge of the running foot.

// -------------------------------
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// | # | lfoot    |    rfoot | # |
// -------------------------------

@import 'mixins', 'blank';

// Front Matter

@page front-matter:first {
  @include blank-foot;
}

@page front-matter:left {
  @bottom-left {
    content: $front-matter-running-content-left;
    @include runningfoot-left;
  }

  @bottom-left-corner {
    content: counter(page, lower-roman) $runningfoot-separator;
    @include front-matter-page-number;
    margin-left: -1cm;
  }
}

@page front-matter:right {
  @bottom-right {
    content: $front-matter-running-content-right;
    @include runningfoot-right;
  }

  @bottom-right-corner {
    content: $runningfoot-separator counter(page, lower-roman);
    @include front-matter-page-number;
    margin-right: -1cm;
  }
}

// Introduction

@page introduction:first {
  @include blank-foot;
}

@page introduction:left {
  @bottom-left {
    content: $introduction-running-content-left;
    @include runningfoot-left;
  }

  @bottom-left-corner {
    content: counter(page) $runningfoot-separator;
    @include page-number;
    margin-left: -1cm;
  }
}

@page introduction:right {
  @bottom-right {
    content: $introduction-running-content-right;
    @include runningfoot-right;
  }

  @bottom-right-corner {
    content: $runningfoot-separator counter(page);
    @include page-number;
    margin-right: -1cm;
  }
}

// Parts

@page part:first {
  @include blank-foot;
}

@page part:left {
  @bottom-left {
    content: counter(page) $runningfoot-separator $part-running-content-left;
    @include runningfoot-left;
  }
}

@page part:right {
  @bottom-right {
    content: $part-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
  }
}

// Chapters

@page chapter:first {
  @include blank-foot;
}

@page chapter:left {
  @bottom-left {
    content: counter(page) $runningfoot-separator $chapter-running-content-left;
    @include runningfoot-left;
  }
}

@page chapter:right {
  @bottom-right {
    content: $chapter-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
  }
}

// Back Matter

@page back-matter:first {
  @include blank-foot;
}

@page back-matter:left {
  @bottom-left {
    content: counter(page) $runningfoot-separator $back-matter-running-content-left;
    @include runningfoot-left;
  }
}

@page back-matter:right {
  @bottom-right {
    content: $back-matter-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
  }
}
