//=============================
//RUNNING HEADS CENTER2
//=============================

// ------------------------------
//|  # . lhead   |   rhead . #  |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//------------------------------

/* Blank Head and Foot Defaults
note: use mixin 'blank-head-and-foot' where needed */

@import 'blank';
@import 'mixins';



/* RUNNING HEAD CENTER2:
FRONT-MATTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page front-matter:first {
  @include blank-head-and-foot;

}
@page front-matter:left {

  @top {
    content: counter(page, lower-roman) "\A0\A0•\A0\A0" $front-matter-running-content-left;
    @include runninghead-left;
    text-align: center;
  }
}
@page front-matter:right {
  @top {
    content: $front-matter-running-content-right "\A0\A0•\A0\A0" counter(page, lower-roman);
    @include runninghead-right;
    text-align: center;
  }
}

/* RUNNING HEADS CENTER2:
INTRODUCTION PAGES: RUNNING HEADS/FEET/PAGE NUMBERS */

@page introduction:first {
  @include blank-head-and-foot;
}

@page introduction:left {
  @top {
    content: counter(page) "\A0\A0•\A0\A0" $introduction-running-content-left;
    @include runninghead-left;
    text-align: center;
  }
}
@page introduction:right {
  @top {
    content:  $introduction-running-content-right "\A0\A0•\A0\A0" counter(page);
    @include runninghead-right;
    text-align: center;
  }
}

/*  RUNNING HEADS CENTER2:
PART PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page part:first {
  @include blank-head-and-foot;
}
@page part:left {
  @top {
    content: counter(page) "\A0\A0•\A0\A0" $part-running-content-left;
    @include runninghead-left;
    text-align: center;
  }
}
@page part:right {
  @top {
    content: $part-running-content-right "\A0\A0•\A0\A0" counter(page);;
    @include runninghead-right;
    text-align: center;
  }
}

/* RUNNING HEADS CENTER2:
CHAPTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page chapter:first {
  @include blank-head-and-foot;
}
@page chapter:left {
  @top {
    content: counter(page) "\A0\A0•\A0\A0" $chapter-running-content-left;
    @include runninghead-left;
    text-align: center;
  }

}
@page chapter:right {
  @top {
    content: $chapter-running-content-right "\A0\A0•\A0\A0" counter(page);
    @include runninghead-right;
    text-align: center;
  }
}

/* RUNNING HEADS CENTER2:
BACK-MATTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS */

@page back-matter:first {
  @include blank-head-and-foot;
}
@page back-matter:left {
  @top {
     content: counter(page) "\A0\A0•\A0\A0" $back-matter-running-content-left;
     @include runninghead-left;
     text-align: center;
  }
}
@page back-matter:right {
  @top {
     content: $back-matter-running-content-right "\A0\A0•\A0\A0" counter(page);
     @include runninghead-right;
     text-align: center;
  }

}
