//=================================
// Running Foot Center (Both)
//=================================

// Displays the page number, a separator (defaults to ' | '), and user-defined
// content in the center of the running foot.

// -------------------------------
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |   # | lfoot  |  rfoot | #   |
// -------------------------------

@import 'mixins', 'blank';

// Front Matter

@page front-matter:first {
  @include blank-foot;
}

@page front-matter:left {
  @bottom {
    content: counter(page, lower-roman) $runningfoot-separator $front-matter-running-content-left;
    @include runningfoot-left;
    text-align: center;
  }
}

@page front-matter:right {
  @bottom {
    content: $front-matter-running-content-right $runningfoot-separator counter(page, lower-roman);
    @include runningfoot-right;
    text-align: center;
  }
}

// Introduction

@page introduction:first {
  @include blank-foot;
}

@page introduction:left {
  @bottom {
    content: counter(page) $runningfoot-separator $introduction-running-content-left;
    @include runningfoot-left;
    text-align: center;
  }
}

@page introduction:right {
  @bottom {
    content: $introduction-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
    text-align: center;
  }
}

// Parts

@page part:first {
  @include blank-foot;
}

@page part:left {
  @bottom {
    content: counter(page) $runningfoot-separator $part-running-content-left;
    @include runningfoot-left;
    text-align: center;
  }
}

@page part:right {
  @bottom {
    content: $part-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
    text-align: center;
  }
}

// Chapters

@page chapter:first {
  @include blank-foot;
}

@page chapter:left {
  @bottom {
    content: counter(page) $runningfoot-separator $chapter-running-content-left;
    @include runningfoot-left;
    text-align: center;
  }
}

@page chapter:right {
  @bottom {
    content: $chapter-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
    text-align: center;
  }
}

// Back Matter

@page back-matter:first {
  @include blank-foot;
}

@page back-matter:left {
  @bottom {
    content: counter(page) $runningfoot-separator $back-matter-running-content-left;
    @include runningfoot-left;
    text-align: center;
  }
}

@page back-matter:right {
  @bottom {
    content: $back-matter-running-content-right $runningfoot-separator counter(page);
    @include runningfoot-right;
    text-align: center;
  }
}
