//===================================
// Running Foot Outside (Content)
//===================================

// Displays user-defined content on the outside edge of the running foot.

// -------------------------------
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// |              |              |
// | lfoot        |        rfoot |
// -------------------------------

@import 'mixins', 'blank';

// Front Matter

@page front-matter:first {
  @include blank-foot;
}

@page front-matter:left {
  @bottom-left {
    content: $front-matter-running-content-left;
    @include runningfoot-left;
  }
}

@page front-matter:right {
  @bottom-right {
    content: $front-matter-running-content-right;
    @include runningfoot-right;
  }
}

// Introduction

@page introduction:first {
  @include blank-foot;
}

@page introduction:left {
  @bottom-left {
    content: $introduction-running-content-left;
    @include runningfoot-left;
  }
}

@page introduction:right {
  @bottom-right {
    content: $introduction-running-content-right;
    @include runningfoot-right;
  }
}

// Parts

@page part:first {
  @include blank-foot;
}

@page part:left {
  @bottom-left {
    content: $part-running-content-left;
    @include runningfoot-left;
  }
}
@page part:right {
  @bottom-right {
    content: $part-running-content-right;
    @include runningfoot-right;
  }
}

// Chapters

@page chapter:first {
  @include blank-foot;
}

@page chapter:left {
  @bottom-left {
    content: $chapter-running-content-left;
    @include runningfoot-left;
  }
}

@page chapter:right {
  @bottom-right {
    content: $chapter-running-content-right;
    @include runningfoot-right;
  }
}

// Back Matter

@page back-matter:first {
  @include blank-foot;
}

@page back-matter:left {
  @bottom-left {
    content: $back-matter-running-content-left;
    @include runningfoot-left;
  }
}

@page back-matter:right {
  @bottom-right {
    content: $back-matter-running-content-right;
    @include runningfoot-right;
  }
}
