//========================
// RUNNING HEAD INSIDE
//========================

// ------------------------------
//| #       lhead|rhead        #|
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//------------------------------

/* Blank Head and Foot Defaults
note: use mixin 'blank-head-and-foot' where needed */

@import 'blank'; 
@import 'mixins';

/* RUNNING HEAD INSIDE:
FRONT-MATTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page front-matter:first {
  @include blank-head-and-foot;
}
@page front-matter:left {

  @top-right {
    content: $front-matter-running-content-left;
    @include runninghead-left;
    text-align: right;
  }
  @top-left {
    content: counter(page, lower-roman);
    @include front-matter-page-number;
    text-align: left;
  }
}
@page front-matter:right {
  @top-left {
    content: $front-matter-running-content-right;
    @include runninghead-right;
    text-align: left;
  }
  @top-right {
    content: counter(page, lower-roman);
    @include front-matter-page-number;
    text-align: right;
  }
}

/* RUNNING HEADS INSIDE:
INTRODUCTION PAGES: RUNNING HEADS/FEET/PAGE NUMBERS */

@page introduction:first {
  @include blank-head-and-foot;
}

@page introduction:left {
  @top-right {
    content: $introduction-running-content-left;
    @include runninghead-left;
    text-align: right;
  }
  @top-left {
    content: counter(page);
    @include page-number;
    text-align: left;
  }
}
@page introduction:right {
  @top-left {
    content: $introduction-running-content-right;
    @include runninghead-right;
    text-align: left;
  }
  @top-right {
    content: counter(page);
    @include page-number;
    text-align: right;
  }
}

/*  RUNNING HEADS INSIDE:
PART PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page part:first {
  @include blank-head-and-foot;
}
@page part:left {
  @top-right {
    content: $part-running-content-left;
    @include runninghead-left;
    text-align: left;
  }
  @top-left {
    content: counter(page);
    @include page-number;
    text-algin: left;
  }
}
@page part:right {
  @top-left {
    content: $part-running-content-right;
    @include runninghead-right;
    text-align: left;
  }
  @top-right {
    content: counter(page);
    @include page-number;
    text-align: right;
  }
}

/* RUNNING HEADS INSIDE:
CHAPTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page chapter:first {
  @include blank-head-and-foot;
}
@page chapter:left {
  @top-right {
    content: $chapter-running-content-left;
    @include runninghead-left;
    text-align: right;
  }
  @top-left {
    content: counter(page);
    @include page-number;
    text-align: left;
  }
}
@page chapter:right {
  @top-left {
    content: $chapter-running-content-right;
    @include runninghead-right;
    text-align: left;
  }
  @top-right {
    content: counter(page);
    @include page-number;
    text-align: right;
  }
}

/* RUNNING HEADS INSIDE:
BACK-MATTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS */

@page back-matter:first {
  @include blank-head-and-foot;
}
@page back-matter:left {
  @top-right {
     content: $back-matter-running-content-left;
     @include runninghead-left;
     text-align: right;
  }
  @top-left {
    content: counter(page);
    @include page-number;
    text-align: left;
  }
}
@page back-matter:right {
  @top-left {
     content: $back-matter-running-content-right;
     @include runninghead-right;
     text-align: left;
  }
  @top-right {
    content: counter(page);
    @include page-number;
    text-align: right;
  }
}
