
//========================
//RUNNING HEAD OUTSIDE2
//========================


// ------------------------------
//| #  lhead     |       rhead #|
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//|              |              |
//------------------------------

/* Blank Head and Foot Defaults
note: use mixin 'blankheadandfoot' where needed */

@import 'blanks'; 
@import 'mixins'; 


/* RUNNING HEAD OUTSIDE2: 
FRONT-MATTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page front-matter:first {
  @top {
    content: "";
  }
  @top-right {
    content: "";
  }
  @top-right-corner {
    content: "";
  }
  @top-left {
    content: "";
  }
  @top-left-corner {
    content: "";
  }
}
@page front-matter:left {
  @top-left {
    content: $FrontMatterRunningContentLeft;
    @include runningheadleft;
  }
  @top-left-corner {
    content: counter(page, lower-roman) "\A0\A0\A0\A0";
    @include frontmatterpagenumber;    
  }
}
@page front-matter:right {
  @top-right {
    content: $FrontMatterRunningContentRight;
    @include frontmatterpagenumber;
  }
  @top-right-corner {
    content: "\A0\A0\A0\A0" counter(page, lower-roman);
    @include frontmatterpagenumber;    
  }
}

/* RUNNING HEAD OUTSIDE2: 
INTRODUCTION PAGES: RUNNING HEADS/FEET/PAGE NUMBERS */

@page introduction:first {
  @top {
    content: "";
  }
  @top-right {
    content: "";
  }
  @top-right-corner {
    content: "";
  }
  @top-left {
    content: "";
  }
  @top-left-corner {
    content: "";
  }
}
@page introduction:left {
  @top-left {
    content: $IntroductionRunningContentLeft;
    @include runningheadleft;
  }
  @top-left-corner {
    content: counter(page) "\A0\A0\A0\A0";
    @include pagenumber;    

  }
}
@page introduction:right {
  @top-right {
    content: $IntroductionRunningContentRight;
    @include runningheadright;
  }
  @top-right-corner {
    content: "\A0\A0\A0\A0" counter(page);
    @include pagenumber;   
  }
}

/* RUNNING HEAD OUTSIDE2: 
PART PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page part:first {
  @include blankheadandfoot;
}
@page part:left {
  @top-left {
    content: $PartRunningContentLeft;
    @include runningheadleft;
  }
  @top-left-corner {
    content: counter(page) "\A0\A0\A0\A0";
    @include pagenumber;    
  }
}
@page part:right {
  @top-right {
    content: $PartRunningContentRight;
    @include runningheadright;
  }
  @top-right {
    content: "\A0\A0\A0\A0" counter(page);
    @include pagenumber;    
  }
}

/* RUNNING HEAD OUTSIDE2: 
CHAPTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS; */

@page chapter:first {
  @top {
    content: "";
  }
  @top-right {
    content: "";
  }
  @top-right-corner {
    content: "";
  }
  @top-left {
    content: "";
  }
  @top-left-corner {
    content: "";
  }
}
@page chapter:left {
  @top-left {
    content: $ChapterRunningContentLeft;
    @include runningheadleft;
  }
  @top-left-corner {
    content: counter(page) "\A0\A0\A0\A0";
    @include pagenumber;    
  }
}
@page chapter:right {
  @top-right {
    content: $ChapterRunningContentRight;
    @include runningheadright;
  }
  @top-right-corner {
    content: "\A0\A0\A0\A0" counter(page);
    @include pagenumber;    
  }
}

/* RUNNING HEAD OUTSIDE2: 
BACK-MATTER PAGES: RUNNING HEADS/FEET/PAGE NUMBERS */

@page back-matter:first {
  @top {
    content: "";
  }
  @top-right {
    content: "";
  }
  @top-right-corner {
    content: "";
  }
  @top-left {
    content: "";
  }
  @top-left-corner {
    content: "";
  }
}
@page back-matter:left {
  @top-left {
     content: $BackMatterRunningContentLeft;
     @include runningheadleft;
  }
  @top-left-corner {
    content: counter(page) "\A0\A0\A0\A0";
    @include pagenumber;  
  }
}
@page back-matter:right {
  @top-right {
     content: $BackMatterRunningContentRight;
     @include runningheadright;
  }
  @top-right-corner {
    content: "\A0\A0\A0\A0" counter(page);
    @include pagenumber;  
  }
}


