@import 'mixins', 'fonts-epub';

body {
	font-family: $font-1;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

/*
	 HEADERS
 =============== */
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

/*  DEFAULT STYLES
 =================== */
p {
	margin: 0;
}
p + ul {
	margin-top: 1em;
}
hr {
	margin: 1em auto;
	text-align: center;
	width: 20%;
}
table {
	border: 1px solid #000;
	border-width: 1px 0;
}
dt {
	float: left;
	font-weight: bold;
	margin-right: 0.5em;
	margin-bottom: 0;
}
dd {
	margin-bottom: 0;
}
ul ul,
ul ul ul {
	list-style-type: none;
}
ul li li {
	list-style-image: url('images/em-dash.png');

}
ul li li li {
	list-style-image: url('images/asterisk.png');
}
cite {
	font-weight: normal;
}

div.blockquote,
blockquote {
	border-width: 0 0.5em;
	padding: 0 5%;
	margin-bottom: 2em;
}
p + p,
.indent {
	text-indent: 2em;
	margin-top: 0;
}


/* USER GENERATED CSS
====================== */
.nonindent,
.no-indent {
	text-indent: 0;
}
hr.break-symbols {
	border: none;
	font-size: 1.1em;
	margin-bottom: 2em;
}
hr.break-symbols:after {
	display: block;
	content: "\2725";
	text-align: center;
}
p.bl_nonindent {
	margin: 2em 10% 0;
	text-indent: 0;
}
p.bl_indent {
	margin: 0 10%;
	text-indent: 1em;
}
.hanging-indent {
	padding-left: 1em;
  text-indent: -1em;
}

/* TITLE PAGE
================ */
#title-page > .title {
	font-size: 2.2em;
	margin-top: 1em;
  line-height: 1em;
	text-transform: uppercase;
}
#title-page > .subtitle {
	font-size: 1.7em;
	margin-top: 2.1em;
	text-transform: uppercase;
}
#title-page > .logo {
	margin-top: 5em;
	background-repeat: no-repeat;
	background-position: bottom center;
}
#title-page .title + .logo {
	margin-top: 8em;
}
#title-page > .author {
	font-size: 1.4em;
	margin-top: 2.5em;
	text-transform: uppercase;
}
#title-page > .publisher {
	font-size: 1.3em;
	margin-bottom: 0.3em;
}
#title-page > .publisher-city {
	font-size: 0.875em;
	margin-top: 0;
}

/* DEDICATION
================ */
.dedication > div.front-matter-ugc p {
	font-style: italic;
	text-align: center;
}

/* COPYRIGHT PAGE
=================== */
#copyright-page > div.ugc p {
	font-size: 0.7em;
  text-indent: 0;
  margin-bottom: 0.5em;
}
div.license-attribution {
	text-align: center;
	margin-bottom: 1em;
}

/*  TITLES for FRONT-MATTER, BACK_MATTER, CHAPTER & PART
========================================================= */
div.part {
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-top: 6em;
	padding-bottom: 0.25em;
}
div.part.invisible {
	display: none;
}
.display-none, .front-matter-number, .back-matter-number {
	display: none;
}
.part-number, .chapter-number {
	padding-bottom: 1em;
	text-transform: uppercase;
}
div.part-title-wrap > h3.part-number:before {
	content: $part " ";
}
.chapter-number {
	margin-bottom: 3em;
}
div.chapter.numberless h3.chapter-number {
	display: none;
}
.front-matter-title {
	margin-bottom: 3em;
}
.front-matter.preface h1.front-matter-title {
	font-size: 1.4em;
}
.chapter-title {
	margin: 2em 0;
}

/*  BODY TITLES
===================	*/
.ugc h1,
.ugc h2,
.ugc h3,
.ugc h4,
.ugc h5,
.ugc h6 {
	margin-bottom: 0.5em;
	page-break-after:avoid;
}
.ugc h1,
.ugc h2,
.ugc h3 {
	font-weight: bold;
}
.ugc h1 {
	font-size: 1.1em;
}
.ugc h2,
.ugc h3 {
	font-size: 1em;
}
.ugc h3,
.ugc h4,
.ugc h5 {
	text-align: left;
	font-style: italic;
	font-size: 0.9em;
}
.ugc.back-matter-ugc h4,
.ugc.part-ugc h4,
.ugc.chapter-ugc h4,
.ugc.front-matter-ugc h4 {
	font-size: 0.9em;
	font-weight: normal;
}
.ugc.back-matter-ugc h5,
.ugc.part-ugc h5,
.ugc.chapter-ugc h5,
.ugc.front-matter-ugc h5 {
	font-size: 1em;

}
.ugc h1 + p,
.ugc h2 + p,
.ugc h3 + p,
.ugc h4 + p,
.ugc h5 + p {
	margin-top: 0;
}

/* TABLE OF CONTENTS
======================= */
#toc {
	font-size: 0.95em;
}
#toc ul > .front-matter,
#toc ul > .back-matter {
	font-style: italic;
}
#toc .front-matter + .chapter {
	margin-top: 1.3em;
}
#toc a {
	border: none;
	color: inherit;
}
#toc ul, #toc li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#toc a:after {
	font-style: normal;
	text-decoration: none;
}
#toc .part {
	font-family: Impact, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1.3em 0 0.5em;
}

#toc .part.invisible {
	display: none;
}

#toc ul {
	line-height: 1.2em;
}
#toc .chapter + .back-matter {
	margin-top: 1.3em;
}
#toc span.chapter-author,
#toc span.chapter-license,
#toc span.chapter-subtitle {
	display: block;
	font-style: italic;
	margin-left: 2em;
}
#toc span.chapter-author,
#toc span.chapter-license,
#toc span.chapter-subtitle {
	margin-bottom: 0.5em;
}
#toc span.chapter-subtitle +
span.chapter-author,
#toc span.chapter-subtitle +
span.chapter-license,
span.chapter-author +
span.chapter-license {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
}

/* SUBTITLES, CHAPTER AUTHOR & APHORIMS
======================================== */
h2.chapter-subtitle {
	font-weight: normal;
	font-style: italic;
}
h2.chapter-subtitle,
h2.chapter-author {
	font-size: 1.4em;
	font-variant: normal;
	margin: -1.4em 0 3em;
}
h2.chapter-subtitle {
	margin-bottom: 2.8em;
	padding-top: 0.5em;
}
h2.chapter-author {
	font-size: 0.9em;
	font-style: normal;
	font-weight: 600;
}
blockquote.aphorism {
	font-size: 1em;
	font-style: italic;
	margin: 0 auto 4em;
	padding: 0 15%;
	width: 50%;
}
blockquote.aphorism p {
	text-align: right;
}
.aphorism cite {
	display: block;
	font-size: 0.875em;
	font-style: normal;
	font-variant: small-caps;
	text-align: right;
}
.aphorism cite:before {
	content: "–";
}

/* ASIDES, PULLQUOTES & TEXTBOXES
================================== */
.aside {
	font-style: italic;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 2em 10%;
	padding: 10px 0;
	text-indent: 0;
}
.textbox {
	border: 1px solid #000;
	margin: 10px 0;
	padding: 10px;
}
.textbox.shaded {
	background-color: #eee;
}
.textbox p {
	margin-top: 0;
}
.textbox-caption {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0;
}
.pullquote {
	border: 1px solid #000;
	border-width: 1px 0;
	margin: 20px auto;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}
.pullquote-left {
	border: 1px solid #000;
	border-width: 1px 0;
	float: left;
	margin: 15px 15px 15px 0;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}
.pullquote-right {
	border: 1px solid #000;
	border-width: 1px 0;
	float: right;
	margin: 15px 0 15px 15px;
	padding: 5px 0;
	text-align: center;
	width: 45%;
}

/* FOOTNOTES & ENDNOTES
======================== */
.footnotes {
	display: block;
  font-size: 0.875em;
  margin: 2em 1em 3em 3em;
}
.footnotes-wrap {
	list-style: none;
	display: block;
	margin: 1em 1em 1em 3em;
}
.footnotes p + p {
	text-indent: 0;
}
.footnotes .footnotes-wrap p {
	text-indent: -1em;
}
.footnotes p a {
	display: block;
	text-decoration: none;
}
sup.footnote,
sup.endnote {
	line-height: 1em;
	vertical-align: top;
}
.endnotes hr {
	border: none;
	margin-top: 1em;
}
.endnotes h3 {
	margin-bottom: 0;
}
.endnotes h3 {
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}
.endnotes ol {
	font-size: 0.7em;
	margin-top: 0.5em;
	margin-left: 0;
}
.endnotes li {
	text-indent: 2em;
}
.endnotes p + p {
	text-indent: 0;
}

/* BIBLIOGRAPHY
 =============== */
.bibliography p  {
	padding-left: 1em;
	text-indent: -1em;
}

/* INDEX
================== */
.index .ugc  {
	text-align: left;

}
.index .ugc  div {
	margin-bottom: 4em;
}
.index > div.back-matter-ugc  p {
	font-size: 0.75em;
	padding-left: 1.5em;
	text-indent: -.15em;
	text-align: left;
}
.index .ugc  p.sub-entry {
	padding-left:3em;
}


/* ===============
IMAGES & CAPTIONS
================= */



/* CAPTIONS */

p.wp-caption-text {
  font-size: 0.9em;
  padding-bottom: 0.5em;
  font-style: italic;
}

@import 'epub-images' , 'epub-house-style' , 'mobi-house-style';
