//============================================================================//
//                                  Columns                                   //
//============================================================================//

.twocolumn {
  margin-top: $column-margin-top;
  margin-bottom: $column-margin-bottom;
  column-count: 2;
  column-gap: $column-twocolumn-column-gap;
  column-fill: balance;

  p,
  p + p {
    margin-top: $para-margin-top;
    font-size: $column-twocolumn-font-size;
    line-height: $column-line-height;
    text-align: $para-align;
    text-indent: $para-indent;
  }
}

.threecolumn {
  margin-top: $column-margin-top;
  margin-bottom: $column-margin-bottom;
  column-count: 3;
  column-gap: $column-threecolumn-column-gap;
  column-fill: balance;

  p,
  p + p {
    margin-top: $para-margin-top;
    font-size: $column-threecolumn-font-size;
    line-height: $column-line-height;
    text-align: left;
    text-indent: $para-indent;
  }
}
