//============================================================================//
//                                  Columns                                   //
//============================================================================//

@import '../utilities';

.twocolumn {
  margin-top: $column-margin-top;
  margin-bottom: $column-margin-bottom;
  font-size: $column-twocolumn-font-size;
  line-height: $column-line-height;
  text-align: if-map-get($para-align, $type);
  column-gap: $column-twocolumn-column-gap;
  column-count: 2;
  column-fill: balance;

  p,
  p + p {
    margin-top: $para-margin-top;
    line-height: $column-line-height;
    text-align: if-map-get($para-align, $type);
    text-indent: $para-indent;
  }
}

.threecolumn {
  margin-top: $column-margin-top;
  margin-bottom: $column-margin-bottom;
  font-size: $column-threecolumn-font-size;
  line-height: $column-line-height;
  column-gap: $column-threecolumn-column-gap;
  column-count: 3;
  column-fill: balance;

  p,
  p + p {
    margin-top: $para-margin-top;
    line-height: $column-line-height;
    text-align: left;
    text-indent: $para-indent;
  }
}
