//DROPCAP - GLOBAL

/* DROPCAPS */ 

.firstcharacter,
.first-character {
  font-family: $font-2;
  font-size: $first-character-font-size;
  font-style: $first-character-font-style;
  font-weight: $first-character-font-weight;
  line-height: 0.7;
}

