//============================================================================//
//                                   Dropcaps                                 //
//============================================================================//

.firstcharacter, // TODO: standardize
.first-character {
  font-family: $first-character-font-family;
  font-size: $first-character-font-size;
  font-style: $first-character-font-style;
  font-weight: $first-character-font-weight;
  line-height: $first-character-line-height;
}
