// Footnotes & Endnotes

// Prince footnotes
@mixin prince-footnotes {

  @page {
    @footnotes {
      padding-top: 1em;
    }
  }

  // Reset counter at the beginning of a new section

  .front-matter,
  .part,
  .chapter,
  .introduction,
  .back-matter,
  .front-matter-title-wrap,
  .chapter-title-wrap,
  .back-matter-title-wrap {
    counter-reset: footnote !important;
  }

  // Styling for Prince footnotes

  .footnote {
    display: prince-footnote;
    margin-left: 0;
    font-size: $pdf-footnote-font-size;
    line-height: 1.15em;
    text-align: left;
    text-indent: 0;
    counter-increment: footnote;
    footnote-style-position: outside;
  }

  p {
    prince-footnote-policy: keep-with-line;
  }

}

@mixin epub-footnotes {
  .footnotes {
    font-size: $epub-footnote-font-size;
  }
}

@if $type == 'prince' {
  @include prince-footnotes;
} @else if $type == 'epub' {
  @include epub-footnotes;
}

// Our footnote function eats <p> & <blockquote> tags, so users should wrap new
// paragraphs & blockquotes in a span, as per below

span.fn_p { // TODO: Test without element
  display: block;
  text-indent: $para-indent;
}

span.fn_blockquote { // TODO: Test without element
  display: block;
  margin-top: .5em; // TODO: Clarify margins
  margin-bottom: .5em;
  margin-left: 1.5em;
  font-size: .95em;
}

// Footnote & Endnote number markers (in body text)

sup,
.endnote,
.footnote {
  font-size: .8em;
  line-height: .5em;
  vertical-align: top;
}

// Endnotes

.endnotes {
  margin-left: 1.5em;
  line-height: 1.1em;

  h3 {
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-left: -1.5em;
  }

  hr {
    margin-top: 1cm;
    border: 0;
  }

  ol {
    margin-top: 5px;
    margin-left: 0;
    font-size: .85em;
    list-style-position: outside;
  }

  li {
    margin-top: 5px;
  }

  p + p {
    text-indent: 0;
  }
}
