//FOOTNOTES AND ENDNOTES - GLOBAL

/* DEFAULT FOOTNOTE STYING  */

@mixin PDFFootnotes {
/* FOOTNOTE PAGE STYLING FOR PRINCE */

@page {
    @footnotes {
    padding-top: 1em;
  }
}

/* MAKE SURE THAT FOOTNOTES AND ENDNOTES RESTART THE COUNTER AT THE
BEGINNING OF A CHAPTER ETC.*/ 

div.front-matter,
div.part,
div.chapter,
div.chapter.introduction,
div.back-matter,
div.front-matter-title-wrap,
div.chapter-title-wrap, 
div.back-matter-title-wrap {
  counter-reset: footnote !important;
}

/* STYLING FOR THE FOOTNOTES
USING DISPLAY: PRINCE-FOOTNOTE;  */ 

.footnote {
font-size: $pdf-footnote-font-size;
display: prince-footnote;
counter-increment: footnote;
footnote-style-position: outside;
margin-left: 0;
line-height: 1.15;
text-indent: 0;
text-align: left;
}

p { prince-footnote-policy: keep-with-line; }

}

@mixin EPUBFootnotes {
  .footnotes { font-size: $epub-footnote-font-size ; }
}

@if $type == 'prince' {
  @include PDFFootnotes;
} @else if $type == 'epub' {
  @include EPUBFootnotes;
}

/* P TAGS & BLOCKQUOTES GET EATEN IN OUR FOOTNOTE FUNCTION,
SO USERS SHOULD WRAP NEW PARAS & BLOCKQUOTES IN A SPAN, PER BELOW */

span.fn_p {
  display: block;
  text-indent: $para-indent;
}
span.fn_blockquote {
  display: block;
  font-size: 0.95em;
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* ENDNOTE AND FOOTNOTE NUMBER MARKER, IN THE BODY TEXT */

sup,
sup.endnote,
sup.footnote { 
  font-size: 0.8em;
  line-height: 0.5;
  vertical-align: top;
}

/* ENDNOTE STYLING */ 

.endnotes {
  line-height: 1.1;
  margin-left: 1.5em;
}
.endnotes h3 {
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-left: -1.5em;
}
.endnotes hr {
  border: none;
  margin-top: 1cm;
}
.endnotes ol {
  font-size: 0.85em;
  margin-top: 5px;
  margin-left: 0;
  list-style-position: outside;
}
.endnotes li {
   margin-top: 5px;
}
.endnotes p + p {
  text-indent: 0;
}