//SPECIAL MISC  - GLOBAL

/* MISC SPECIAL ELEMENTS */

/* NO HYPHENS */

.no-hyphens,
span.no-hyphens,
p.no-hyphens {
  hyphens: none;
  -webkit-hyphens: none; 
}


/* NO WRAP */

.nowrap, 
span.nowrap {
  white-space: nowrap;
}
/* DISPLAY NONE */

.display-none {
  display: none;
}

/* This allows you to define content that will:
a) only display in EPUB, PDF or WEB
and
b) specifically NOT display in EPUB, PDF, or WEB */ 

@mixin EPUBDisplayNone {

.epub-display-none, 
.not-epub {
  display: none; 
}
.web-only {
  display: none;
}
.pdf-only {
  display: none;
}
}

@mixin PDFDisplayNone {

.pdf-display-none, 
.not-pdf {
  display: none; 
}
.web-only {
  display: none;
}
.epub-only {
  display: none;
}
}

@mixin WEBDisplayNone {

.web-display-none, 
.web-epub {
  display: none; 
}
.epub-only {
  display: none;
}
.pdf-only {
  display: none;
}
}

@if type == 'epub' {
	@include EPUBDisplayNone;
} @else if type == 'prince' {
	@include PDFDisplayNone;
}
@else if type == 'web' {
	@include WEBDisplayNone;
}