// Pullquotes & Asides

// Asides: HTML5 <aside> tag div.aside conversion for old e-readers

.aside,
aside {
  padding: 10px 0;
  margin: 2em 10%;
  line-height: 1.2em;
  text-indent: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

// Pullquotes

.pullquote,
.pullquote-left,
.pullquote-right,
.pullquote-outside,
.pullquote-inside {
  font-family: $font-3;
  font-size: $pullquote-font-size;
  font-style: $pullquote-font-style;
  font-weight: $pullquote-font-weight;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.2em;
  text-align: $pullquote-align;
  text-indent: 0;
}

.pullquote {
  width: 50%;
  margin: 0 auto 1.2em;
}

.pullquote-left {
  float: left;
  width: 45%;
  margin: 1em;
}

.pullquote-right {
  float: right;
  width: 45%;
  margin: 1em;
  border-top: 0;
  border-bottom: 0;
}

.pullquote-outside {
  float: outside;
  width: 50%;
  margin: 1em 0;
}

// Sidebars

.sidebar {
  float: right;
  width: 35%;
  padding: 1em;
  margin-top: .5em;
  margin-right: 0;
  margin-left: 1em;
  font-size: $sidebar-font-size;
  font-style: $sidebar-font-style;
  font-weight: $sidebar-font-weight;
  text-align: $sidebar-align;
}

.sidebar p,
.sidebar p + p {
  text-align: left;
}
