// Textboxes

.textbox {
  padding: $textbox-padding-top $textbox-padding-right $textbox-padding-bottom $textbox-padding-left;
  margin: $textbox-margin-top $textbox-margin-right $textbox-margin-bottom $textbox-margin-left;
  font-size: $textbox-font-size;
  font-style: $textbox-font-style;
  font-weight: $textbox-font-weight;
  line-height: $textbox-line-height;
  border-color: $textbox-border-color;
  border-style: $textbox-border-style;
  border-width: $textbox-border-width;
  border-radius: $textbox-border-radius;

  p {
    margin-top: 0;
    margin-bottom: .5em;
    text-indent: 0;
  }

  .textbox-caption {
    display: block;
    margin: 0;
    font-family: $textbox-caption-font-family;
    font-size: $textbox-caption-font-size;
    font-style: $textbox-caption-font-style;
    font-weight: $textbox-caption-font-weight;
  }

  &.shaded {
    background-color: $textbox-shaded-background-color;
  }
}

@mixin educational-textbox() {
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 2% 3%;
  float: none;

  h3 {
    padding: 15px 0;
    margin: -2% -3% 15px;
    color: $edu-header-text-color;
    text-align: center;
  }
}

.learning-objectives {
  @include educational-textbox();
  background-color: $learning-objectives-background;

  h3 {
    background-color: $learning-objectives-header-background;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.key-takeaways {
  @include educational-textbox();
  background-color: $key-takeaways-background;

  h3 {
    background-color: $key-takeaways-header-background;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.exercises {
  @include educational-textbox();
  background-color: $exercises-background;

  h3 {
    background-color: $exercises-header-background;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.examples { // Examples
  @include educational-textbox();
  background-color: $examples-background;

  h3 {
    background-color: $examples-header-background;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.bcc-box {
  @extend .textbox;
}

.bcc-highlight {
  @extend .learning-objectives;
}

.bcc-success {
  @extend .key-takeaways;
}

.bcc-info {
  @extend .exercises;
}
