//============================================================================//
//                                Blockquotes                                 //
//============================================================================//

.blockquote,
blockquote {
  margin-top: $blockquote-margin-top;
  margin-right: $blockquote-margin-right;
  margin-bottom: $blockquote-margin-bottom;
  margin-left: $blockquote-margin-left;
  font-family: $blockquote-font-family;
  font-size: $blockquote-font-size;
  font-style: $blockquote-font-style;
  font-weight: $blockquote-font-weight;
  line-height: $blockquote-line-height;
  text-align: $blockquote-align;
}

// Styling below should stay as is for web and mobi7, in theory

@mixin mobi-style-blockquote {
  @media amzn-mobi {
    blockquote,
    .blockquote {
      margin-top: 1em;
      margin-right: 5%;
      margin-bottom: 1em;
      margin-left: 5%;
      font-family: serif;
      font-size: .9em;
      font-style: normal;
      font-weight: normal;
    }

    p.bl_nonindent {
      margin-left: 5%;
      font-size: .9em;
      font-style: normal;
      font-weight: normal;
      text-indent: 0;
    }

    p.bl_indent {
      margin-left: 5%;
      font-style: normal;
      font-weight: normal;
      text-indent: 1.5em;
    }
  }
}

@mixin web-style-blockquote {
//better yet, lets fix blockquotes in the style.scss
}

@if $type == 'epub' {
  @include mobi-style-blockquote;
}

@if $type == 'web' {
  @include web-style-blockquote;
}