//============================================================================//
//                                   Body                                     //
//============================================================================//

@import '../utilities';

body {
  font-family: $body-font-family;
  font-size: if-map-get($body-font-size, $type);
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  line-height: if-map-get($body-line-height, $type);
  word-wrap: break-word;
  overflow-wrap: break-word;
 }
