//============================================================================//
//                                   Body                                     //
//============================================================================//

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
 }
