// Lists

ol {
  margin-top: $ol-margin-top;
  margin-bottom: $ol-margin-bottom;
  margin-left: $ol-margin-left;
}

ul {
  margin-top: $ul-margin-top;
  margin-bottom: $ul-margin-bottom;
  margin-left: $ul-margin-left;
}

li + li {
  margin-top: $li-li-margin-top;
}

.upper-alpha {
  list-style-type: upper-alpha;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

.upper-roman {
  list-style-type: upper-roman;
}

.lower-roman {
  list-style-type: lower-roman;
}

// Definition Lists

dl {
  // TODO
}

dt,
dd {
  margin: 0;
}

dt {
  display: block;
  font-style: $dt-font-style;
  font-weight: $dt-font-weight;
}

dd {
  font-style: $dd-font-style;
  font-weight: $dd-font-weight;
}
