@import 'font-stack-web'; // Dynamically generated

$serif-web: serif !default;
$sans-serif-web: sans-serif !default;

$font-1: "Droid Serif", "Georgia", "Times New Roman", $serif-web;
$font-2: "Cardo", "Times New Roman", Times, $serif-web;
$font-3: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, $sans-serif-web;
$font-4: 'Oswald', Arial, Helvetica, $sans-serif-web;
$font-5: 'Open Sans Condensed', Arial, Helvetica, $sans-serif-web;

@import url("https://fonts.googleapis.com/css?family=Cardo:400,400italic,700|Droid+Serif:400,700,400italic,700italic");
