// 'Abril Fatface', @import 'AbrilFatfaceFont'

// ABRIL FATFACE
// CURSIVE, SLAB

@font-face {
  font-family: 'Abril Fatface';
  src: url(themes-book/pressbooks-book/fonts/AbrilFatface-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}