// 'Alegreya Sans SC', @import 'AlegreyaSansSCFont'

@font-face {
  font-family: 'Alegreya SC';
  src: url(themes-book/pressbooks-book/fonts/AlegreyaSC-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}