//ALFA SLAB ONE
//CURSIVE, SLAB

@font-face {
  font-family: 'Alfa Slab One';
  src: url(themes-book/pressbooks-book/fonts/AlfaSlabOne-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

