// 'Amarante', @import 'AmaranteFont'

//Amarante
//CURSIVE

@font-face {
  font-family: 'Amarante';
  src: url(themes-book/pressbooks-book/fonts/Amarante-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
