// 'Antinoou', @import 'AntinoouFont'

//ANTINOOU
//COPTIC FONT

@font-face {
  font-family: 'Antinoou';
  src: url(themes-book/pressbooks-book/fonts/Antinoou.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antinoou';
  src: url(themes-book/pressbooks-book/fonts/AntinoouItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}