// 'Audiowide', @import 'AudiowideFont'

//AUDIOWIDE
//SANS-SERIF, DISPLAY

@font-face {
  font-family: 'Audiowide';
  src: url(themes-book/pressbooks-book/fonts/Audiowide-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
