// 'Belleza', @import 'BellezaFont'

//Belleza
//SEMI-SERIF

@font-face {
  font-family: 'Belleza';
  src: url(themes-book/pressbooks-book/fonts/Belleza-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
