// 'BenchNine', @import 'BenchNineFont'

// BENCHNINE
// SANS-SERIF

@font-face {
  font-family: 'BenchNine';
  src: url(themes-book/pressbooks-book/fonts/BenchNine-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BenchNine';
  src: url(themes-book/pressbooks-book/fonts/BenchNine-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BenchNine';
  src: url(themes-book/pressbooks-book/fonts/BenchNine-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

