// 'Bergamot Ornaments', @import 'BergamotOrnamentsFont'

//BERGAMOT ORNAMENTS
//ORNAMENTS

@font-face {
  font-family: "Bergamot Ornaments";
  src: url(themes-book/pressbooks-book/fonts/Bergamot-Ornaments.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

