// 'Bevan', @import 'BevanFont'

//BEVAN
//DISPLAY, SLAB

@font-face {
  font-family: 'Bevan';
  src: url(themes-book/pressbooks-book/fonts/Bevan.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}