// 'Butcherman', @import 'ButchermanFont'

//BUTCHERMAN
//CURSIVE

@font-face {
  font-family: 'Butcherman';
  src: url(themes-book/pressbooks-book/fonts/Butcherman-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
