// 'Cardo', @import 'CardoFont'

//CARDO: A CONSERVATIVE SERIF
//SERIF

@font-face {
  font-family: 'Cardo';
  font-weight: bold;
  font-style: normal;
  src: url('themes-book/pressbooks-book/fonts/Cardob101.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-weight: normal;
  font-style: italic;
  src: url('themes-book/pressbooks-book/fonts/Cardoi99.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-weight: normal;
  font-style: normal;
  src: url('themes-book/pressbooks-book/fonts/Cardo104s.ttf') format('truetype');
}

// Adjust line height to compensator for a positive descender value.
//
// @since 3.9.5.1
// @param {Number} $line-height The desired line-height
// @return {Number} An adjusted line height based on an esoteric calculation.
@function fix-descender($line-height) {
  @return ceil(($line-height * (1645 + 640) / 2048) * 40) / 40;
}
