// 'Cherry Swash', @import 'CherrySwashFont'

//CHERRY SWASH
//CURSIVE

@font-face {
  font-family: 'Cherry Swash';
  src: url(themes-book/pressbooks-book/fonts/CherrySwash-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cherry Swash';
  src: url(themes-book/pressbooks-book/fonts/CherrySwash-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
