// 'Covered By Your Grace', @import 'CoveredByYourGraceFont'

//COVERED BY YOUR GRACE
//CURSIVE

@font-face {
  font-family: 'Covered By Your Grace';
  src: url(themes-book/pressbooks-book/fonts/CoveredByYourGrace.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

