// 'Droid Sans', @import 'DroidSansFont'

//DROID SANS
//SANS-SERIF

@font-face {
  font-family: 'Droid Sans';
  src: url(themes-book/pressbooks-book/fonts/DroidSans.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Droid Sans';
  src: url(themes-book/pressbooks-book/fonts/DroidSans-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}

