@import 'NotoSansCJKKRFont';

// Sans-serif stack name

$sans-serif-prince-ko: 'Noto Sans CJK KR';
$sans-serif-web-ko: 'Noto Sans CJK KR';

// Serif stack name

$serif-prince-ko: 'Noto Sans CJK KR';
$serif-web-ko: 'Noto Sans CJK KR';

