// NOTO KUFI ARABIC
// ARABIC FONT SANS

@import "NotoKufiArabicFont";

// Sans-serif stack name

$sans-serif-epub-ar: 'Noto Kufi Arabic';
$sans-serif-prince-ar: 'Noto Kufi Arabic';
$sans-serif-web-ar: 'Noto Kufi Arabic';

// NOTO NASKH ARABIC
// ARABIC FONT SERIF

@import "NotoNaskhArabicFont";

// Serif stack name

$serif-epub-ar: 'Noto Naskh Arabic';
$serif-prince-ar: 'Noto Naskh Arabic';
$serif-web-ar: 'Noto Naskh Arabic';
