// Sans-serif

@import "NotoSansCopticFont";

// Sans-serif stack name

$sans-serif-epub-cop: 'Noto Sans Coptic';
$sans-serif-prince-cop: 'Noto Sans Coptic';
$sans-serif-web-cop: 'Noto Sans Coptic';

//ANTINOOU
//COPTIC FONT

// Serif

@import "AntinoouFont";

// Serif stack name

$serif-epub-cop: 'Antinoou';
$serif-prince-cop: 'Antinoou';
$serif-web-cop: 'Antinoou';
