@import "NotoSansTibetanFont";

// Sans-serif stack name

$sans-serif-epub-bo: 'Noto Sans Tibetan';
$sans-serif-prince-bo: 'Noto Sans Tibetan';
$sans-serif-web-bo: 'Noto Sans Tibetan';

// Serif stack name

$serif-epub-bo: 'Noto Sans Tibetan';
$serif-prince-bo: 'Noto Sans Tibetan';
$serif-web-bo: 'Noto Sans Tibetan';
