@import 'SBLHebrewFont';

// Sans-serif stack name

$sans-serif-epub-he: 'SBL Greek';
$sans-serif-prince-he: 'SBL Greek';
$sans-serif-web-he: 'SBL Greek';

// Serif stack name

$serif-epub-he: 'SBL Greek';
$serif-prince-he: 'SBL Greek';
$serif-web-he: 'SBL Greek';