@import 'NotoSansFont';
@import 'NotoSerifFont';

// Sans-serif stack name

$sans-serif-epub-ta: 'Noto Sans';
$sans-serif-prince-ta: 'Noto Sans';
$sans-serif-web-ta: 'Noto Sans';

// Serif stack-name

$serif-epub-ta: 'Noto Serif';
$serif-prince-ta: 'Noto Serif';
$serif-web-ta: 'Noto Serif';