@font-face {
  font-family: 'Noto Sans Syriac';
  font-style: normal;
  font-weight: normal;
  src: url(themes-book/pressbooks-book/fonts/NotoSansSyriacEstrangela-Regular.ttf) format('truetype');
}

// Sans-serif stack name

$sans-serif-epub-syr: 'Noto Sans Syriac';
$sans-serif-prince-syr: 'Noto Sans Syriac';
$sans-serif-web-syr: 'Noto Sans Syriac';

// Serif stack-name

$serif-epub-syr: 'Noto Sans Syriac';
$serif-prince-syr: 'Noto Sans Syriac';
$serif-web-syr: 'Noto Sans Syriac';