 @import 'GFSNeohellenicFont';

// Sans-serif stack name

$sans-serif-epub-grc: 'GFS Neohellenic';
$sans-serif-prince-grc: 'GFS Neohellenic';
$sans-serif-web-grc: 'GFS Neohellenic';

 @import 'SBLGreekFont';

// Serif stack name

$serif-epub-grc: 'SBL Greek';
$serif-prince-grc: 'SBL Greek';
$serif-web-grc: 'SBL Greek';