@import 'NotoSansTamilFont';

// Sans-serif stack name

$sans-serif-epub-ta: 'Noto Sans Tamil';
$sans-serif-prince-ta: 'Noto Sans Tamil';
$sans-serif-web-ta: 'Noto Sans Tamil';

// Serif stack-name

$serif-epub-ta: 'Noto Sans Tamil';
$serif-prince-ta: 'Noto Sans Tamil';
$serif-web-ta: 'Noto Sans Tamil';