@import 'NotoSansGujaratiFont';

// Sans-serif stack name

$sans-serif-epub-gu: 'Noto Sans Gujarati';
$sans-serif-prince-gu: 'Noto Sans Gujarati';
$sans-serif-web-gu: 'Noto Sans Gujarati';

@import 'EkatraFont';

// Serif stack name

$serif-epub-gu: 'Ekatra';
$serif-prince-gu: 'Ekatra';
$serif-web-gu: 'Ekatra';

