@import 'NotoSansCanadianAboriginalFont';

// Sans-serif stack name

$sans-serif-prince-cre: 'Noto Sans Canadian Aboriginal';
$sans-serif-web-cre: 'Noto Sans Canadian Aboriginal';

// Serif stack name

$serif-prince-cre: 'Noto Sans Canadian Aboriginal';
$serif-web-cre: 'Noto Sans Canadian Aboriginal';
