@import "SBLGreekFont";

// Sans-serif stack name

$sans-serif-epub-grc: 'SBL Greek';
$sans-serif-prince-grc: 'SBL Greek';
$sans-serif-web-grc: 'SBL Greek';

// Serif stack name

$serif-epub-grc: 'SBL Greek';
$serif-prince-grc: 'SBL Greek';
$serif-web-grc: 'SBL Greek';