@import "NotoSansCJKSCFont";

// Sans-serif stack name

$sans-serif-prince-zh_HANS: 'Noto Sans CJK SC';
$sans-serif-web-zh_HANS: 'Noto Sans CJK SC';

// Serif stack name

$serif-prince-zh_HANS: 'Noto Sans CJK SC';
$serif-web-zh_HANS: 'Noto Sans CJK SC';
