@import 'NotoSansCJKJPFont';

// Sans-serif stack name

$sans-serif-prince-ja: 'Noto Sans CJK JP';
$sans-serif-web-ja: 'Noto Sans CJK JP';

// Serif stack name

$serif-prince-ja: 'Noto Sans CJK JP';
$serif-web-ja: 'Noto Sans CJK JP';

