@import "NotoSansCJKTCFont";

// Sans-serif stack name

$sans-serif-prince-zh_HANT: 'Noto Sans CJK TC';
$sans-serif-web-zh_HANT: 'Noto Sans CJK TC';

// Serif stack name

$serif-prince-zh_HANT: 'Noto Sans CJK TC';
$serif-web-zh_HANT: 'Noto Sans CJK TC';