@import 'NotoSansCanadianAboriginalFont';

// Sans-serif stack name

$sans-serif-prince-cans: 'Noto Sans Canadian Aboriginal';
$sans-serif-web-cans: 'Noto Sans Canadian Aboriginal';

// Serif stack name

$serif-prince-cans: 'Noto Sans Canadian Aboriginal';
$serif-web-cans: 'Noto Sans Canadian Aboriginal';
