@import 'NotoSansSyriacFont';

// Sans-serif stack name

$sans-serif-epub-syr: 'Noto Sans Syriac';
$sans-serif-prince-syr: 'Noto Sans Syriac';
$sans-serif-web-syr: 'Noto Sans Syriac';

// Serif stack-name

$serif-epub-syr: 'Noto Sans Syriac';
$serif-prince-syr: 'Noto Sans Syriac';
$serif-web-syr: 'Noto Sans Syriac';