@import 'NotoSansDevanagariFont';
@import 'NotoSerifDevanagariFont';

// Sans-serif stack name

$sans-serif-epub-hi: 'Noto Sans Devanagari';
$sans-serif-prince-hi: 'Noto Sans Devanagari';
$sans-serif-web-hi: 'Noto Sans Devanagari';

// Serif stack name

$serif-epub-hi: 'Noto Serif Devanagari';
$serif-prince-hi: 'Noto Serif Devanagari';
$serif-web-hi: 'Noto Serif Devanagari';
