// 'GFS Didot', @import 'GFSDidotFont'

//GFSDIDOT
//SERIF, ANCIENT GREEK

@font-face {
  font-family: 'GFS Didot';
  src: url(themes-book/pressbooks-book/fonts/GFSDidot-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
