// 'Gilda Display', @import 'GildaDisplayFont'


//GILDA DISPLAY
//SERIF

@font-face {
  font-family: "Gilda Display";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/GildaDisplay-Regular.ttf) format("truetype");
}

