// 'Great Vibes', @import 'GreatVibesFont'

//GREATVIBES
//

@font-face {
  font-family: "Great Vibes";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/GreatVibes-Regular.ttf) format("truetype");
}
