// 'Griffy', @import 'GriffyFont'

//GRIFFY
//DISPLAY

@font-face {
  font-family: 'Griffy';
  src: url(themes-book/pressbooks-book/fonts/Griffy-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}