// 'Gruppo', @import 'GruppoFont'

//GRUPPO
//SANS-SERIF

@font-face {
  font-family: 'Gruppo';
  src: url(themes-book/pressbooks-book/fonts/Gruppo-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
