// 'IM Fell French Canon SC', @import 'IMFellFrenchCanonSCFont'

//IM FELL FRENCH CANON SC
//DISPLAY, SERIF, SMALL CAPS

@font-face {
  font-family: 'IM Fell French Canon SC';
  src: url(themes-book/pressbooks-book/fonts/IMFeFCsc28P.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}