// 'IM Fell English', @import 'IMFellEnglishFont'

//IM FELL ENGLISH
//DISPLAY

@font-face {
  font-family: 'IM Fell English';
  src: url(themes-book/pressbooks-book/fonts/IMFeENrm28P.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IM Fell English';
  src: url(themes-book/pressbooks-book/fonts/IMFeENit28P.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}

