// 'IM Fell French Canon', @import 'IMFellFrenchCanonFont'

//IM FELL FRENCH CANON
//DISPLAY, SERIF

@font-face {
  font-family: 'IM Fell French Canon';
  src: url(themes-book/pressbooks-book/fonts/IMFeFCrm28P.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'IM Fell French Canon';
  src: url(themes-book/pressbooks-book/fonts/IMFeFCit28P.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}
