// 'Linux Biolinum', @import 'LinuxBiolinum'

@font-face {
  font-family: "Linux Biolinum";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/LinBiolinum_Rah.ttf) format("truetype");
}

@font-face {
  font-family: "Linux Biolinum";
  font-weight: bold;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/LinBiolinum_RBah.ttf) format("truetype");
}

@font-face {
  font-family: "Linux Biolinum";
  font-weight: normal;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/LinBiolinum_RIah.ttf) format("truetype");
}
