// 'Linux Libertine', @import 'LinuxLibertine'

//LINUX LIBERTINE
//SERIF

@font-face {
  font-family: "Linux Libertine";
  font-weight: bold;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/LinLibertine_RBah.ttf) format("truetype");
}

@font-face {
  font-family: "Linux Libertine";
  font-weight: bold;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/LinLibertine_RBIah.ttf) format("truetype");
}

@font-face {
  font-family: "Linux Libertine";
  font-weight: normal;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/LinLibertine_RIah.ttf) format("truetype");
}

@font-face {
  font-family: "Linux Libertine";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/LinLibertine_Rah.ttf) format("truetype");
}
