// 'Marcellus', @import 'MarcellusFont'

//MARCELLUS
//SERIF

@font-face {
  font-family: 'Marcellus';
  src: url(themes-book/pressbooks-book/fonts/Marcellus-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
