// 'Marcellus SC', @import 'MarcellusSCFont'

//MARCELLUS SC
//SERIF, SMALL-CAPS

@font-face {
  font-family: 'Marcellus SC';
  src: url(themes-book/pressbooks-book/fonts/MarcellusSC-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}