// 'Medula One', @import 'MedulaOneFont'

//MEDULAONE
//

@font-face {
  font-family: "Medula One";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/MedulaOne-Regular.ttf) format("truetype");
}
