// 'Noto Sans CJK KR', @import 'NotoSansCJKKRFont'

// NOTO SANS CJK KR
// KOREAN FONT

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('uploads/assets/fonts/NotoSansCJKkr-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansCJKkr-Bold.otf') format('opentype');
}
