// 'Noto Sans Coptic', @import 'NotoSansCopticFont'

@font-face {
  font-family: 'Noto Sans Coptic';
  font-style: normal;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/NotoSansCoptic-Regular.ttf) format('truetype');
}