// 'Noto Sans Canadian Aboriginal', @import 'NotoSansCanadianAboriginal'

// NOTO SANS CANADIAN ABORIGINAL
// CANADIAN INDIGENOUS FONT SANS SERIF
// Covers Chipewyan, Inuktitut, Plains Cree, Cree, Moose Cree, Slave,
// Northern Cree, Naskapi, Swampy Cree, Southern East Cree, Ojibwa

@font-face {
  font-family: 'Noto Sans Canadian Aboriginal';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/NotoSansCanadianAboriginal-Regular.ttf') format('truetype');
}


