// 'Noto Sans CJK SC', @import 'NotoSansCJKSCFont'

// NOTO SANS CJK SC
// SIMPLIFIED CHINESE FONT

@font-face {
  font-family: 'Noto Sans CJK SC';
  font-style: normal;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/NotoSansCJKsc-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  font-style: normal;
  font-weight: bold;
  src: url(themes-book/pressbooks-book/fonts/NotoSansCJKsc-Bold.otf) format('truetype');
}