// 'Noto Sans Syriac', @import 'NotoSansSyriacFont'

@font-face {
  font-family: 'Noto Sans Syriac';
  font-style: normal;
  font-weight: normal;
  src: url(themes-book/pressbooks-book/fonts/NotoSansSyriacEstrangela-Regular.ttf) format('truetype');
}