// 'Noto Serif', @import 'NotoSerifFont'

//NOTOSERIF
//SERIF

@font-face {
  font-family: 'Noto Serif';
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/NotoSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Serif';
  font-weight: normal;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/NotoSerif-Italic.ttf) format("truetype");
}
