// 'Noto Sans CJK SC', @import 'NotoSansCJKSCFont'

// NOTO SANS CJK SC
// SIMPLIFIED CHINESE FONT

@font-face {
  font-family: 'Noto Sans CJK SC';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/NotoSansCJKsc-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  font-style: normal;
  font-weight: bold;
  src: url('uploads/assets/fonts/NotoSansCJKsc-Bold.otf') format('truetype');
}
