// 'Noto Sans Tibetan', @import 'NotoSansTibetanFont'

@font-face {
  font-family: 'Noto Sans Tibetan';
  font-style: normal;
  font-weight: normal;
  src: url(themes-book/pressbooks-book/fonts/NotoSansTibetan-Regular.ttf) format('truetype');
}