// 'Noto Kufi Arabic', @import 'NotoKufiArabicFont'

// NOTO KUFI ARABIC
// ARABIC FONT SANS

@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url(themes-book/pressbooks-book/fonts/NotoKufiArabic-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url(themes-book/pressbooks-book/fonts/NotoKufiArabic-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}
