// 'Noto Sans CJK JP', @import 'NotoSansCJKJPFont'

// NOTO SANS CJK JP
// JAPANESE FONT

@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 200;
  src: url(themes-book/pressbooks-book/fonts/NotoSansCJKjp-Light.otf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/NotoSansCJKjp-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: bold;
  src: url(themes-book/pressbooks-book/fonts/NotoSansCJKjp-Bold.otf) format('truetype');
}

