// 'Noto Sans Devanagari', @import 'NotoSansDevanagariFont'

@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/NotoSansDevanagari-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 700;
  src: url('uploads/assets/fonts/NotoSansDevanagari-Regular.ttf') format('truetype');
}
