// 'Noto Sans', @import 'NotoSansFont'

//NOTOSANS
//SANS-SERIF

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/NotoSans-Italic.ttf) format("truetype");
}
