// 'Noto Sans Gujarati', @import 'NotoSansGujaratiFont'

@font-face {
  font-family: 'Noto Sans Gujarati';
  font-style: normal;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/NotoSansGujarati-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Gujarati';
  font-style: normal;
  font-weight: bold;
  src: url(themes-book/pressbooks-book/fonts/NotoSansGujarati-Bold.ttf) format('truetype');
}
