// 'Noto Sans Tamil', @import 'NotoSansTamilFont'

@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: normal;
  src: url(themes-book/pressbooks-book/fonts/NotoSansTamil-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-weight: bold;
  src: url(themes-book/pressbooks-book/fonts/NotoSansTamil-Bold.ttf) format('truetype');
}