// 'Noto Serif Devanagari', @import 'NotoSerifDevanagariFont'

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 400;
  src: url('uploads/assets/fonts/NotoSerifDevanagari-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif Devanagari';
  font-style: normal;
  font-weight: 700;
  src: url('uploads/assets/fonts/NotoSerifDevanagari-Regular.ttf') format('truetype');
}
