// 'Poiret One', @import 'PoiretOneFont'

//POIRETONE
//SANS-SERIF

@font-face {
  font-family: 'Poiret One';
  src: url(themes-book/pressbooks-book/fonts/PoiretOne-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}