// 'Roboto', @import 'RobotoFont'

//ROBOTO
//SANS-SERIF

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url(themes-book/pressbooks-book/fonts/Roboto-ThinItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(themes-book/pressbooks-book/fonts/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(themes-book/pressbooks-book/fonts/Roboto-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url(themes-book/pressbooks-book/fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(themes-book/pressbooks-book/fonts/Roboto-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url(themes-book/pressbooks-book/fonts/Roboto-BlackItalic.ttf) format('truetype');
}
