// 'SBL Greek', @import 'SBLGreekFont'

//SBL GREEK
//GREEK FONTS (INCLUDING ANCIENT GREEK DIACRITICS)

@font-face {
  font-family: 'SBL Greek';
  src: url(themes-book/pressbooks-book/fonts/SBL-grk.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

