// 'SBL Hebrew', @import 'SBLHebrewFont'

//SBL HEBREW
//HEBREW FONT, INCLUDING BIBLICAL DIACRITICS

@font-face {
  font-family: 'SBL Hebrew';
  src: url(themes-book/pressbooks-book/fonts/SBL_Hbrw.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}