// 'Sorts Mill Goudy', @import 'SortsMillGoudyFont'

//SORTS MILL GOUDY
//SERIF, A LITTLE BIT ROUNDED

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/SortsMillGoudy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-weight: normal;
  font-style: italic;
  src: url(themes-book/pressbooks-book/fonts/SortsMillGoudy-Italic.ttf) format('truetype');
}
