// 'Special Elite', @import 'SpecialEliteFont'

//SPECIALELITE

@font-face {
  font-family: "Special Elite";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/SpecialElite.ttf) format("truetype");
}