//TINOS NGH
//SERIF, No greek, No Hebrew

@font-face {
  font-family: 'Tinos NGH';
  src: url(themes-book/pressbooks-book/fonts/TinosNGH-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Tinos NGH';
  src: url(themes-book/pressbooks-book/fonts/TinosNGH-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Tinos NGH';
  src: url(themes-book/pressbooks-book/fonts/TinosNGH-Italic.ttf) format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Tinos NGH';
  src: url(themes-book/pressbooks-book/fonts/TinosNGH-BoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: bold;
}