// 'WWDesigns', @import 'WWDesignsFont'

//WWDESIGNS
//FANTASY

@font-face {
  font-family: "WWDesigns";
  font-weight: normal;
  font-style: normal;
  src: url(themes-book/pressbooks-book/fonts/WWDesigns.ttf) format("truetype");
}

