$color__background-body: #fff;
$color__background-screen: #3a3a3a;
$color__background-book: #f6f6f6;
$color__background-hr: #ccc;
$color__background-button: #ddd;
$color__background-button-alt: #be140b;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #222;
$color__text-input: #777;
$color__text-input-focus: #111;
$color__link: #444;
$color__link-visited: #444;
$color__link-hover: #444;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
