name: Add built assets to Dependabot PRs

on:
  pull_request_target:
    branches:
      - dev
    paths:
      - package.json
      - package-lock.json

jobs:
  autobuild:
    if: startsWith(github.head_ref, 'autobuild') == false && startsWith(github.head_ref, 'dependabot') == true && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Check out Dependabot branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Cache Node modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build assets
        run: npm run build
      - name: Create pull request with built assets
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "chore(build): build assets"
          title: "chore(build): build assets"
          body: This is an auto-generated PR to build assets changed by Dependabot.
          labels: dependencies, automerge
          branch: "autobuild/${{ github.head_ref }}"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge pull request with built assets into Dependabot branch
        if: ${{ steps.cpr.outputs.pull-request-number }}
        uses: "pascalgn/automerge-action@v0.15.2"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: automerge
          MERGE_METHOD: squash
          PULL_REQUEST: "${{ steps.cpr.outputs.pull-request-number }}"
