name: Npm build ⚙️

on:
  pull_request:
    branches: [dev]
    paths:
      - "src/assets/**/*"

jobs:
  update-npm-build:
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]' }}
    uses: pressbooks/reusable-workflows/.github/workflows/npm-build.yml@main
